.hole14 .zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    pointer-events: all;
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

.zone-label-container {
    position: absolute;
    top: 20px;  
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 1000;
    display: none;
}

.zone-name-display {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    display: none;
    z-index: 1000;
    pointer-events: none;
}

/* Hover effects for different zones */
.hole14 #green:hover {
    background-color: rgba(84, 240, 64, 0.4);
}

.hole14 #shortright:hover,
.hole14 #shortleft:hover,
.hole14 #longleft:hover,
.hole14 #longright:hover {
    background-color: rgba(0, 255, 0, 0.2);
}

.hole14 #shortfairway:hover,
.hole14 #midfairway:hover,
.hole14 #longfairway:hover {
    background-color: rgba(0, 255, 0, 0.3);
}

.hole14 #shortrightrough:hover,
.hole14 #shortleftrough:hover,
.hole14 #midrightrough:hover,
.hole14 #midleftrough:hover,
.hole14 #longrightrough:hover,
.hole14 #longleftrough:hover {
    background-color: rgba(255, 255, 0, 0.3);
}

.hole14 #shortlefttrees:hover,
.hole14 #midlefttrees:hover,
.hole14 #longlefttrees:hover,
.hole14 #shortrighttrees:hover,
.hole14 #midrighttrees:hover,
.hole14 #longtrees:hover {
    background-color: rgba(2, 37, 2, 0.2);
}

.hole14 #shortrightouterrough:hover,
.hole14 #longrightouterrough:hover {
    background-color: rgba(14, 5, 0, 0.2);
}

.hole14 #teebox:hover {
    background-color: rgba(139, 69, 19, 0.2);
}

/* Green Zone */
.hole14 #green {
    clip-path: path('m 206.90417,141.15521 4.23334,-1.32291 2.77812,-2.24896 1.45521,-2.91042 1.5875,-5.42396 5.95312,-21.03437 1.45521,-7.01146 0.92604,-5.423961 -0.52916,-3.307292 -1.71979,-4.630208 -3.96875,-7.276042 -4.23334,-5.55625 -3.43958,-3.042709 -3.175,-1.5875 -4.89479,-0.661458 -3.96875,0.529167 -3.96875,0.661458 -2.38125,1.455208 -2.51355,1.984376 -1.05833,3.175 -0.79375,5.423958 v 7.011459 l 0.52917,9.260416 0.92604,10.054168 0.13229,9.39271 v 9.26041 l 0.13229,2.91042 1.45521,3.96875 2.51354,4.23334 3.175,1.85208 4.63021,0.92604 z');
}

/* Short Right Zone */
.hole14 #shortright {
    clip-path: path('m 200.28959,141.2875 -5.82084,13.49375 -2.38125,8.73125 11.37709,10.31875 9.78958,0.52917 20.10834,-7.40833 11.37708,-4.23334 23.01875,-3.43958 8.99583,-17.99167 8.20209,-15.61041 5.29166,-13.22917 0.26459,-7.40833 -1.32292,-4.7625 -65.61667,2.91041 -1.32291,6.08542 -7.9375,27.25208 -3.70417,2.91042 -3.96875,1.32292 z');
}

/* Short Left Zone */
.hole14 #shortleft {
    clip-path: path('m 200.55906,140.69068 -5.61266,13.84456 -2.99342,8.98026 -20.20558,-5.23848 -20.39266,-1.12253 -23.199,2.43215 -14.59291,-0.37418 0.37417,-52.94609 75.958,-2.24507 0.93545,8.79317 -0.37418,17.39925 2.80633,7.10937 2.05798,2.05797 z');
}

/* Long Left Zone */
.hole14 #longleft {
    clip-path: path('m 203.72917,70.51146 0.92604,-14.552084 -7.54062,-1.058333 -8.59896,-5.953125 -4.63021,-3.571875 -7.9375,7.276042 -10.31875,1.852083 -6.08542,-3.175 -8.20208,6.614583 -7.14375,3.175001 h -11.90625 l -11.90625,6.879166 -4.23333,12.435417 -2.64584,17.462501 0.26459,8.466664 76.2,-1.5875 -0.6371,-8.330787 -0.56127,-13.096209 1.12253,-6.080382 0.65482,-2.712786 4.67721,-3.367596 z');
}

/* Long Right Zone */
.hole14 #longright {
    clip-path: path('m 288.92501,100.27709 3.43958,-3.704171 -2.64583,-15.610417 -10.05417,-16.404167 -12.43542,-12.435417 -12.96458,-8.73125 -17.4625,-8.202084 -14.2875,-3.96875 -5.55625,-0.529167 v 13.229167 l -6.87917,8.731251 -5.55625,3.175 -1.32291,14.2875 4.23333,0.529167 4.23333,1.852083 2.91042,2.910417 3.96875,5.55625 4.23333,7.14375 2.11667,7.9375 -1.05833,7.937498 z');
}

/* Short Fairway Zone */
.hole14 #shortfairway {
    clip-path: path('m 177.53542,472.81043 2.64583,23.8125 -1.85208,28.83958 -4.23333,28.83959 1.32291,23.8125 4.7625,28.575 8.46667,35.18958 2.64583,15.61042 2.11667,19.57917 -2.91042,7.9375 -10.05416,17.99166 -5.02709,10.31875 -1.85208,14.81667 0.79375,10.31875 7.14375,6.61459 7.9375,2.91041 9.525,0.26459 8.99584,-2.64584 7.67291,-5.02708 2.91042,-7.40833 v -9.78959 l 1.05833,-8.73125 2.64584,-5.29167 8.99583,-6.61458 20.6375,-8.46667 14.81667,-6.87916 6.61458,-6.08542 0.26458,-2.91042 -0.26458,-22.225 0.26458,-18.78541 4.49792,-14.02292 2.91042,-11.37708 -1.32292,-7.67292 -4.49792,-8.73125 -7.14375,-10.58334 -5.29166,-17.99166 -11.37709,-46.56667 -11.90625,-46.83125 z');
}

/* Mid Fairway Zone */
.hole14 #midfairway {
    clip-path: path('m 177.73424,473.33436 62.11344,1.12252 -4.63309,-14.34645 -8.06979,-23.28334 -11.77396,-21.29895 -16.53646,-30.82396 -8.46667,-17.85938 -4.89479,-13.62604 -1.19062,-6.87917 2.77812,-15.74271 3.04271,-10.45104 4.23333,-8.46667 3.43959,-5.15937 2.38125,-6.35 1.5875,-4.7625 -55.43021,0.26458 -6.87917,13.75834 -6.35,13.22916 -2.11667,9.39271 -1.05833,11.77396 0.39687,12.17083 1.5875,11.90625 2.91042,11.64167 5.15938,12.17083 5.55625,10.98021 6.61458,12.30313 8.59896,14.55208 5.95312,12.17084 5.15938,10.31875 3.70417,9.525 z');
}

/* Long Fairway Zone */
.hole14 #longfairway {
    clip-path: path('m 201.08334,296.33334 -54.76875,-0.52917 4.47888,-8.43597 2.61924,-9.35442 1.49671,-7.29647 -0.93544,-7.85772 -2.80633,-10.10279 -5.61266,-18.1476 -1.87089,-9.9157 -0.18709,-9.16735 2.05798,-10.47696 2.05797,-11.78659 1.6838,-9.72861 3.74178,-10.28988 3.36759,-5.79975 7.85772,-9.9157 7.10937,0.37418 21.14103,5.61266 12.16076,11.22532 -2.80633,6.5481 -1.49671,12.53495 -1.49671,10.47696 -1.12253,7.29646 -2.43215,8.04481 1.12253,10.66406 4.8643,31.05672 2.05798,13.65748 1.30962,10.10277 -0.74836,4.86431 z');
}

/* Long Left Rough Zone */
.hole14 #longleftrough {
    clip-path: path('m 130.58789,336.75961 -27.31494,-0.37417 -16.089628,-40.41117 3.367596,-45.27545 11.225322,-18.33469 1.49671,-13.47038 -8.980258,-17.58634 4.864304,-44.5271 24.321534,1.87089 31.80507,-2.24507 9.72861,1.87089 -7.85772,8.60608 -3.74178,6.73519 -3.36759,10.47696 -5.98684,31.4309 0.74835,10.85115 2.24507,9.35443 7.85772,26.56659 1.12254,10.1028 -5.23849,16.83797 -8.60608,16.83798 -8.2319,16.46381 z');
}

/* Long Right Rough Zone */
.hole14 #longrightrough {
    clip-path: path('m 267.16263,159.77373 -4.11595,19.08304 5.98685,23.199 -26.56661,10.10279 -22.45064,2.99342 -4.8643,18.70886 2.99341,18.70887 5.61266,18.33468 v 20.57977 l 13.84457,9.35443 19.08304,12.72204 19.45722,4.49011 17.96053,-2.99342 -1.12255,29.18585 -106.26636,-8.98025 2.61924,-13.84457 5.23848,-10.47697 3.3676,-4.49013 3.36759,-11.5995 3.3676,-7.48355 -9.72861,-68.10027 3.36759,-5.98684 3.3676,-34.79849 2.61924,-5.61266 9.35443,0.37417 31.4309,-10.85114 z');
}

/* Mid Right Rough Zone */
.hole14 #midrightrough {
    clip-path: path('m 291.57084,343.95834 -11.64167,41.80417 -5.29166,26.45833 8.46666,25.92917 16.40417,21.16667 12.17083,24.87083 -72.49583,-8.46666 -12.43542,-38.89376 -33.3375,-62.44166 -3.43958,-7.67292 -5.55625,-14.81667 -0.26459,-6.87916 2.38125,-11.37709 z');
}

/* Mid Left Rough Zone */
.hole14 #midleftrough {
    clip-path: path('m 178.06459,473.3396 -27.25209,-1.32292 -9.26041,-25.13542 -18.25625,-26.9875 -12.96459,-27.51667 -3.175,-28.83958 -4.23333,-27.51667 h 28.575 l -1.05833,6.87917 0.52916,13.49375 1.32292,11.37708 3.175,11.90625 4.49792,10.84792 20.10833,36.5125 8.99583,18.52083 5.29167,11.1125 z');
}

/* Short Left Rough Zone */
.hole14 #shortleftrough {
    clip-path: path('m 174.625,738.98127 -54.76875,-1.32292 c 0,0 12.17084,-67.99792 12.43542,-69.58542 0.26458,-1.5875 -2.38125,-68.2625 -2.38125,-68.2625 l -11.90625,-38.89375 -0.79375,-38.36458 3.175,-12.7 16.93333,-1.05834 12.96459,-6.35 4.23333,-10.31875 -3.175,-20.37291 26.9875,0.79375 2.11667,22.225 -1.32292,33.60208 -4.49792,25.92917 1.05834,23.01875 3.43958,24.34167 8.73125,35.18958 6.08542,41.53958 -2.64584,7.67292 -14.81666,26.45833 -2.38125,15.61042 1.5875,11.1125 z');
}

/* Short Right Rough Zone */
.hole14 #shortrightrough {
    clip-path: path('m 311.67917,483.65835 8.73125,21.16666 5.02709,44.18542 4.49791,35.18958 4.23334,25.40001 -14.02292,13.75833 -14.02292,8.73125 -4.91016,8.50201 2.24507,11.9737 8.98025,10.85112 9.35445,16.4638 v 19.45725 l -5.23849,20.95391 4.86431,19.8314 h -105.8922 l 2.61924,-5.98684 0.74836,-19.08304 2.82709,-6.49873 8.99583,-6.35 36.24792,-16.13958 6.08542,-5.82083 -0.26459,-43.39167 7.40834,-24.60625 -0.52917,-7.40833 -12.43542,-20.37292 -16.93333,-63.76459 -11.37708,-46.0375 z');
}

/* Short Left Trees Zone */
.hole14 #shortlefttrees {
    clip-path: path('m 118.24004,517.86146 -47.146343,2.24507 -4.49013,244.71196 17.212159,188.5854 17.212154,48.64301 46.39799,-2.24504 -16.4638,-74.83546 15.71545,-41.15951 -0.74835,-47.14635 -21.70229,-35.92102 -8.98026,-44.15293 7.48355,-22.45064 c 0,0 11.97367,-62.8618 12.72203,-65.85521 0.74836,-2.99342 -2.99342,-69.59698 -2.99342,-69.59698 l -12.72203,-39.66279 z');
}

/* Mid Left Trees Zone */
.hole14 #midlefttrees {
    clip-path: path('m 95.041045,200.55906 -39.662797,0.74835 -2.245064,79.32561 9.728611,104.76966 12.722029,64.35849 -3.741774,74.08712 46.77217,-5.23849 2.61924,-7.48355 13.84456,-1.12252 16.08963,-6.36101 4.11595,-11.22534 -3.3676,-22.07647 -10.85114,-25.44405 -29.56001,-53.13318 -7.10937,-57.24914 -16.463803,-38.91444 3.741772,-44.5271 11.599501,-19.08304 1.12253,-13.47039 z');
}

/* Long Left Trees Zone */
.hole14 #longlefttrees {
    clip-path: path('M 184.09525,45.275459 183.3469,-0.74835469 120.11093,0 108.13725,11.599498 99.905352,32.553429 90.550918,60.242552 78.577244,87.557498 l -7.109371,17.960512 -4.115951,25.44406 -7.857723,26.19242 -5.612662,22.82481 1.496711,22.82482 41.159508,-1.87089 3.741774,-43.40457 14.59291,1.12254 0.37418,-52.75901 1.87089,-23.573174 3.74177,-13.096206 11.5995,-7.857726 12.72203,0.748355 14.59292,-9.72861 3.36759,3.741772 14.21874,-2.61924 z');
}

/* Short Right Trees Zone */
.hole14 #shortrighttrees {
    clip-path: path('m 334.51454,606.16731 44.9013,-7.48355 -2.24507,29.18584 -0.37417,32.55341 4.49011,78.95143 -61.36508,0.37417 -4.49013,-20.57974 5.23848,-18.70887 1.12255,-20.57977 -19.08305,-27.68912 -1.87089,-13.47036 4.49013,-8.98028 13.84457,-5.98683 13.84456,-14.96709 z');
}

/* Mid Right Trees Zone */
.hole14 #midrighttrees {
    clip-path: path('m 268.28515,201.30741 77.08054,2.61924 1.87089,56.87496 6.36101,71.84206 8.60608,57.62329 13.09621,54.25573 2.61924,30.68254 -72.96457,-1.4967 -4.49014,-12.34787 -18.3347,-22.07646 -8.98025,-26.94077 16.83798,-69.59699 3.36759,-1.12252 -0.37417,-25.44405 -15.71543,2.24504 -22.07648,-4.49011 -32.55343,-22.45064 -0.37417,-20.95394 -8.23191,-37.04356 5.61266,-19.8314 23.199,-2.61924 z');
}

/* Long Trees Zone */
.hole14 #longtrees {
    clip-path: path('m 182.59855,-0.74835469 59.68128,0.56126602 -2.61924,13.65747267 -5.98684,12.160764 -6.73519,6.735192 -9.54152,-1.122532 v 12.909119 l -6.54811,8.418992 -5.98683,3.928861 -8.41899,-1.122532 -12.72203,-9.541523 z');
}

/* Short Right Outer Rough Zone */
.hole14 #shortrightouterrough {
    clip-path: path('m 306.07707,472.21181 71.0937,1.49672 5.61266,114.49826 -4.11596,11.59949 -45.27545,7.85773 -14.21873,-102.89877 z');
}

/* Long Right Outer Rough Zone */
.hole14 #longrightouterrough {
    clip-path: path('m 269.03353,201.68159 77.4547,2.99342 v -27.68912 l 4.86429,-63.98433 -3.74176,-40.036978 -14.21874,-35.546846 -17.21215,-20.953933 -23.19901,-16.83798036 -52.759,0.74835472 -1.17081,13.64873964 -5.82084,11.244792 -7.14375,7.540625 10.05417,2.778125 17.85938,8.202084 13.36146,8.863542 12.03854,12.038542 10.05416,16.404167 2.64584,15.478125 -3.70417,4.101041 1.71979,4.49792 -0.13229,6.61458 -5.29167,13.36146 -18.38854,35.58646 -3.83646,18.38854 z');
}

/* Teebox Zone */
.hole14 #teebox {
    clip-path: path('m 320.14584,739.77502 58.7375,-2.64583 0.52917,100.0125 -3.70417,68.2625 -16.40416,58.20833 -25.4,39.15838 -191.02918,-2.6459 -9.525,-33.33748 -3.70416,-41.80416 15.875,-44.97917 -2.64584,-41.80417 -20.10833,-37.04167 -8.46667,-43.92083 6.87917,-22.225 53.44583,2.64583 6.61459,6.35 7.67291,3.175 h 10.31876 l 8.99583,-2.91041 7.40833,-5.02709 h 102.92292 z');
}