.hole8 .zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    pointer-events: all;
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

.zone-label-container {
    position: absolute;
    top: 20px;  
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 1000;
    display: none;
}

.zone-name-display {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    display: none;
    z-index: 1000;
    pointer-events: none;
}

/* Hover effects for different zones */
.hole8 #short-fairway:hover,
.hole8 #mid-fairway:hover,
.hole8 #long-fairway:hover {
    background-color: rgba(0, 255, 0, 0.4);
}

.hole8 #short-right-rough:hover,
.hole8 #short-left-rough:hover,
.hole8 #mid-right-rough:hover,
.hole8 #mid-left-rough:hover,
.hole8 #long-right-rough:hover,
.hole8 #long-left-rough:hover,
.hole8 #short-rough:hover {
    background-color: rgba(255, 255, 0, 0.3);
}

.hole8 #green:hover {
    background-color: rgba(84, 240, 64, 0.4);
}

.hole8 #short-left:hover,
.hole8 #short-right:hover,
.hole8 #long-left:hover,
.hole8 #long-right:hover {
    background-color: rgba(8, 44, 3, 0.3);
}

.hole8 #left-lake:hover,
.hole8 #right-lake:hover {
    background-color: rgba(0, 0, 255, 0.2);
}

.hole8 #teebox:hover {
    background-color: rgba(139, 69, 19, 0.2);
}

.hole8 #long-left-trees:hover,
.hole8 #short-left-trees:hover,
.hole8 #mid-left-trees:hover,
.hole8 #long-right-trees:hover,
.hole8 #mid-right-trees:hover {
    background-color: rgba(2, 37, 2, 0.2);
}

.hole8 #outer-rough:hover {
    background-color: rgba(14, 5, 0, 0.2);
}

.hole8 #fairway-bunker:hover,
.hole8 #green-bunkers:hover {
    background-color: rgba(255, 222, 173, 0.4);
}

/* Hole 8 */

/* Teebox */
.hole8 #teebox {
    clip-path: path('m 208.49167,932.39169 49.74167,25.4 -19.05,44.97921 -240.77084,-1.5875 -1.0583334,-85.72504 17.9916674,5.29166 6.879167,-7.40833 3.175,-8.99583 6.35,-15.875 5.820833,-15.875 1.058334,-16.40417 32.279167,13.22917 41.804165,11.64166 39.15834,18.52084 30.1625,19.05');    
}

/* Fairway */
.hole8 #short-fairway {
    clip-path: path('m 271.46251,543.45418 -2.91042,3.96875 -1.5875,5.02708 -2.38125,7.40834 -2.91042,11.64166 -1.05833,4.49792 -0.26458,8.99583 v 11.37709 l -0.79375,10.31875 -1.5875,5.55625 -3.70417,5.82083 -4.7625,5.55625 -5.02708,4.23334 -4.49792,5.02708 -3.175,4.49792 -4.23333,7.9375 -4.7625,8.20208 -5.29167,7.9375 -5.55625,7.9375 -5.29167,7.67292 -4.7625,5.55625 -2.91041,6.35 -4.23334,10.05416 -2.38125,6.87917 -3.175,5.82083 -2.11667,3.175 -2.91041,3.175 -2.91042,2.38125 -3.96875,1.05834 h -6.08542 l -6.08541,-2.38125 -7.9375,-2.91042 -7.67292,-3.43958 -8.99583,-6.35 -3.96875,-5.02709 -2.11667,-6.61458 0.26458,-7.14375 1.5875,-6.35 2.64584,-6.08542 5.82083,-7.14375 7.9375,-7.67291 7.14375,-8.73125 3.96875,-6.35 3.43958,-9.26042 3.175,-9.26042 1.05834,-8.46666 0.26458,-11.64167 v -9.26042 l 0.79375,-5.02708 3.43958,-4.23334 7.9375,-6.87916 5.55625,-4.7625 5.82084,-6.35 2.91042,-5.55625 3.175,-7.40834 2.91041,-10.31875 1.5875,-7.14375 5.55625,-20.37291');    
}

.hole8 #mid-fairway {
    clip-path: path('m 215.90001,519.64168 55.29791,24.07708 4.23334,-5.02708 6.87916,-5.55625 6.35,-4.7625 7.14375,-3.43958 7.40834,-3.43959 5.02708,-3.96875 3.43958,-4.23333 v -4.49792 l -1.5875,-5.29166 -2.38125,-7.14375 -1.05833,-6.08542 0.79375,-4.7625 0.79375,-8.20208 0.26458,-9.525 1.5875,-14.55209 1.5875,-9.525 1.05834,-10.05417 -1.05834,-9.78958 -2.64583,-9.26042 -3.96875,-6.08541 -5.82083,-5.02709 -6.61459,-4.7625 -7.14375,-3.96875 -9.26041,-5.02708 -8.46667,-4.49792 -8.20208,-5.29166 -4.7625,-3.175 -3.70417,-3.175 -2.64583,-3.43959 -28.83959,7.67292 v 7.40833 l -0.26458,7.9375 0.79375,7.40834 2.64583,5.82083 4.7625,7.67292 4.23334,6.87916 6.08541,8.20209 3.96875,6.87916 1.5875,7.40834 1.05834,11.1125 -0.52917,8.99583 -2.11667,9.78959 -4.7625,10.84791 -4.23333,7.14375 -4.49792,6.61459 -4.7625,5.82083 -3.43958,5.55625');    
}

.hole8 #long-fairway {
    clip-path: path('m 220.01628,378.10621 28.99875,-7.29647 -2.61925,-5.05137 -3.55468,-10.47697 -3.3676,-11.78658 -2.80633,-20.76686 -0.37417,-10.10279 0.18708,-9.91569 1.87089,-8.79316 3.18051,-8.2319 0.93544,-7.29647 -1.49671,-7.67064 -3.18051,-7.10937 -1.4967,-5.05139 -1.49671,-4.30304 -5.42558,-6.92228 -4.30303,-4.30304 -1.87089,-2.61924 -2.43216,-2.99342 -4.30303,-2.05798 -8.41899,-0.74835 -4.30304,-0.56127 -5.61266,-0.93544 -8.41899,0.56126 -5.79975,0.74836 -7.29646,-0.18709 -7.85773,-1.87089 -11.59949,-4.67721 -8.04482,-1.49671 -5.61266,0.37417 -6.36101,1.87089 -4.67722,3.3676 -2.61924,3.18051 -0.37418,5.23848 1.30962,6.5481 4.49013,11.97368 8.41899,18.52179 6.17393,13.47036 4.30304,7.67064 4.8643,5.98683 7.29646,8.04482 4.86431,4.11596 6.92228,3.74177 10.85114,3.36759 11.22532,2.80633 9.16735,2.99341 6.5481,3.92888 2.80633,3.55468 0.37418,4.49014 -0.74836,3.92885 -1.87088,5.79974 -0.93545,3.36762 0.56127,3.92885 2.61924,3.74177 1.12253,7.10938');    
}

/* Right Rough */
.hole8 #short-right-rough {
    clip-path: path('m 182.29792,721.25418 21.69584,9.26042 24.60625,9.525 5.82083,1.32292 5.55625,-10.58333 3.96875,-9.78959 8.73125,-13.49375 7.14375,-16.93333 8.46667,-17.72709 5.82083,-10.58333 8.73125,-16.66875 7.67292,-16.66875 10.84791,-17.72708 13.75834,-21.69584 6.87916,-11.64167 5.29167,-12.7 4.49792,-12.96458 -11.1125,-3.43958 -14.02292,-7.40834 h -10.84792 l -5.29166,2.64584 -18.78542,-0.79375 -3.43958,4.23333 -7.9375,28.83958 -0.52917,24.60626 -0.79375,6.61458 -0.79375,4.49792 -8.99583,11.90625 -5.29167,3.96875 -4.23333,5.02708 -2.91042,3.96875 -3.96875,7.40833 -9.26042,15.34584 -4.23333,5.55625 -6.61458,10.31875 -7.14375,7.9375 -5.55625,14.02291 -3.43959,9.78959 -4.23333,7.67291 -4.23334,3.96875 -1.85208,1.05834');
}

.hole8 #mid-right-rough {
    clip-path: path('m 248.64085,370.24848 9.16734,-3.1805 4.67722,3.74176 6.54812,2.05798 14.40582,-2.43215 4.11594,-6.17392 1.30963,-6.5481 8.60608,-2.05798 5.23848,10.28989 5.98683,7.29644 7.29647,8.98027 -4.11596,5.79975 -1.8709,11.78658 3.92888,11.03823 5.79975,6.17392 4.86431,4.11596 2.80633,10.66406 -3.74179,12.34784 -4.49011,9.16734 -3.18051,9.72862 2.61922,8.2319 6.36103,2.43216 5.42557,0.74835 3.18051,6.73518 4.11594,5.42557 6.7352,3.5547 11.97367,4.6772 -1.30961,6.17395 -2.80633,7.8577 -3.5547,6.36103 -4.30303,7.85773 -18.89596,-6.7352 -10.85114,3.55467 -5.42557,4.86431 -1.4967,9.35445 6.92227,12.34784 -8.60608,-5.05139 -7.67064,-0.56126 -5.98683,2.61924 -1.49672,0.93543 -20.01849,-0.93543 4.11597,-4.86431 13.65747,-10.66406 14.59291,-6.92227 4.86431,-3.74176 3.18051,-3.92888 v -5.0514 l -3.74179,-11.78658 -1.4967,-7.29647 1.30961,-5.61266 0.74837,-9.35442 0.37418,-12.16075 3.92885,-28.06333 -0.93544,-10.66405 -2.80633,-8.79317 -3.92887,-5.98683 -12.34784,-9.7286 -16.46381,-8.79319 -18.89595,-11.03823 -2.80633,-2.24504 -6.92228,-6.17395');
}

.hole8 #long-right-rough {
    clip-path: path('m 188.11875,207.16876 12.96459,2.91041 5.55625,-2.38125 1.05833,-8.73125 -3.96875,-8.20208 17.4625,-7.40834 0.79375,3.70417 5.29167,3.43958 10.05417,0.79375 6.08541,-5.29166 0.52917,-5.02709 -8.73125,-6.61458 -8.20208,-2.11667 -5.82084,-12.7 2.38125,-10.05416 5.29167,-6.35 7.40833,-3.70417 18.25625,3.43958 7.14375,2.64584 6.61459,-1.85209 3.43958,-2.91041 -1.32292,-4.49792 -4.49791,-3.175 5.02708,-2.91042 4.23333,-9.26041 1.05834,-24.606254 -5.55625,-16.139584 -3.175,-4.497917 11.37708,6.879167 6.35,6.614584 7.9375,0.529166 12.96458,2.116667 11.37709,2.645833 -0.26459,8.731248 -4.7625,9.525 -2.91041,5.02709 2.11666,7.40833 -6.61458,7.14375 -2.91042,10.31875 -0.26458,15.61042 -3.43958,20.10833 -3.43959,18.52083 -8.20208,19.31459 -2.11667,7.14375 5.82084,5.82083 -5.55625,9.525 2.11666,10.84792 3.70417,7.14375 -4.7625,11.64167 1.5875,12.17083 7.9375,6.61458 0.79375,6.35 -5.02708,4.49792 -3.175,10.84792 6.61458,11.64166 5.02708,13.22917 6.87917,9.525 8.46667,0.26459 7.14375,-2.64584 0.52916,5.29167 -8.20208,6.61458 -7.9375,6.61459 -9.525,-2.91042 -8.20208,1.32292 -1.5875,-5.02709 -1.85209,-8.73125 -2.91041,-12.17083 -2.64584,-6.35 -9.26041,-5.29167 -11.64167,-7.14375 -6.61458,-1.5875 -5.55625,1.5875 -2.11667,2.11667 0.26458,4.7625 2.11667,3.96875 2.91042,3.43958 5.29166,5.82084 3.96875,6.61458 1.05834,6.35 -2.38125,4.49792 -2.64584,4.7625 -0.79375,3.175 -0.26458,3.70416 2.91042,4.23334 0.26458,2.11666 -8.73125,2.38125 -3.43958,-5.29166 -6.35,-23.01875 -2.64584,-19.31459 v -17.4625 l 1.32292,-10.84792 3.96875,-10.05416 0.52917,-6.87917 -1.5875,-7.9375 -3.43959,-7.14375 -2.64583,-8.99583 -5.29167,-6.61459 -4.49791,-3.96875 -4.49792,-6.08541 -3.85883,-1.59953 -9.72861,-0.93544 -8.41899,-1.30963 -8.98026,0.56127');
}

/* Left Rough */
.hole8 #short-left-rough {
    clip-path: path('m 216.64868,519.73233 -42.65621,-13.84457 -2.61925,6.36104 4.49013,7.10935 -1.87088,6.36104 -3.74178,4.49011 -4.49012,1.87089 -0.74836,5.98684 -3.74177,8.2319 -4.86431,1.49672 -2.61924,2.99342 1.12253,6.73518 -2.99342,5.23848 -2.99341,2.24507 0.74835,7.48356 -1.87089,5.23845 -4.8643,5.23849 -6.36102,5.61266 -2.24506,6.73521 -4.49013,5.98683 -5.23848,5.23848 -3.3676,10.1028 -3.3676,8.60608 -3.36759,7.10935 -2.61924,10.85115 -4.11595,14.96711 -1.87089,15.34125 -2.24506,9.72863 -5.238487,1.87087 2.619237,5.61265 44.90129,15.34129 -3.74178,-5.23849 -2.24506,-5.98683 v -7.85773 l 3.74177,-11.22532 7.48355,-8.2319 7.85772,-7.85773 5.98684,-7.48355 4.49013,-7.10936 6.44558,-18.28382 1.05833,-7.9375 0.52917,-26.19375 3.96875,-4.49792 12.96458,-10.84791 6.61459,-7.40834 5.29167,-11.37708 3.175,-10.84792');
}

.hole8 #mid-left-rough {
    clip-path: path('m 219.86876,377.29584 -34.39584,9.26042 -1.5875,8.99583 7.9375,1.85209 5.55625,4.49791 3.70417,4.7625 0.52917,6.61459 0.79375,5.82083 6.08541,1.85208 5.29167,3.175 5.29167,5.29167 1.05833,10.84792 -0.52917,8.20208 -2.91041,6.08542 -8.73125,5.55625 -5.82084,2.64583 -3.70417,0.52917 -0.52916,6.35 -2.64584,5.82083 -3.43958,2.11667 -2.91042,2.11667 1.5875,4.7625 -1.85208,6.08541 -3.43958,4.49792 -5.02709,2.64583 -5.55625,1.32292 -0.52916,8.20208 42.06875,13.22917 3.96875,-10.05417 3.96875,-6.08541 7.67292,-10.05417 6.35,-10.58333 4.7625,-10.05417 2.11666,-9.525 v -10.84792 l -1.05833,-8.99583 -1.5875,-8.99584 -4.23333,-7.14375 -6.08542,-7.67291 -11.64167,-19.84375');
}

.hole8 #long-left-rough {
    clip-path: path('m 220.76463,377.54495 v -8.98025 l -1.12253,-6.36103 -2.61924,-3.74177 -1.49671,-4.49014 3.74178,-8.98025 0.37417,-3.74176 -0.37417,-5.23849 -2.61925,-3.36759 -6.73519,-4.49013 -9.35443,-2.99342 -10.10279,-1.8709 -11.5995,-2.99341 -6.73519,-3.74177 -5.98684,-4.86431 -11.22532,-13.09621 -4.8643,-8.60608 -4.86431,-10.1028 -12.72203,-28.81164 -1.49671,-5.98684 -1.49671,-8.98025 2.99342,-2.99342 4.11595,-4.11595 6.73519,-1.87089 5.98684,-0.37418 4.11595,0.74836 2.99342,0.37417 8.2319,3.3676 8.98026,2.99342 6.36101,0.74836 10.10279,-1.12254 -1.87088,-26.94077 -11.5995,-4.11595 -11.5995,-3.74177 -12.34785,0.37418 -13.84456,0.74835 -6.7352,-3.74177 -2.61924,-6.73519 11.97368,-10.85115 10.47696,-7.48355 9.35444,-2.24506 11.22532,0.37418 6.36101,-9.72861 5.23848,-7.48355 -0.74835,-6.73519 -34.91565,-0.56332 -19.57916,-8.99583 -5.02709,-10.31875 -1.32291,-19.31459 2.38125,-11.112498 2.64583,-5.027083 -3.43958,-5.291667 -5.55625,-21.960417 -6.08542,9.525 -4.7625,3.96875 -0.26458,8.202084 -4.23334,7.14375 -5.556248,3.704167 -1.852083,5.556254 1.058333,30.42708 6.085418,5.29167 3.96875,6.08541 -1.85208,10.84792 -2.38125,2.11667 5.82083,5.82083 v 8.20208 l -1.85208,8.73125 -6.08542,2.91042 0.52917,9.26042 -0.26459,19.05 6.35,6.61458 0.52917,10.84792 -1.5875,7.40833 2.64583,11.64167 8.20209,23.54792 13.75833,37.83541 14.55208,39.95209 10.05417,-3.96875 7.67292,1.5875 6.87916,5.55625 2.38125,5.55625 0.52917,8.20208 -1.05833,5.55625 5.82083,0.79375 3.175,5.02709 5.02708,6.35 -0.52916,3.70416 1.32291,1.85209');
}

.hole8 #short-rough {
    clip-path: path('m 234.42084,740.83335 35.98333,17.4625 -8.99583,23.8125 -15.875,35.98334 -10.05417,46.56667 -13.75833,46.0375 -12.7,22.225 -26.9875,-13.22917 -32.27917,-19.57917 -35.98333,-17.4625 -38.629171,-11.64166 -36.512501,-13.22917 5.820833,-21.69584 12.170834,-23.28333 16.404167,-29.63333 14.816667,-29.63334 c 0,0 7.408333,-23.28333 7.408333,-25.4 0,-2.11667 3.704167,-39.15833 3.704167,-39.15833 l 45.508331,15.34583 11.64167,7.40833 21.16667,8.46667 8.46666,1.05833');
}

/* Green */
.hole8 #green {
    clip-path: path('m 187.83703,51.636474 -5.42557,1.309621 -4.11595,2.057974 -3.3676,2.806332 -2.80633,3.554683 -1.6838,5.051396 -1.12253,6.735191 -1.12253,6.548104 1.12253,5.799749 3.3676,7.296457 4.11595,4.303041 7.29645,4.115948 8.04482,2.05798 7.67063,-0.74836 5.42558,-0.93544 4.67721,-2.057975 5.23849,-3.367595 4.67721,-3.367599 3.3676,-3.928861 0.93544,-2.245064 -0.93544,-5.612659 -1.87089,-2.806333 -3.36759,-2.993416 -2.80633,-3.367598 -2.99342,-4.303038 -2.24507,-4.115951 -2.43215,-4.490128 -4.30304,-4.30304 -4.30304,-2.245064 -5.42557,-1.309621');
}

/* Trouble Areas */
.hole8 #short-left {
    clip-path: path('m 195.2625,142.875 -6.61458,1.32292 -4.49792,1.5875 -10.58333,0.52917 -12.7,-0.52917 -12.31826,-0.0433 -20.20558,-9.54152 -4.8643,-10.85115 -0.93545,-10.66405 -0.18709,-8.41899 2.05798,-10.664056 2.61924,-5.238483 7.29646,-4.303041 11.97367,-2.619243 22.82482,-1.496708 0.46772,3.461142 3.27406,7.202913 4.0224,4.303038 6.92228,3.928868 8.04482,2.15151 3.1805,-0.0935');
}

.hole8 #long-left {
    clip-path: path('m 168.14271,10.980209 14.41979,42.730209 -3.96875,1.5875 -3.30729,2.645833 -2.77812,3.439584 -1.71979,4.7625 -2.38125,13.49375 0.79375,3.042709 -22.88646,1.190625 -12.17084,2.645833 L 127,90.619794 123.29584,85.460419 120.65,73.818752 l -2.51354,-10.980209 -0.79375,-10.451042 1.05833,-14.684375 0.52917,-10.451042 1.71979,-4.894792 8.86354,-5.159375 11.2448,-3.175 14.02291,-2.116667');
}

.hole8 #short-right {
    clip-path: path('m 194.46875,103.1875 0.52917,39.6875 5.82084,2.11667 10.84791,-5.82083 15.61042,-9.26042 6.35,-5.29167 6.35,-0.26458 5.29167,4.49792 7.67291,2.38125 6.08542,0.52916 7.14375,1.32292 5.02708,-2.64583 3.96875,-9.26042 1.32292,-12.7 -0.26458,-12.964584 -5.02709,-15.081251 -3.43958,-5.291666 -3.96875,-8.466667 3.175,-8.202084 -52.25521,13.49375 2.91042,3.175001 3.43958,3.175 1.71979,2.645833 1.05834,5.55625 -0.79375,2.116667 -3.3073,3.96875 -9.78958,6.746875 -4.63021,2.116666');
}

.hole8 #long-right {
    clip-path: path('m 266.60137,58.839387 4.11594,-3.274052 0.28064,-5.144937 1.96443,-2.619243 3.92885,-4.303037 4.49014,-1.496711 3.92885,-0.09354 -4.95785,-3.648228 -8.13834,-4.209497 -1.49672,2.432153 -4.30303,1.777344 -4.02242,2.057974 -4.0224,0.280633 -5.42557,1.403165 -2.24507,3.274052 -4.11595,1.496711 -5.33202,2.525696 -4.95785,-1.216078 -4.67722,-3.367595 -3.18051,-5.986838 -1.49671,-5.051394 -7.10937,-3.180506 -3.55468,-6.548105 -2.24507,-7.109369 3.18051,-6.361015 4.67722,-4.6772172 -18.89596,0.3741775 -17.39924,1.3096206 -14.03166,2.0579755 -3.55468,1.4967096 14.03165,42.656218 3.18051,-1.122531 8.04481,-1.496711 5.42557,1.683797 4.30304,2.057977 4.30984,4.185103 4.49791,8.466667 3.57188,4.7625');
}

/* Water Hazards */
.hole8 #left-lake {
    clip-path: path('m 207.36719,339.32813 0.72761,2.05052 -0.39688,3.3073 -0.92604,2.97656 -5.6224,6.94531 3.3073,7.14375 2.11666,2.24896 2.05052,3.04271 0.8599,2.84427 -0.8599,2.3151 -1.91823,1.65365 -1.71979,0.99219 -5.62239,1.05833 -3.96875,0.13229 -2.57969,-0.79375 -2.77813,-1.65364 -2.97656,-2.51355 -3.30729,-1.91822 -1.12448,-1.7198 0.19844,-1.4552 1.05833,-1.52136 0.72761,-1.32292 -0.0662,-1.32291 -0.8599,-1.38907 -3.30729,-3.0427 -2.71198,-5.15938 1.45521,-6.01927 2.71198,-5.29167 7.2099,-3.77031 12.76614,0.13229 3.175,0.72761');
}

.hole8 #right-lake {
    clip-path: path('m 269.12706,372.68064 14.40582,-2.24507 3.46115,-6.26745 1.02899,-3.08698 0.18708,-2.43215 -0.65481,-6.45457 -1.30961,-4.77075 -1.02899,-5.51913 -0.84191,-4.95784 c 0,0 -1.02899,-5.42557 -1.12252,-5.98683 -0.0936,-0.56127 -3.64823,-6.26748 -3.64823,-6.26748 l -4.2095,-2.71277 -3.55467,-1.68381 -3.55471,-2.3386 -4.58366,-2.80633 -3.27406,-2.24507 -3.36759,-1.49672 -3.46114,-0.56126 -2.99342,0.18708 -3.55468,1.029 -2.71279,2.15151 -0.46772,2.7128 0.0935,3.27406 1.77734,2.80633 2.71279,2.61924 2.71279,3.27403 2.61924,2.7128 3.18051,4.39658 1.96443,3.64824 0.65481,3.36759 -0.56127,3.64823 -1.6838,4.11594 -1.59025,2.89989 -1.59026,4.20949 -0.0935,3.08695 1.12253,2.89988 2.43215,3.36759 2.43216,1.96443 3.1805,1.68381');
}

/* Trees */
.hole8 #long-left-trees {
    clip-path: path('m 168.00563,11.22532 -11.5995,-12.72203 -99.90535,1.12253204 -13.47039,16.08962796 -13.47038,23.198995 -11.5995,31.430897 -4.115951,27.314947 1.870887,41.907862 8.980256,44.5271 11.599499,37.04356 65.855216,-18.33469 -0.74836,-20.57975 6.36102,-2.99342 1.49671,-9.72861 v -7.85773 l -4.86431,-6.73519 1.12253,-2.61924 2.61924,-10.10279 -10.102786,-11.5995 -1.122532,-34.050134 6.735198,-5.238483 5.23848,-7.10937 -0.74836,-7.483547 5.98684,-4.490127 4.49013,-7.483547 1.12253,-35.921027 1.49671,-5.612659 9.72861,-5.986838 12.72203,-2.619241 11.97368,-2.619242');
}

.hole8 #mid-left-trees {
    clip-path: path('m 101.02788,202.80412 -65.855211,17.21216 41.159511,110.00815 14.967093,45.64962 8.231902,37.41775 2.993415,31.43089 -2.24506,28.43747 -1.49671,18.70887 75.58382,17.96053 2.24507,-10.47698 11.97367,-3.74176 3.74178,-9.72862 -0.74836,-7.48356 8.2319,-3.74176 0.74836,-11.97367 17.96051,-6.73521 2.24506,-13.47038 -0.74835,-14.21874 -15.71545,-9.7286 -2.99342,-13.47038 -7.48354,-7.48356 -7.85773,-2.61924 0.37418,-12.72204 -7.10937,-10.85112 -6.36101,-2.61924 v -13.09622 l -2.61925,-5.98683 -5.98684,-4.86431 -7.85772,-2.61924 -10.85114,4.11593 -38.91444,-111.50483 1.87088,-6.36102 -0.74835,-12.34785 -5.61266,-6.36101');
}

.hole8 #short-left-trees {
    clip-path: path('m 172.86994,506.63614 -74.835476,-19.45722 -5.986835,32.17923 -18.708868,52.38483 -28.437479,66.60357 -28.437479,51.63648 -20.9539312,38.91444 3.74177351,189.33375 16.08962569,3.74176 6.735192,-6.73518 16.837981,-43.03041 0.374176,-15.34125 6.735194,-20.95394 37.043557,-70.34533 12.347853,-29.93419 1.496708,-7.85773 3.741778,-41.53369 4.49012,-2.61924 4.49013,-29.18584 7.48355,-23.57316 8.60608,-23.94736 9.35443,-10.1028 2.61924,-7.85773 12.34786,-11.59949 -0.37418,-12.34784 7.10937,-6.73521 -1.87089,-8.2319 7.48355,-4.11594 4.49013,-13.47038 6.36101,-3.36759 4.11595,-6.36104 0.37418,-4.49011 -4.49013,-5.23848');
}

.hole8 #long-right-trees {
    clip-path: path('m 220.39046,5.6126601 5.61266,-6.36101479 123.85271,0.37417733 10.10277,8.98025636 11.97369,13.470384 6.36101,19.083045 2.99341,23.198995 -2.61924,29.185834 -8.2319,37.043553 -11.5995,53.50736 -3.36759,20.57976 V 227.874 l -7.85772,0.74836 -5.61266,-8.60608 -7.85773,-4.49013 -11.97367,-0.37417 -8.98025,8.60607 -6.7352,2.61925 -16.46381,2.24506 -5.98683,-5.61266 10.1028,-26.19242 7.10935,-39.28862 0.37417,-16.4638 3.36762,-11.22532 5.98683,-5.23848 -2.61924,-7.85773 7.85773,-13.84456 0.37417,-7.483546 -31.80508,-5.612659 -7.10936,-7.10937 -10.47697,-6.735194 -4.49013,-9.354434 2.99341,-8.606079 5.61266,-2.993419 0.37417,-6.735191 3.36762,-4.115951 8.98025,-2.993419 -10.85115,-5.61266 -11.97367,5.986839 -5.23848,0.374176 -5.23849,4.115951 -6.36101,3.741772 -6.36102,-0.374176 -5.23848,-2.61924 -3.3676,-3.367599 -3.36759,-9.354433 -7.48355,-3.741772 -5.23848,-13.844563');
}

.hole8 #mid-right-trees {
    clip-path: path('m 302.15417,611.18752 20.10834,2.64583 23.8125,-1.05833 6.87917,-8.99584 16.93333,-27.51667 -2.64583,-17.4625 -12.17084,-8.46666 -10.58333,-15.34584 11.64167,-39.15833 11.1125,-41.275 -2.11667,-20.6375 -4.7625,-39.6875 2.11667,-12.7 -15.875,-11.1125 v -11.1125 l 13.22916,-11.64167 11.1125,-7.40833 8.46667,-13.75834 -8.99583,-39.6875 -14.81667,-62.44167 -7.24091,2.75898 -4.86428,-8.2319 -7.85773,-4.49013 -13.47039,-0.37418 -9.72862,8.23191 -7.85773,2.61924 -15.34126,2.99341 -5.23848,10.85115 2.24507,11.22532 3.36759,6.73519 -4.86431,11.59949 2.61924,13.09622 7.48355,5.98683 0.74835,5.61266 -4.86431,4.86431 -3.36759,12.34784 7.85773,13.09621 3.36759,9.72863 7.48355,11.22532 h 9.35443 l 6.36103,-1.8709 -0.37418,3.36759 -5.98685,4.49014 -8.23191,7.85773 -9.72859,-2.61925 4.49011,11.22532 13.47039,15.71546 -4.11594,5.23849 -2.61925,12.72201 4.86432,11.97367 10.47694,8.98027 2.61924,10.10277 -3.74176,13.84456 -4.49014,8.23191 -3.36759,10.10279 3.74179,10.1028 11.22532,1.4967 4.49011,10.10279 20.95394,10.1028 -10.85114,26.94075 -19.08305,-6.36101 -11.97366,3.74177 -5.23849,5.61266 -1.49672,10.47697 7.48355,10.85114 15.71546,5.61266 -7.48355,23.94736 -6.73521,10.85114');
}

/* Bunkers */
.hole8 #fairway-bunker {
    clip-path: path('m 305.88999,540.87336 -2.61925,-0.18709 -5.23848,0.74835 -4.11594,1.12254 -2.80633,1.87087 -1.8709,2.99342 0.56126,2.61924 v 3.74179 l -1.6838,3.18051 -3.92885,3.55467 -2.61925,2.80633 -2.05798,2.80633 -0.74835,4.30305 -1.30961,3.92885 -2.61924,3.36759 -2.24507,3.36762 -1.12254,3.55468 2.05798,4.30305 3.92887,3.36759 3.74177,2.05796 5.23848,0.3742 3.74177,-0.93547 4.49014,-3.92885 2.99341,-3.36759 2.99342,-3.74179 3.1805,-3.55467 5.0514,-3.36759 3.18051,-3.92888 1.87089,-2.43216 0.37417,-2.43213 -0.93543,-3.18053 -0.93546,-2.80633 -0.74835,-3.1805 v -2.99342 -6.361 l -0.74835,-3.74179 -2.05798,-2.43213');
}

.hole8 #green-bunkers {
    clip-path: path('m 272.21403,140.69068 -1.49672,-4.8643 -4.30303,-2.99342 -5.61267,-1.12253 -8.04481,-0.93545 -7.29646,-2.43215 -5.61266,-4.67722 -6.92228,0.56127 -6.36102,5.42557 -25.44406,15.15418 -6.92228,-2.80633 -11.97367,3.55469 1.12253,6.5481 -10.85114,17.21216 -11.5995,-0.74835 -10.10279,2.61924 -21.5152,18.1476 2.61924,7.48354 6.92229,3.92887 26.56659,-1.30962 22.45064,7.85772 12.90912,3.3676 6.36101,-2.80633 1.30962,-9.16735 -4.11595,-7.85772 16.4638,-6.92228 0.93545,3.74177 5.23848,3.3676 10.66406,0.74835 6.5481,-5.61266 v -5.42557 l -8.60608,-6.92228 -8.04481,-1.87089 -5.79975,-12.90912 2.24506,-9.35443 5.23849,-6.36101 7.29645,-3.55469 18.33469,3.3676 7.10937,2.61924 6.73519,-1.6838');
}

/* Outer Rough */
.hole8 #outer-rough {
    clip-path: path('m 260.42743,960.13907 54.62989,-119.73674 88.30586,-274.64618 -2.24507,-189.33375 -23.19899,-52.38483 -7.48355,14.96711 -11.97367,7.48355 -12.72204,11.97367 0.74837,14.96708 11.22532,6.73521 8.98025,71.84205 -23.19898,79.3256 7.48353,16.46381 8.98025,8.98025 6.7352,3.74176 2.99342,12.72204 -11.97367,23.19899 -9.72862,12.72204 -14.21874,4.49011 h -13.47038 l -12.72204,-3.74176 -5.98684,-1.4967 -23.94733,44.90127 -17.96052,32.92761 -8.98026,23.94734 -11.97367,18.70887 -4.49013,14.96711 35.17268,14.96708 -25.44407,59.86838 -19.45722,77.08054 -2.99342,16.4638 -14.96709,23.19899');
}