.hole18 .zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    pointer-events: all;
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

.zone-label-container {
    position: absolute;
    top: 20px;  
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 1000;
    display: none;
}

.zone-name-display {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    display: none;
    z-index: 1000;
    pointer-events: none;
}

/* Hover effects for different zones */
.hole18 #green:hover {
    background-color: rgba(84, 240, 64, 0.4);
}

.hole18 #shortleft:hover,
.hole18 #frontright:hover,
.hole18 #backleft:hover,
.hole18 #backright:hover {
    background-color: rgba(0, 255, 0, 0.2);
}

.hole18 #shortfairway:hover,
.hole18 #midfairway:hover,
.hole18 #longfairway:hover {
    background-color: rgba(0, 255, 0, 0.3);
}

.hole18 #shortleftrough:hover,
.hole18 #midleftrough:hover,
.hole18 #longleftrough:hover,
.hole18 #shortrightrough:hover,
.hole18 #midrightrough:hover,
.hole18 #longrightrough:hover {
    background-color: rgba(255, 255, 0, 0.3);
}

.hole18 #shortlefttrees:hover,
.hole18 #midlefttrees:hover,
.hole18 #longlefttrees:hover,
.hole18 #longrightbushes:hover,
.hole18 #midrightbushes:hover {
    background-color: rgba(2, 37, 2, 0.2);
}

.hole18 #shortlake:hover,
.hole18 #longlake:hover {
    background-color: rgba(0, 100, 255, 0.3);
}

.hole18 #bunkers:hover {
    background-color: rgba(255, 222, 173, 0.4);
}

.hole18 #shortrightouter:hover,
.hole18 #longleftouter:hover,
.hole18 #midrightouter:hover,
.hole18 #longrightouter:hover {
    background-color: rgba(128, 0, 0, 0.2);
}

.hole18 #teebox:hover {
    background-color: rgba(139, 69, 19, 0.2);
}

/* Green Zone */
.hole18 #green {
    clip-path: path('m 168.275,178.19688 3.43959,-2.64583 c 0,0 0.79375,-2.38125 0.79375,-2.91042 0,-0.52917 1.71979,-11.24479 1.71979,-11.24479 l 1.98437,-7.01146 1.7198,-6.35 2.91041,-4.63021 4.36563,-4.10104 7.54062,-6.87917 4.7625,-2.64583 6.87917,-2.64584 9.525,-2.11666 8.59896,-1.98438 7.67292,-2.51354 3.57187,-2.64583 0.39688,-2.91042 -1.05834,-3.43958 -3.57187,-4.10104 -5.15938,-3.83646 -5.68854,-3.04271 -4.7625,-2.381251 -5.95312,-2.778125 -4.23334,-1.719792 -7.14375,-1.5875 -7.14375,-0.132291 -5.42396,0.132291 -7.40833,0.529167 -7.01146,0.926042 -4.7625,0.396875 -2.91042,1.190625 -2.11666,1.719791 -1.85209,2.38125 -2.51354,2.248958 -3.30729,2.77813 -3.70417,3.43958 -3.96875,3.70417 -3.70416,3.43958 -3.96875,3.30729 -3.175,2.51354 -4.10105,2.24896 -4.23333,3.175 -3.70417,3.30729 -2.24895,3.96875 -0.92605,5.42396 0.39688,4.63021 1.5875,4.89479 1.98437,4.49792 3.04271,5.15937 3.04271,4.36563 3.70417,4.49792 5.15937,4.89479 3.3073,3.04271 4.10104,2.38125 5.82083,2.64583 3.83646,0.92604 4.10104,0.26458 4.49792,-0.52916 2.77812,-0.79375 z');
}

/* Short Left Zone */
.hole18 #shortleft {
    clip-path: path('m 143.87119,176.7988 -5.23848,8.2319 -2.99342,5.23848 5.61266,3.3676 0.18709,2.80633 -1.30962,3.36759 0.56126,3.74178 2.99342,3.1805 2.43216,3.92887 -1.12254,3.36759 -4.49013,0.93545 -4.67721,4.11595 -5.42557,7.85772 -2.61925,4.49013 -8.98025,-4.86431 -11.5995,1.49671 -6.92228,5.42557 -4.30304,3.3676 -10.102789,-4.8643 -7.670637,-1.30963 -5.799748,-5.79974 -2.993417,-4.67722 6.361015,-6.36102 7.857723,-9.16734 7.29646,-8.60608 3.741772,-7.67064 -0.748356,-10.10278 -7.670633,-10.47697 -8.418992,-7.85772 -7.296457,-7.29646 -7.670636,-7.67064 -26.65093,1.3385 5.091282,-18.35027 13.02173,-17.55862 10.595892,7.81671 26.75368,10.85115 13.096211,1.30962 17.39924,-1.12254 -2.61924,4.30304 -0.74835,5.0514 0.56126,4.8643 2.61925,6.92228 4.30304,8.04482 4.49012,6.36101 6.36102,6.17393 z');
}

/* Front Right Zone */
.hole18 #frontright {
    clip-path: path('m 144.99167,213.91563 25.92917,-3.43958 v -6.61459 l 2.91041,-5.95312 5.02709,-6.48229 4.49791,-6.08542 4.63021,-10.31875 4.36563,-10.45104 3.175,-8.06979 3.96875,-7.40834 3.57187,-4.10104 6.61459,-3.43958 8.20208,-2.91042 7.9375,-1.5875 16.13958,-1.5875 7.54063,-0.39687 8.86354,-0.92605 5.95313,-1.32291 4.89479,-3.43959 2.51354,-4.10104 1.32292,-5.02708 0.13229,-9.65729 -40.08438,2.24895 0.79375,1.85209 -0.26458,2.77812 -3.30729,2.91042 -8.33438,2.64583 -18.52083,3.96875 -6.08542,2.51354 -5.15937,3.17501 -12.43542,11.37708 -2.51354,4.49792 -3.57188,13.49375 -1.98437,13.36145 -5.42396,3.83646 -3.57188,0.66146 -3.70416,1.05833 -4.7625,-0.52916 -3.30729,-0.92604 -7.27605,-2.77813 -8.33437,13.89063 5.29167,3.0427 0.66145,2.77813 -1.85208,3.30729 0.92604,4.49792 3.175,3.04271 1.85209,3.175 z');
}

/* Back Left Zone */
.hole18 #backleft {
    clip-path: path('m 187.46285,91.673449 -0.93544,-44.152926 -18.1476,0.374179 -16.27672,2.61924 -18.52178,5.425572 -14.96709,5.799749 -16.4638,7.483547 -13.844566,8.044812 -10.476966,6.548104 -8.231902,5.986839 -8.793168,12.160765 -6.173925,8.98025 10.851142,7.85773 25.444062,10.47696 12.722033,1.30962 18.52177,-0.93544 7.10937,-6.73519 5.79975,-2.61924 14.59292,-13.47039 10.28988,-8.980253 2.05797,-2.057976 2.43215,-1.496709 3.92887,-0.561266 7.48354,-0.748355 12.53494,-0.18709 z');
}

/* Back Right Zone */
.hole18 #backright {
    clip-path: path('m 233.62709,112.97709 39.6875,-2.11667 -2.38125,-11.377084 2.38125,-7.14375 5.02708,-9.525001 8.46667,-21.166667 -21.16667,-5.820833 -20.6375,-2.645834 -20.37291,-1.322916 -12.7,-1.322917 -26.45834,-2.910417 1.5875,45.243751 9.525,-0.529166 6.87917,1.852083 18.78542,8.731251 5.29166,3.43958 z');
}

/* Short Fairway Zone */
.hole18 #shortfairway {
    clip-path: path('m 186.34032,474.45688 71.0937,3.74176 -7.10938,7.85773 -1.87088,7.48355 -1.49671,11.22532 -1.49671,8.98025 -1.87089,6.36104 -4.14153,2.97473 -3.175,7.40834 -2.38125,7.67291 -1.5875,8.20209 -0.31421,8.16623 0.93544,8.98025 2.61924,6.36103 5.42557,9.16734 3.74178,6.54809 5.98683,7.67064 3.74178,6.36101 0.37417,5.98686 -0.93544,5.05137 -3.3676,7.29647 -5.23848,5.61266 -6.5481,5.98683 -7.48355,4.86431 -6.73519,2.43216 -11.03823,1.8709 -11.03823,-0.56129 -14.40583,-3.1805 -11.97368,-4.49012 -8.04481,-6.36103 -3.74178,-7.48353 -0.93544,-11.59952 0.93544,-8.79316 2.24507,-6.17392 5.23848,-5.79975 4.49013,-9.54153 2.05798,-8.60608 0.74835,-11.59949 -0.56126,-13.2833 -0.93545,-15.71546 -0.74835,-6.92227 -1.30962,-9.91571 v -7.10935 l 2.43215,-7.67064 4.67722,-9.16734 2.80633,-5.79974 z');
}

/* Mid Fairway Zone */
.hole18 #midfairway {
    clip-path: path('m 182.22437,336.38544 78.57724,-4.49014 3.55469,2.80633 10.10277,8.2319 2.80633,4.11597 3.55471,8.98025 0.74834,11.59949 -0.93543,10.66406 -2.43216,11.22531 -2.43215,8.98025 -3.18051,8.23191 -3.1805,5.61266 -3.5547,6.7352 -1.12253,6.92227 v 7.29647 l 1.8709,8.2319 2.24504,8.2319 1.30964,6.9223 -1.12252,6.17392 -2.80636,5.23848 -2.99341,4.6772 -5.79974,5.79975 -71.46788,-4.11594 1.12253,-6.9223 -0.93544,-7.67061 -2.61924,-10.1028 -1.49671,-8.2319 -0.56127,-6.54809 -2.61924,-6.73521 -5.42557,-8.41899 -3.55468,-7.10935 -1.49671,-6.54812 1.12253,-7.48353 3.3676,-7.85773 4.49012,-8.41899 4.30304,-8.41899 2.61924,-6.36103 0.93545,-8.98025 -0.74836,-10.47697 -1.12253,-7.85773 z');
}

/* Long Fairway Zone */
.hole18 #longfairway {
    clip-path: path('m 261.54997,331.8953 -2.24507,-4.86429 -2.43215,-6.54812 -3.74177,-8.2319 -3.3676,-5.23848 -5.98684,-5.79975 -5.98684,-4.49011 -6.92228,-3.18053 -8.79316,-2.43213 -8.23191,-1.49672 -9.9157,-2.05798 -6.5481,-1.68379 -6.36101,-2.61924 -2.99342,-2.99342 -3.55469,-9.54153 -2.80633,-10.85114 -2.24506,-8.98026 -2.43215,-7.10937 -2.61925,-5.05139 -3.1805,-5.98684 -3.74178,-6.73519 -0.93544,-3.92886 v -11.22533 l -21.14102,2.80633 1.12253,3.55469 -1.12253,4.49013 -0.18709,5.42557 1.6838,4.11595 4.11595,4.49013 2.80633,5.98684 2.24507,7.48354 1.68379,9.16735 -1.68379,8.60608 -2.80634,9.54151 -0.37417,8.60608 1.30962,6.54812 4.8643,8.41899 5.0514,8.04481 14.03165,19.8314 4.67722,9.16734 z');
}

/* Short Left Rough Zone */
.hole18 #shortleftrough {
    clip-path: path('m 179.91667,807.77294 -40.74583,-6.87917 5.82083,-27.51667 0.79375,-42.59791 -11.37708,-55.82709 -5.02709,-44.18542 2.91042,-39.95208 4.49792,-35.45417 0.52916,-8.46667 41.275,8.99584 -0.26458,11.90625 -2.11667,9.26041 -4.23333,8.20209 -5.29167,5.55625 -2.11666,6.35 -0.79375,7.9375 1.05833,11.37708 3.43958,7.40834 7.9375,6.08541 12.43542,4.7625 12.17084,2.64584 z');
}

/* Mid Left Rough Zone */
.hole18 #midleftrough {
    clip-path: path('m 179.3875,556.94793 -42.06875,-9.26042 7.14375,-46.83125 c 0,0 2.64584,-31.22083 2.64584,-32.80833 0,-1.5875 -1.32292,-17.99167 -1.32292,-17.99167 l -9.78958,-9.26042 c 0,0 -18.52084,-3.70416 -20.10834,-4.7625 -1.5875,-1.05833 -24.341664,-8.20208 -24.341664,-8.20208 l -14.287501,-12.96458 -12.7,-21.16667 -14.2875,-33.86667 -6.085417,-23.54791 139.435422,0.79375 1.05833,10.84791 1.05833,15.34584 -2.38125,9.525 -10.84791,20.90208 -2.38125,6.08542 -0.79375,7.14375 1.32291,6.08541 4.49792,8.46667 6.61458,10.31875 1.05834,8.20208 1.85208,10.58334 2.64583,10.05416 0.79375,10.58334 -2.91041,10.05417 -6.35,12.43541 -2.91042,8.46667 0.52917,11.90625 2.64583,21.43125 z');
}

/* Long Left Rough Zone */
.hole18 #longleftrough {
    clip-path: path('m 182.97272,337.50796 -138.445617,-0.56126 -4.864304,-47.52052 6.361015,-38.54027 7.296457,1.87089 15.154183,7.10937 14.218741,6.92229 c 0,0 16.83798,5.23848 17.586335,5.23848 0.74835,0 23.38608,4.11594 24.50861,4.30303 1.12254,0.18708 13.84457,-1.8709 13.84457,-1.8709 l 10.47696,-6.54809 1.12254,-11.5995 -4.49013,-10.10279 -6.36102,-3.92886 -7.29646,-4.67721 -4.49013,-6.54811 7.67064,-11.97367 5.61266,-4.30304 4.86431,-1.30962 1.12253,4.11595 -1.12253,3.74177 -0.18709,5.42557 1.68564,4.22979 3.96875,4.36562 2.91042,6.35 2.24895,7.40833 1.85209,8.86355 -1.98438,9.92187 -2.51354,8.99584 -0.52917,8.20208 1.19063,6.08542 10.98021,18.25625 7.67291,10.71562 5.82084,8.06979 z');
}

/* Short Right Rough Zone */
.hole18 #shortrightrough {
    clip-path: path('m 199.49584,637.64585 -19.57917,170.65625 48.15417,7.14375 3.70417,-4.7625 11.90625,-35.18958 1.05833,-3.96875 9.78958,-11.1125 13.22917,-11.90625 5.29167,-2.38125 6.35,1.5875 6.35,4.7625 8.46666,-4.7625 16.40417,-16.93333 14.81667,-32.80834 19.05,-46.56667 12.17083,-32.27916 6.35,-38.62917 1.05834,-31.75 -10.58334,6.35 -12.17083,3.175 -15.34584,0.52916 -17.4625,0.52917 -23.28333,6.35 -12.7,5.29167 -39.6875,-6.35 11.1125,21.16666 10.31875,13.75834 -0.26458,7.14375 -0.52917,3.70417 -3.43958,7.67291 -7.40834,7.9375 -6.08541,4.49792 -4.7625,3.96875 -7.9375,2.64583 -9.525,1.5875 z');
}

/* Mid Right Rough Zone */
.hole18 #midrightrough {
    clip-path: path('m 257.70417,568.32501 -3.96875,-8.20208 3.43959,-8.99583 5.55625,-5.82084 10.58333,-4.23333 11.37708,-13.49375 0.79375,-5.29167 3.96875,-17.72708 8.46667,-19.31458 5.82083,-11.64167 2.11667,-4.49792 -1.5875,-10.84792 -2.11667,-5.82083 8.20209,-18.52083 2.91041,-5.82084 8.46667,-13.22916 5.29167,-7.67292 7.67292,-3.43958 10.05416,-1.32292 17.4625,-2.11667 1.85209,-45.77291 1.05833,-15.08125 1.85208,-13.49376 -3.175,-11.64166 -12.17083,-12.96459 -7.14375,-6.08541 -6.87917,8.20208 3.43959,9.525 -2.11667,11.37708 -8.99584,5.02709 -17.4625,2.11667 -9.78958,-1.05834 -42.59792,1.32292 14.81667,11.1125 5.29167,13.22917 0.79375,11.1125 -1.05834,12.17083 -4.49791,18.78542 -3.70417,9.525 -6.35,11.1125 -1.5875,15.08125 5.02708,16.40416 0.79375,8.46667 -1.32291,5.29167 -4.7625,7.9375 -14.2875,14.2875 -5.82084,33.60208 -4.49791,3.175 -5.82084,15.61042 -1.05833,11.1125 1.05833,16.40417 z');
}

/* Long Right Rough Zone */
.hole18 #longrightrough {
    clip-path: path('m 344.80443,295.78719 c 0,0 -11.22532,-9.7286 -11.5995,-10.66406 -0.37417,-0.93543 -7.10938,-10.66406 -7.10938,-10.66406 l -12.16075,-11.03822 -7.48355,-5.61266 -10.47698,-4.67721 h -11.03823 l -12.72201,2.61924 c 0,0 -15.15419,2.99342 -16.08964,2.43215 -0.93544,-0.56127 -6.5481,0.93544 -6.5481,0.93544 l -7.48354,0.74836 -10.10279,-1.12253 -17.02507,-2.99342 -11.03824,-3.92886 -13.0962,-6.92228 -8.73097,-5.78189 -5.02708,-5.29166 -3.63802,-5.09323 -1.71979,-4.96094 -0.0661,-6.41615 -0.79375,-7.01145 -4.82864,0.66145 0.13229,10.98021 1.12448,4.16719 5.15937,9.32656 4.56406,8.46667 2.31511,7.01146 5.02708,19.97604 3.63802,9.59115 3.04271,2.97656 6.48229,2.64583 5.75469,1.38906 18.85156,3.70417 8.73125,2.4474 6.87917,3.175 6.08542,4.49791 5.75469,5.6224 3.70416,5.75469 3.43959,7.67291 4.29947,11.44323 41.67188,-1.19062 -2.67921,-6.6671 -2.48984,-7.86161 3.94444,-7.15121 3.37149,-7.77896 6.97123,-0.47859 3.98509,-5.06595 8.06349,0.0355 2.69417,4.25607 11.7131,3.46146 z');
}

/* Short Left Trees Zone */
.hole18 #shortlefttrees {
    clip-path: path('m 136.525,548.21668 -28.04583,-4.7625 -17.462501,92.075 15.345831,163.51251 35.45417,3.70416 4.23333,-29.10416 -1.05833,-20.6375 2.11667,-24.34167 -12.17084,-57.15 -5.82083,-42.33334 z');
}

/* Mid Left Trees Zone */
.hole18 #midlefttrees {
    clip-path: path('m 138.44562,549.66652 7.10937,-48.64304 2.24506,-32.17926 -1.49671,-19.08305 -10.10278,-10.1028 -19.8314,-4.86428 -23.573179,-7.10938 -14.967093,-14.21874 -7.857723,-13.09621 -25.818238,16.83798 7.483547,10.47697 18.708867,14.59291 19.457221,11.59952 16.837988,8.98025 8.23189,10.10277 4.11596,18.70887 -0.74836,17.96053 -11.97367,36.29519 z');
}

/* Long Left Trees Zone */
.hole18 #longlefttrees {
    clip-path: path('m 46.77217,251.44718 v -21.32811 l 1.870884,-18.70887 -24.695704,-15.34127 12.72203,-50.88812 26.94077,-0.37418 22.824817,22.07647 8.231902,11.97367 0.748355,11.22532 -4.864306,7.85773 -19.8314,21.70228 5.612662,8.98026 10.102787,2.24506 8.980257,4.86431 11.973676,-9.35443 10.10279,-1.12254 10.85114,5.23849 5.61266,7.10937 11.97368,7.48354 5.61266,10.85115 -1.87089,13.09622 -11.22532,6.73518 -14.96709,1.49669 -42.656223,-8.98025 z');
}

/* Long Right Bushes Zone */
.hole18 #longrightbushes {
    clip-path: path('m 275.69584,87.841669 8.99583,2.38125 1.5875,8.995833 10.31875,3.968748 5.29167,3.96875 11.64167,1.85209 7.40833,9.525 6.61458,9.525 2.64584,9.78958 -8.99584,5.29167 -5.82083,11.37708 5.02708,4.23333 -1.5875,6.35 5.55625,5.29167 -2.38125,9.78958 2.38125,5.82084 -3.175,5.82083 -2.64583,4.49792 -4.49792,6.87917 -6.87916,9.26041 -7.9375,5.82084 2.64583,10.84791 3.70417,8.73125 v 10.31875 l -4.49792,0.79375 -6.87917,5.29167 -7.9375,-0.79375 -30.95625,4.7625 -3.43958,-0.26458 8.46667,-6.61459 3.35148,-4.58421 1.30963,-3.83532 -0.18711,-7.76418 -1.12252,-4.67721 -1.77735,-5.14494 -3.46114,-6.54811 -3.08696,-3.64822 -9.16735,-3.18051 -3.46114,-3.18051 -2.61924,-5.42557 -0.56126,-5.14494 3.83531,-4.77076 5.42558,-5.42557 4.67721,-4.02241 8.51254,-5.42557 6.17393,-4.67722 4.58367,-5.23848 1.68378,-3.55469 -1.30961,-4.77076 -2.24507,-2.89987 -5.42557,-4.39658 -5.89328,-3.3676 -4.86431,-0.37418 -3.46114,-2.15152 -1.96443,-5.05139 -0.65481,-7.85773 9.82215,-0.28063 6.17392,-1.77734 4.30305,-3.08696 2.43216,-4.2095 1.3096,-4.30304 0.18709,-10.38342 -2.3386,-10.570511 z');
}

/* Mid Right Bushes Zone */
.hole18 #midrightbushes {
    clip-path: path('m 330.06772,329.53855 -17.52865,2.18281 -10.18646,-1.19062 -5.15937,-14.48594 4.29948,-7.60677 3.24114,-7.34219 6.94531,-0.59531 4.10105,-5.09323 8.26823,0.19844 2.64583,4.23333 11.17865,3.24115 3.43958,10.12031 -2.24896,11.50937 z');
}

/* Short Lake Zone */
.hole18 #shortlake {
    clip-path: path('m 206.63959,926.04169 9.39271,5.02708 4.36562,1.32292 10.58334,1.19063 13.09687,-0.66146 14.55208,-3.57188 9.12813,-6.08542 4.63021,-8.59895 4.89479,-17.99167 5.55625,-4.49792 12.96458,-5.68854 10.31875,-4.10104 8.59896,-4.49792 5.95313,-3.83646 1.85208,-1.05833 2.51354,-4.10104 -1.19062,-4.10104 -7.67292,-4.49792 -13.89062,-3.30729 -11.2448,-4.7625 -5.95312,-3.57188 -1.85208,-2.24896 -2.51355,-5.95312 -1.19062,-7.9375 -0.26458,-15.34583 1.05833,-7.14375 3.175,-6.35 5.15937,-11.50938 3.83646,-10.58333 1.05834,-7.67292 -0.1323,-7.01146 -1.71979,-6.21771 -3.43958,-6.08541 -4.10104,-3.96875 -3.70417,-2.51355 -4.36562,-1.4552 -3.70417,-0.39688 -4.49792,1.85208 -4.63021,3.83646 -4.89479,4.63021 -4.89479,4.63021 -4.7625,5.68854 -4.36563,4.89479 -2.11666,5.02709 -1.85209,6.48229 -3.175,10.98021 -3.70416,9.92187 -2.38125,6.21771 -2.77813,3.96875 -9.78958,4.23333 -7.54063,10.84792 -4.49791,7.80521 -5.68854,12.43542 0.26458,9.525 0.79375,4.7625 -2.24896,12.56771 -2.77813,16.93333 -1.4552,14.81667 -0.79375,2.24895 1.4552,4.10105 z');
}

/* Long Lake Zone */
.hole18 #longlake {
    clip-path: path('m 254.1323,257.70417 -4.23334,1.45521 -7.8052,0.66146 -9.92188,-1.19063 -10.05417,-1.5875 -9.12812,-2.11666 -7.9375,-3.04271 -10.71563,-4.63021 c 0,0 -4.49791,-2.51354 -5.02708,-2.91042 -0.52917,-0.39687 -6.21771,-4.6302 -6.21771,-4.6302 0,0 -5.15937,-4.8948 -5.55625,-5.42396 -0.39687,-0.52917 -4.23333,-5.82084 -4.23333,-5.82084 l -1.5875,-4.49791 v -4.36563 l -0.13229,-4.23333 -0.79375,-4.89479 0.52916,-6.61459 2.11667,-4.36562 1.32292,-2.24896 3.96875,-5.42396 4.49791,-6.21771 2.91042,-6.74687 5.68854,-12.96459 3.70417,-9.12812 3.96875,-7.9375 3.57187,-3.96875 7.40834,-3.70417 7.67291,-2.77812 8.20209,-1.45521 12.96458,-1.45521 10.05417,-0.26458 0.39687,7.01146 1.71979,4.6302 3.3073,2.11667 4.89479,0.66146 5.42396,3.04271 6.08541,4.36562 2.24896,3.43959 1.32292,4.6302 -1.85208,3.96875 -5.42396,5.82084 -5.82084,4.23333 -6.87916,4.63021 -6.08542,4.7625 -5.42396,5.29167 -3.175,5.02708 0.26458,4.7625 2.64584,4.89479 3.96875,3.57188 5.68854,2.24896 2.51354,0.52916 3.57188,3.70417 2.91041,5.55625 2.77813,7.40833 0.66146,4.89479 0.26458,6.61459 -1.85208,4.36562 -4.49792,5.68854 z');
}

/* Bunkers Zone */
.hole18 #bunkers {
    clip-path: path('m 363.70039,548.91817 -3.36759,-59.86838 -10.85115,-6.73518 -13.84456,-21.32812 -1.12255,-28.81164 2.99342,-10.1028 7.85773,-2.61924 4.86431,-8.60608 -8.2319,-8.60608 -15.71546,4.86432 -5.73992,9.4815 -8.33438,12.17083 -10.84792,24.47396 2.77813,5.68854 1.32292,10.05417 -7.80521,16.13958 -8.46667,19.44688 -3.43958,14.68437 -1.45521,8.33438 -10.98021,13.09688 -10.71563,4.49791 -5.68854,5.82084 -3.70416,9.78958 4.49791,8.33437 14.94896,2.11667 12.30313,-5.29167 23.54791,-6.35 32.54376,-1.05833 12.83229,-3.04271 z');
}

/* Short Right Outer Rough Zone */
.hole18 #shortrightouter {
    clip-path: path('m 363.00834,549.80418 24.34167,-0.52917 -10.05417,86.25417 -2.64583,55.03334 -7.40833,32.27916 -9.525,23.28334 -3.70417,34.39583 1.5875,45.50834 -77.7875,-8.46667 1.5875,-6.87917 10.58333,-24.87083 2.64583,-7.9375 v -7.9375 -6.87917 l -3.175,-3.70416 -4.23333,-6.87917 8.46667,-5.29167 16.93333,-17.4625 46.0375,-110.06667 5.82084,-40.21667 z');
}

/* Long Left Outer Rough Zone */
.hole18 #longleftouter {
    clip-path: path('m 70.345341,401.49231 -26.56659,16.46377 -19.083046,-42.28203 -7.10937,-35.54685 c 0,0 -5.238482,-51.26228 -5.238482,-53.50735 0,-2.24507 2.245064,-32.92761 2.245064,-32.92761 l 10.102788,-59.12002 25.069881,16.83798 -2.245063,41.15951 -6.735192,34.42432 4.864304,50.8881 5.238483,21.70229 13.096209,30.30837 z');
}

/* Mid Right Outer Rough Zone */
.hole18 #midrightouter {
    clip-path: path('m 344.99151,294.85175 41.53369,-8.2319 1.87089,26.94078 -2.24507,39.66279 2.24507,46.77217 -0.74834,37.79192 1.49669,29.93419 1.49672,38.16606 -0.3742,20.95395 -2.61921,23.94736 -25.06991,-0.3742 -2.24504,-60.99091 -10.28989,-6.54809 -14.77999,-21.70229 -1.68381,-29.74711 4.11594,-10.66403 7.48355,-2.05798 4.67723,-7.67064 -8.41899,-8.41899 20.20556,-2.61924 1.49673,-34.61142 0.93543,-18.33467 2.05798,-20.57977 -2.61924,-11.97367 -20.39268,-18.52179 z');
}

/* Long Right Outer Rough Zone */
.hole18 #longrightouter {
    clip-path: path('m 387.61459,287.33751 -43.92083,8.73125 -10.05417,-9.78959 -7.67292,-11.37708 -6.35,-5.29167 -14.2875,-11.64166 -10.05416,-4.7625 5.82083,-5.02709 3.96875,-0.52916 0.26458,-9.78959 -3.30729,-7.67291 -3.04271,-12.17084 7.67292,-5.42396 17.33021,-26.59062 -2.24896,-6.35 2.38125,-9.26042 -5.68854,-5.42396 1.5875,-6.21771 -5.29167,-4.6302 6.35,-11.50938 8.59896,-5.02708 -2.64583,-9.6573 -13.62604,-18.52083 -12.30313,-2.24896 -4.89479,-3.70416 -10.31875,-3.968754 -1.45521,-8.863542 -9.12812,-2.778125 3.0427,-5.291667 8.0698,-20.902084 6.74687,3.042709 9.12813,4.7625 9.525,8.069792 12.17083,12.964583 9.78958,13.361458 9.12813,12.7 7.54062,11.64167 7.54063,16.00729 6.35,14.81667 6.21771,18.65312 3.96875,15.61042 2.11666,12.83229 1.45521,11.90625 0.26459,7.67292 2.51354,15.34583 2.51354,13.62604 2.24896,17.06563 z');
}

/* Teebox Zone */
.hole18 #teebox {
    clip-path: path('m 227.54167,814.38752 -86.78333,-12.96458 -35.18959,-6.35 -23.547915,38.1 -25.929167,44.18542 -8.466667,56.62083 31.220834,43.39167 41.804165,23.54794 179.12292,-1.05836 10.58334,-10.84792 12.7,-19.57916 11.37708,-24.60625 15.08125,-38.89375 4.49792,-22.75417 1.05833,-19.57917 v -27.51667 l -1.05833,-12.96458 -74.87709,-5.82083 1.5875,18.78541 2.38125,10.05417 7.40834,5.82083 11.90625,5.02709 13.49375,3.43958 7.67291,4.23334 1.32292,4.49791 -2.91042,4.23334 -6.61458,4.23333 -9.525,5.29167 -11.90625,5.02708 -11.37708,4.23333 -4.49792,3.175 -2.38125,7.14375 -3.70417,12.43542 -4.7625,8.46667 -9.26041,6.08541 -14.02292,3.43959 -13.49375,0.26458 -11.37708,-1.32292 -13.49375,-5.29166 -4.7625,-5.29167 -5.29167,-6.87917 -1.32292,-6.61458 7.67292,-43.92083 -0.79375,-6.61459 v -8.20208 l 5.55625,-12.17084 7.9375,-12.96458 c 0,0 3.175,-5.02708 4.23333,-5.55625 1.05834,-0.52917 8.73125,-3.96875 8.73125,-3.96875 z');
}