.hole10 .zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    pointer-events: all;
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

.zone-label-container {
    position: absolute;
    top: 20px;  
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 1000;
    display: none;
}

.zone-name-display {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    display: none;
    z-index: 1000;
    pointer-events: none;
}

/* Hover effects for different zones */
.hole10 #green:hover {
    background-color: rgba(84, 240, 64, 0.4);
}

.hole10 #shortright:hover,
.hole10 #shortleft:hover,
.hole10 #longleft:hover,
.hole10 #longright:hover {
    background-color: rgba(0, 255, 0, 0.2);
}

.hole10 #shortfairway:hover,
.hole10 #midfairway:hover,
.hole10 #longfairway:hover {
    background-color: rgba(0, 255, 0, 0.3);
}

.hole10 #frontlake:hover,
.hole10 #rightlake:hover {
    background-color: rgba(0, 191, 255, 0.4);
}

.hole10 #shortrightrough:hover,
.hole10 #shortleftrough:hover,
.hole10 #midrightrough:hover,
.hole10 #midleftrough:hover,
.hole10 #longrightrough:hover,
.hole10 #longleftrough:hover,
.hole10 #longlongleftrough:hover,
.hole10 #longlongrightrough:hover {
    background-color: rgba(255, 255, 0, 0.3);
}

.hole10 #rightbush:hover,
.hole10 #shortleftrees:hover,
.hole10 #midleftrees:hover,
.hole10 #longleftrees:hover {
    background-color: rgba(2, 37, 2, 0.2);
}

.hole10 #tee:hover {
    background-color: rgba(139, 69, 19, 0.2);
}

.hole10 #longrightouterrough:hover,
.hole10 #midrightouterrough:hover,
.hole10 #shortrightouter:hover,
.hole10 #leftouterrough:hover {
    background-color: rgba(14, 5, 0, 0.2);
}

/* Green zone */
.hole10 #green {
    clip-path: path('m 271.83986,93.17016 -5.61266,6.173926 -6.54812,5.799744 -8.04481,5.79975 -8.79317,5.23849 -7.29646,3.55468 -8.41899,3.74178 -8.2319,2.61924 h -7.85773 l -5.79974,-2.05798 -3.3676,-3.18051 -1.49671,-4.8643 0.37418,-5.61266 1.30962,-4.11595 3.74177,-4.49013 2.80633,-2.432154 3.92887,-2.432154 2.24506,-2.993416 4.30304,-7.29646 5.61266,-13.096206 1.87088,-6.735194 0.93545,-4.115951 2.05797,-4.864304 2.43216,-3.554685 2.99342,-2.057976 3.92886,-0.935443 4.30304,-0.561266 5.05139,0.748356 6.36102,1.870884 4.11595,1.870888 5.23848,2.806329 4.30303,4.677217 3.36759,4.864307 2.43216,3.367595 2.43215,5.051394 0.18709,5.238483 -0.74835,5.238483 -2.43215,4.115951 z');
}

/* Short right zone */
.hole10 #shortright {
    clip-path: path('m 206.35881,124.41397 -4.11595,10.47696 -3.55469,11.03824 -3.55468,9.9157 -3.18051,10.66405 8.98026,5.23848 15.52836,1.6838 12.34785,-1.12253 4.28847,-1.65242 12.96459,-3.175 6.35,-11.64166 -1.85209,-7.9375 -2.10666,-2.53419 -1.30962,-2.24506 v -2.99342 l 1.87089,-1.6838 4.49012,-2.43215 4.49013,-2.05798 6.36102,-2.80633 6.92227,-2.43215 7.67064,-3.3676 5.98683,-2.80633 6.17395,-4.11595 4.86428,-4.8643 1.49673,-3.18051 -39.10154,-4.30304 -7.85773,5.42557 -5.98683,3.36759 -9.9157,4.86431 -6.17393,2.80633 -9.16734,3.18051 -8.419,-0.18709 z');
}

/* Short left zone */
.hole10 #shortleft {
    clip-path: path('m 219.60417,84.402085 -80.43333,-5.820833 -4.23334,14.022917 -3.57187,16.007291 -3.96875,10.84792 -4.23334,11.1125 -3.83645,14.68437 15.08125,9.26042 13.49375,6.08542 14.81666,2.11666 17.4625,2.64584 12.17084,1.05833 14.2875,-42.33333 -1.30977,-0.33043 -2.99342,-2.89988 -1.77734,-4.77076 0.56126,-5.42557 1.30963,-4.39658 4.20949,-4.67722 2.33861,-2.245064 3.92886,-2.151521 4.02241,-5.986835 3.92886,-6.828738 z');
}

/* Long left zone */
.hole10 #longleft {
    clip-path: path('m 254.62769,53.320271 9.7286,-53.88153691 -17.96051,-0.18708878 -115.80789,0.18708868 8.98026,12.90911901 0.18709,13.844562 -3.18051,12.722029 1.49671,15.528359 0.93545,17.586336 -0.18709,6.922281 9.16734,1.683798 72.96458,4.30304 4.67722,-11.412408 2.61924,-10.476966 2.24507,-5.051396 2.05797,-3.367595 2.61924,-1.870888 7.48355,-1.870884 5.05139,1.122532 6.54811,3.180506 z');
}

/* Long right zone */
.hole10 #longright {
    clip-path: path('m 257.99528,106.26637 39.10154,4.30304 1.21608,-2.80633 0.56126,-3.74178 0.37417,-3.74177 0.93544,-3.835317 2.43216,-5.238483 2.33862,-3.741775 3.74176,-4.209494 8.51255,-4.022408 10.38341,-2.15152 8.04482,-0.374177 2.99342,-14.967093 0.56126,-17.773426 -3.36759,-14.031648 -6.73521,-12.347854 -8.60608,-11.22532 -8.04481,-7.6706357 -48.64305,0.74835469 -9.72861,54.81698201 9.35443,3.928862 4.67722,4.864306 5.6134,7.991743 2.64583,5.027083 v 5.027084 l -0.66146,5.159375 -4.49792,7.14375 -5.15937,5.953125 -8.73125,6.614586 z');
}

/* Short fairway zone */
.hole10 #shortfairway {
    clip-path: path('m 87.577086,544.7771 89.693754,-2.24896 1.39884,11.25434 0.93545,10.47697 0.37418,11.5995 -0.56127,13.2833 -1.49671,9.16733 -2.24506,6.73518 -2.99342,5.79975 -5.42558,5.23849 -5.79974,3.5547 -6.54811,5.05137 -6.36101,5.98686 -3.55469,7.10935 -2.05797,6.36104 -0.18709,8.04479 v 10.28988 l -0.56127,6.92229 -1.6838,5.0514 -2.80633,4.11594 -4.8643,2.43216 -6.36101,2.43215 -5.98684,0.37418 -5.61267,-2.24507 -5.61265,-5.0514 -4.49013,-6.92227 -1.87089,-9.91571 -0.56127,-9.16734 0.74836,-12.72204 0.18709,-11.59949 -1.12253,-14.96708 -2.05798,-12.53495 -2.619242,-21.32812 -1.309618,-10.47694 -0.18709,-7.48356 -0.935442,-4.30305 -4.115951,-5.98683 z');
}

/* Mid fairway zone */
.hole10 #midfairway {
    clip-path: path('m 117.49169,355.65557 73.90002,2.05798 -3.55468,5.98684 -6.54811,6.73518 -7.48354,5.98683 -5.98684,5.42557 -6.36101,9.16737 -2.99342,6.92226 -1.30962,9.35445 3.74177,8.60608 5.61266,5.61266 5.23848,6.73518 4.11595,6.73521 2.80633,7.48352 1.12254,8.23191 -1.12254,6.17394 -5.79974,6.17392 -4.49013,4.49014 -2.80633,6.54809 -0.74836,6.73518 1.6838,10.1028 2.61924,11.41241 4.11595,20.39268 1.87089,9.16734 2.05797,11.03823 -89.802558,1.96442 -4.115951,-4.86431 -3.274053,-4.20949 -2.806329,-4.39658 -0.935445,-2.99342 -0.09354,-7.01583 1.403165,-12.81557 1.683798,-9.35442 2.80633,-11.50596 4.30304,-15.43481 3.835318,-11.50597 10.944685,-33.86304 1.96443,-7.20291 0.37418,-6.73521 -0.56127,-7.85773 v -9.26086 l 1.49671,-6.08039 3.3676,-8.98025 2.61924,-6.82874 1.77734,-5.14495 1.49671,-5.61266 1.30962,-4.11594 1.49671,-1.8709 z');
}

/* Long fairway zone */
.hole10 #longfairway {
    clip-path: path('m 191.11108,357.80708 0.93544,-2.24507 1.02899,-3.46112 0.37418,-4.0224 0.28063,-5.23849 0.74836,-4.30305 2.15152,-8.2319 2.71278,-5.33202 2.61924,-4.30305 2.99342,-3.83532 1.96443,-3.55468 1.49671,-3.1805 1.12254,-3.55468 v -3.64823 l -1.40317,-3.64824 -2.43215,-2.99341 -2.89988,-2.61924 -3.27405,-2.3386 -3.92886,-2.24507 -4.95785,-2.15152 -5.14494,-1.21607 -5.23848,-0.84191 -5.61266,-0.37417 -5.79975,0.37417 -4.49013,0.84191 -4.77076,1.21607 -3.74177,1.59026 -3.08697,1.87087 -2.43215,2.61924 -2.33861,3.83532 -1.12253,2.61924 -1.77734,6.82874 -1.40317,6.54809 -1.12253,4.95787 -0.74836,2.71277 -0.18708,7.85773 -0.18709,4.11597 -0.28063,5.70619 -1.21608,3.27406 -2.43215,2.61924 -3.3676,2.43215 -3.55469,1.96443 -3.64823,1.77734 -3.92886,1.87089 -2.61924,1.59026 -2.89987,1.96442 z');
}

/* Front lake zone */
.hole10 #frontlake {
    clip-path: path('m 195.97539,200.93324 3.36759,1.77734 3.27406,3.74177 1.77734,4.11595 1.12253,4.2095 0.28063,2.80633 -1.40316,3.74177 -0.65481,2.89988 0.74835,3.27405 1.87089,4.30304 2.15152,2.71278 2.71278,2.33861 4.2095,0.93544 3.55468,0.65482 4.67722,1.87088 5.33203,3.08697 4.67721,3.83531 6.08039,6.64165 6.82873,7.95127 3.3676,3.27405 4.95785,2.43215 5.14494,1.96443 2.80633,2.43216 2.05797,2.89988 1.21608,4.2095 -0.56126,3.46112 -1.77735,2.61924 -3.18051,2.05798 -3.83531,1.77734 -5.0514,1.59025 -7.57709,0.28065 -6.92228,-0.84191 -10.10279,-2.43215 -11.41241,-3.64824 -10.7576,-2.99341 -4.8643,-1.68379 -4.49013,-2.7128 -3.27405,-3.36759 -4.02241,-2.3386 -5.42557,-1.12254 -4.2095,-0.56126 -4.8643,-2.80633 -4.39659,-4.58367 -2.99342,-3.83532 -2.05797,-4.02241 -1.12253,-4.39658 0.74835,-3.18051 1.40317,-4.67722 0.56127,-2.24506 0.0935,-2.61924 -0.56127,-3.27405 -1.40316,-3.55469 -0.46772,-3.27405 1.02898,-2.71279 2.33861,-2.80633 1.77734,-2.80633 0.46773,-2.71278 -0.74836,-1.77735 -1.21608,-2.43215 -0.65481,-2.15152 0.56127,-2.24506 1.59025,-2.61924 2.5257,-2.24507 3.55469,-1.49671 3.36759,-0.65481 h 3.74178 l 3.64823,0.18709 5.33202,0.18709 3.92887,0.28063 z');
}

/* Right lake zone */
.hole10 #rightlake {
    clip-path: path('m 295.67188,261.80521 3.50573,-0.26458 5.02709,-1.71979 4.36562,-2.97656 3.175,-2.77813 5.15938,-6.08541 3.77031,-6.01928 2.18281,-3.96875 1.38906,-2.77812 1.32292,-2.97656 1.19062,-3.83646 0.79375,-5.68854 0.8599,-4.43177 0.99219,-5.88698 1.5875,-6.74688 1.36927,-2.74973 2.52569,-2.71279 3.46114,-2.24506 3.64824,-2.33861 3.46114,-1.30962 3.06316,-1.27804 2.91042,-2.31511 1.78594,-2.91041 1.52135,-3.50573 0.8599,-2.64584 0.79375,-4.56406 0.7276,-3.30729 1.19063,-2.51354 1.78594,-2.11667 2.71197,-2.24896 1.25678,-2.3151 0.52916,-2.4474 -0.0661,-2.84427 -0.39688,-3.57187 -1.05833,-4.49792 -0.59531,-3.63802 -0.1323,-3.57188 0.46302,-3.37343 1.45521,-5.02709 1.25677,-4.03489 1.19063,-3.63803 0.7276,-3.9026 0.66146,-4.29948 0.72761,-5.02708 0.39687,-4.0349 0.0661,-3.63802 -0.26459,-4.69635 -0.85989,-4.49792 -1.52136,-3.836458 -2.77812,-3.968751 -3.37344,-3.373437 -4.43177,-3.108854 -6.21771,-3.373438 -4.63021,-1.5875 -6.48229,-1.389063 -5.82083,-0.132291 -7.01146,0.463021 -6.01927,1.190625 -2.71198,0.661458 -8.53281,3.902604 -3.63802,4.233334 -2.38125,3.836458 -2.2931,5.050041 -1.13072,4.219841 -0.69339,6.39744 -1.21608,3.32083 -1.40317,3.13373 -4.53691,4.58367 -6.12714,4.16273 -13.89134,6.40778 -6.82874,2.24507 -11.13177,5.09817 -4.34981,2.24506 -2.1983,1.91766 0.23387,3.36759 1.44993,2.1983 1.91766,2.19829 2.71279,1.1693 4.39658,1.35639 4.67722,1.49671 4.39659,0.8419 4.91106,1.02899 3.60146,1.12253 2.24507,1.02899 2.61924,1.49671 3.08697,2.38538 1.87087,2.0112 2.10476,3.22728 1.91765,4.77076 1.07577,3.97564 1.07577,6.50133 0.70157,5.00462 0.23386,3.74178 -0.0935,4.39658 -0.51449,3.74177 -0.70159,2.94665 -1.77734,2.47893 -3.41437,3.50791 -1.30961,1.82411 -2.0112,5.00462 -1.59025,4.77077 -1.35639,5.51911 -0.79515,4.95785 -0.37417,4.91108 -0.14031,4.34981 0.0935,3.88209 0.18709,4.11595 0.88866,4.02241 0.98221,2.99342 1.96445,3.22728 2.01121,1.96443 2.15151,1.49671 2.47891,1.26284 2.33862,0.79513 2.0112,0.5145 z');
}

/* Short right rough zone */
.hole10 #shortrightrough {
    clip-path: path('m 176.98589,542.93134 111.87903,-1.8709 -18.3347,43.77876 -8.98025,27.31494 -10.47697,39.66279 -6.73519,22.45064 -14.96709,8.2319 -8.60609,8.2319 2.61925,8.60611 9.72861,11.97366 4.11595,1.8709 v 19.83139 l 2.61924,24.69571 9.35443,23.57316 6.36102,8.98027 -7.48355,13.47036 -3.74177,14.21877 -1.87089,8.98025 -40.78533,3.36759 -62.48762,-154.16107 2.05798,-8.419 1.12253,-14.40582 0.18709,-9.72862 5.61266,-12.34784 9.72861,-8.98025 9.72861,-6.73521 5.23849,-5.23848 5.23848,-11.59949 1.49671,-10.1028 0.37418,-19.08305 -0.74836,-13.47036 z');
}

/* Short left rough zone */
.hole10 #shortleftrough {
    clip-path: path('m 201.86868,830.11245 -5.05139,1.40316 -8.13836,4.39659 -18.52178,3.55467 -12.73006,3.23107 -12.96459,-20.37292 -5.29166,-21.43125 -7.40834,-23.8125 -14.2875,-31.48542 -5.29166,-8.46666 -18.785421,1.05833 -16.933334,-9.525 -8.466667,-23.28334 -6.614583,-21.69583 18.785417,-5.82083 3.704167,-31.22084 -6.085417,-24.34166 -13.229167,-36.51251 -13.229167,-35.18958 -3.175,-5.82083 42.068751,0.52916 7.14375,11.1125 4.233331,39.15834 4.49792,39.42292 -1.5875,23.8125 5.82083,17.4625 13.49375,5.02708 16.13959,-5.82083 46.83125,116.15208 z');
}

/* Mid right rough zone */
.hole10 #midrightrough {
    clip-path: path('m 190.45627,358.08773 110.38232,3.74176 4.11596,27.68912 5.98683,22.82482 5.98684,29.18584 -4.86431,38.91444 -10.85115,31.43091 -13.09621,30.68254 -110.56939,1.12252 -10.66407,-53.69444 -2.05796,-15.71545 4.11594,-7.85772 9.16735,-8.2319 1.74905,-8.5853 -2.43437,-11.97995 -6.61114,-11.42693 -9.54153,-9.91568 -3.74176,-7.29648 0.18708,-9.54152 c 0,0 3.55469,-7.10936 3.92887,-8.60606 0.37417,-1.49672 11.97367,-14.59292 11.97367,-14.59292 l 17.21216,-17.39925 z');
}

/* Mid left rough zone */
.hole10 #midleftrough {
    clip-path: path('M 89.428386,545.92475 47.894702,545.17641 42.28204,519.35815 41.907863,490.54651 c 0,0 6.361015,-35.92103 6.735191,-37.41775 0.374179,-1.49669 11.225322,-32.17923 11.225322,-32.17923 0,0 12.347853,-31.05674 13.470385,-34.05016 1.122532,-2.99342 7.10937,-34.79848 7.10937,-34.79848 l 39.288619,4.11594 -7.12979,10.74547 c -2.28035,5.65959 -3.68057,9.11883 -8.77274,21.80796 -2.85273,11.58382 0.31806,12.62668 -0.76096,26.23591 -0.64194,8.09644 -3.786524,17.4474 -6.220385,24.94163 -11.18295,34.43402 -22.991808,68.86989 -20.520695,92.1324 z');
}

/* Long right rough zone */
.hole10 #longrightrough {
    clip-path: path('m 184.84361,285.49733 3.3676,-14.96711 73.71294,15.1542 3.78558,-3.08851 2.9496,7.20444 -8.79316,9.72863 -2.05798,11.22532 5.23849,9.16733 14.78001,9.54151 13.09619,5.42558 15.34128,2.80633 -5.61266,25.0699 -109.82105,-4.11596 2.24506,-5.79974 c 0.40071,-10.1158 1.41522,-21.54382 4.30304,-24.69572 1.56251,-3.19216 4.82536,-6.515 7.43908,-11.24987 3.02058,-5.47192 5.29977,-10.26946 5.11465,-12.8726 -0.46062,-6.47745 -7.03608,-11.27134 -13.0907,-13.547 -4.86903,-1.83005 -4.7677,-2.4819 -11.99797,-4.98673 z');
}

/* Long left rough zone */
.hole10 #longleftrough {
    clip-path: path('m 188.39829,271.46566 -2.01257,14.85751 c -5.52786,1.49361 -8.98586,-0.32182 -14.90463,-0.89449 -11.29395,-1.09274 -25.35367,1.37611 -30.01251,35.35467 l -0.46241,19.96933 -24.26284,16.77379 -35.780828,-4.57229 7.14375,-65.35209 -0.79375,-30.1625 -0.264583,-24.60625 84.269791,31.08854 6.49139,5.0037 8.45757,1.74318 z');
}

/* Long long left rough zone */
.hole10 #longlongleftrough {
    clip-path: path('m 195.87244,200.83694 6.6765,-28.96665 -11.34432,-7.41935 -43.03039,-5.05139 -28.62457,-14.78001 -12.16076,12.34786 -9.354436,23.57317 -8.606078,34.61141 -1.870888,19.27013 84.773872,30.44065 c -2.89757,-2.54496 -5.69366,-5.66719 -7.3658,-8.67127 -1.33571,-2.39969 -2.44938,-7.35848 -0.89774,-10.03428 2.38411,-4.11137 2.24333,-9.85912 1.84973,-11.07989 -0.83409,-2.58696 -2.29167,-6.11186 -2.46257,-8.73116 -0.12828,-1.96612 2.59715,-4.14652 4.21932,-6.75418 1.17471,-1.88836 0.99647,-3.25703 0.94675,-4.47827 -0.063,-1.54618 -1.6737,-3.01156 -1.64867,-4.37756 0.12593,-6.87335 1.19792,-6.64305 5.61323,-9.7865 l 13.95537,-1.0611 z');
}

/* Long long right rough zone */
.hole10 #longlongrightrough {
    clip-path: path('m 268.68203,289.80035 49.74288,5.79975 8.2319,-33.11469 -2.99341,-26.56659 -25.06988,-89.05421 -51.26229,-0.93544 -13.86841,23.96825 -4.80566,2.00904 -7.59641,1.16891 -8.59312,0.23925 -10.03768,-1.56722 -6.92228,29.56001 4.77123,1.51446 3.99675,5.78855 1.70278,7.52593 -1.21255,4.47334 -1.12265,3.05297 1.40949,5.3306 2.64206,5.03397 4.15528,2.84021 5.67771,1.22338 4.8611,1.74752 5.71668,2.76345 5.94441,4.66855 6.19075,6.96922 5.40374,6.55198 5.21788,4.821 7.36871,3.07349 5.79878,4.04168 2.08865,5.06532 -0.30709,5.376 z');
}

/* Right bush zone */
.hole10 #rightbush {
    clip-path: path('m 305.72605,337.60834 12.56771,-42.73021 -50.8,-5.55625 -8.46667,10.18646 -2.24896,12.17083 6.35,9.78959 15.08125,8.86354 13.36146,5.82083 z');
}

/* Short left trees zone */
.hole10 #shortleftrees {
    clip-path: path('m 49.212501,545.04168 -53.4458344,3.175 50.2708344,148.69584 70.379169,159.80833 43.92083,-15.875 -85.724998,-279.4 z');
}

/* Mid left trees zone */
.hole10 #midleftrees {
    clip-path: path('m 87.841669,235.47917 -64.029168,4.7625 -24.9507034,232.29839 2.7257025,74.61828 53.4458349,1.58751 c 0,0 34.395834,-181.50417 35.454167,-183.62084 1.058334,-2.11667 8.466667,-129.11667 8.466667,-129.11667 z');
}

/* Long left trees zone */
.hole10 #longleftrees {
    clip-path: path('M 134.9375,1.5875 96.837502,3.1750001 50.800001,33.866668 27.516667,87.312502 l -6.35,72.495838 3.175,80.9625 66.145835,-2.64583 L 130.175,148.69584 144.4625,75.670835 V 2.6458334 Z');
}

/* Long right outer rough zone */
.hole10 #longrightouterrough {
    clip-path: path('m 315.80567,294.85175 29.18584,2.24507 L 376.4224,166.13474 382.40926,91.299273 381.66089,49.39141 352.47507,15.715449 328.52771,-1.4967094 h -20.95392 l 1.24773,84.5813884 14.74932,-5.614576 18.54975,-0.03775 14.83723,6.053591 10.32415,9.424551 3.11317,13.345565 -2.34252,17.07424 -4.8548,18.44381 -0.18795,7.79889 1.84618,10.21149 -0.62696,4.90966 -4.67017,5.59493 -1.77673,1.88444 -1.88347,9.26014 -2.48057,6.5875 -3.13904,4.07033 -7.0538,3.23282 -7.29262,4.0228 -2.65985,2.30936 -2.0385,3.29802 -1.3394,5.68513 -1.87982,9.64978 -1.93555,11.33907 -2.02962,4.46403 z');
}

/* Mid right outer rough zone */
.hole10 #midrightouterrough {
    clip-path: path('m 285.8715,544.05386 68.10026,-0.74835 4.49014,-62.11345 -2.24507,-68.10026 -11.97366,-71.84205 2.99341,-47.14634 -32.92761,-0.74838 -17.21215,69.59701 17.21215,74.83547 -2.99341,40.41113 z');
}

/* Short right outer rough zone */
.hole10 #shortrightouter {
    clip-path: path('m 279.1363,916.73449 70.34535,-74.08711 -58.37166,-133.20713 15.71543,-73.33875 40.41116,-56.87496 9.7286,-38.91445 -71.84205,1.4967 -21.70228,50.13979 -17.21215,68.10026 -30.68255,29.93419 17.21216,26.94077 3.74177,41.90786 15.71545,29.93419 -11.97367,41.15951 -1.49671,19.45722 -12.72203,37.41772 32.17925,32.92761 z');
}

/* Left outer rough zone */
.hole10 #leftouterrough {
    clip-path: path('M 5.9868376,550.78907 -14.967094,559.76932 40.411152,878.5684 128.71701,854.62107 Z');
}

/* Tee zone */
.hole10 #tee {
    clip-path: path('m 242.09275,827.30612 2.24506,21.70229 -8.98026,19.08305 -5.23848,13.09618 16.08963,17.96053 13.0962,12.34784 18.70888,4.49014 66.97773,-71.0937 37.79192,105.51803 6.36101,32.92761 -9.7286,19.08301 -278.01378,-1.4967 -32.927606,-32.55342 -18.334689,-43.40458 -5.238483,-53.88153 72.590408,-15.71545 43.77875,-15.34126 39.66279,-10.1028 z');
}