.hole1 .zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    pointer-events: all;
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}


.zone-label-container {
    position: absolute;
    top: 20px;  
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 1000;
    display: none;
}

.zone-name-display {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    display: none;
    z-index: 1000;
    pointer-events: none;
}

/* Hover effects for different zones */
.hole1 #teebox:hover {
    background-color: rgba(139, 69, 19, 0.2);
}

.hole1 #rough:hover {
    background-color: rgba(255, 255, 0, 0.3);
}

.hole1 #green:hover {
    background-color: rgba(84, 240, 64, 0.4);
}

.hole1 #short-left:hover,
.hole1 #short-right:hover,
.hole1 #long-left:hover,
.hole1 #long-right:hover {
    background-color: rgba(8, 44, 3, 0.3);
}

.hole1 #lake:hover {
    background-color: rgba(0, 0, 255, 0.2);
}

.hole1 #left-trees:hover,
.hole1 #right-trees:hover {
    background-color: rgba(2, 37, 2, 0.2);
}

/* Hole 2 */

/* Teebox */
.hole1 #teebox {
    clip-path: path('m 140.22917,655.10832 -2.11667,102.12917 -10.58333,64.02917 1.5875,24.87083 -15.34584,64.02917 -10.58333,26.9875 -11.1125,17.4625 34.39583,24.34167 35.98334,20.6375 19.05,4.76247 21.16666,-2.1166 63.50001,-24.87087 55.5625,-289.45417 -60.85417,-5.82084 -3.70417,-16.40416 -14.2875,-16.40417 -19.57917,-8.99583 -23.28333,1.05833 -19.05,9.525 -6.35,7.40833 z');    
}

/* Rough */
.hole1 #rough {
    clip-path: path('m 43.391668,413.54376 26.722914,-2.11667 107.156248,-48.15416 84.93125,28.04583 -36.5125,28.575 -7.9375,12.7 -2.11666,10.05417 4.49791,5.55625 26.19375,5.55625 10.58334,13.75833 14.2875,39.42289 12.7,12.96459 18.25625,5.82083 28.575,-1.32292 3.70417,-2.11666 21.16667,-11.64167 -34.39584,180.44584 -62.17709,-7.9375 -1.32291,-12.7 -13.49375,-17.99167 -18.25625,-8.99583 -22.48959,-1.05834 -18.78541,7.9375 -9.26042,9.78959 -33.60208,-3.43959 v -15.875 L 81.756249,473.60418 Z');    
}

/* Green */
.hole1 #green {
    clip-path: path('m 256.11667,245.79792 15.34584,-9.78959 10.05416,-11.37708 5.29167,-13.49375 -0.26458,-16.40417 -6.87917,-15.08125 -9.78958,-11.90625 -11.11251,-10.05416 -15.875,-7.14375 -18.25625,-2.11667 -16.40417,4.23333 -10.05416,7.67292 -8.73125,10.58333 -10.84792,11.37709 -8.46667,7.40833 -13.22916,5.02708 -8.46667,6.87917 -5.02708,7.67292 -0.52917,8.99583 4.23333,10.58333 6.61459,9.78959 7.40833,5.55625 11.37708,3.96874 22.48959,4.76251 25.66458,2.64583 13.22917,-0.79375 10.84791,-3.43958 z');
}

/* Trouble Areas */
.hole1 #short-left {
    clip-path: path('m 199.06234,251.82135 -18.70886,22.82481 -2.61925,21.70229 -1.4967,40.41116 0.74835,28.0633 -107.388895,48.26886 -25.818237,1.8709 L 0,347.61076 -0.74835466,230.86742 l 0.4039954,-65.33384 38.13627126,20.43256 37.043554,7.48354 11.225322,-2.99342 8.231902,-9.72861 0.748355,-11.22532 -0.374179,-8.2319 85.686614,22.45064 -8.60608,7.10937 -13.47039,4.49013 -7.85772,6.73519 -5.23848,7.10937 -1.12253,8.2319 4.8643,11.22532 6.36101,10.47697 7.48355,4.49013 10.85115,3.36759 z');
}

.hole1 #short-right {
    clip-path: path('m 198.68817,250.32464 -20.20558,24.69569 -2.24506,22.07647 -0.37418,67.72611 45.27546,15.34125 38.91444,11.22532 8.2319,-14.96708 6.73518,-26.1924 14.96711,-26.19243 14.96708,-12.34784 10.85115,-0.74837 16.4638,4.86431 -2.24507,-11.59949 4.49014,-8.98025 4.49014,-2.24507 3.36759,-0.74835 2.99342,-2.99342 -0.37418,-4.86431 -3.74179,-4.11596 -1.12252,-7.48353 2.99342,-6.73521 5.61266,-4.8643 5.23848,-1.87089 7.48356,-2.61924 4.11594,-8.2319 7.10938,-5.61266 3.36759,-2.99342 -3.74177,-3.36759 -0.3742,-8.2319 -34.4243,0.74835 -57.24914,-7.10937 -9.7286,12.72203 -26.19242,15.71545 -10.85114,2.99342 -12.34785,1.12253 z');
}

.hole1 #long-left {
    clip-path: path('M 229.37071,149.67094 245.46033,55.004069 253.69224,25.069882 264.54338,4.8643054 234.23501,-0.37417733 175.86335,0 129.83954,8.2319016 95.789398,15.715448 112.2532,49.39141 l 14.9671,8.606078 7.10937,4.490128 9.35443,2.61924 10.10279,6.735194 4.49012,12.34785 -11.59949,11.973677 -4.86431,7.483543 v 11.5995 l -13.09621,8.2319 h -10.85114 l -5.23848,-1.87088 -4.11595,4.11594 5.98684,5.23849 3.74177,7.48354 -0.74836,4.86431 -2.24506,11.5995 -11.5995,7.48354 -11.599494,-0.37417 87.557494,22.07646 20.57976,-23.57317 11.22532,-7.48355 z');
}

.hole1 #long-right {
    clip-path: path('m 228.99653,148.92258 14.96709,-93.170155 7.48355,-30.308366 11.5995,-20.953931 53.88155,9.728611 25.44405,14.592916 17.21215,25.818235 15.34129,35.172672 13.84456,35.546848 10.10277,28.81165 4.86431,19.45723 1.49669,22.45064 v 20.20557 l -16.83797,-0.37418 -11.22532,7.10937 -1.12252,0.74836 -2.61925,6.73519 -35.92102,-0.37418 -56.12659,-7.10937 4.11593,-11.97367 v -16.08963 l -5.98683,-13.47038 -9.7286,-11.97368 -12.34786,-10.85114 -16.08963,-7.85772 z');
}

/* Water */
.hole1 #lake {
    clip-path: path('m 346.11403,519.35815 -15.71545,5.98684 -28.81165,1.49669 -19.08304,-6.73518 -12.34784,-12.72204 -7.85774,-20.20557 -7.48354,-20.57974 -8.98026,-11.97369 -18.33469,-3.36759 -8.2319,-1.8709 -4.49013,-6.36101 1.87089,-10.10279 8.2319,-13.84456 16.08963,-13.84457 19.08304,-15.71543 7.10938,-14.9671 6.36101,-24.32151 15.34125,-26.19243 15.34129,-12.34784 11.59949,-2.24507 10.85114,3.36759 10.47698,3.74177 19.08304,13.47038 12.72202,11.9737 9.72862,18.33467 3.74176,19.83139 -1.87087,36.29523 -7.10938,29.55999 -7.85772,29.18585 -3.36759,20.57974 -5.98684,15.34128 z');
}

/* Trees */
.hole1 #left-trees {
    clip-path: path('m 7.9374999,170.39167 29.8979181,16.93333 37.041665,6.87917 11.641667,-2.91042 8.995833,-10.58333 0.264583,-18.52084 8.731254,1.5875 12.43541,-8.99583 2.64584,-16.93333 -3.43959,-6.61459 -5.82083,-5.55625 2.64583,-2.91041 5.02709,2.11666 10.84791,-0.52916 14.02292,-8.73125 -0.26458,-11.64167 5.29166,-7.14375 L 159.54375,84.402083 155.04583,70.643749 142.875,63.499999 134.9375,61.383332 113.24167,48.683335 96.308333,14.2875 69.056249,24.60625 -0.26458333,86.51875 -1.3229167,170.39166');
}

.hole1 #right-trees {
    clip-path: path('m 380.53836,365.19708 3.92886,-22.26355 1.6838,1.68381 6.5481,-0.56129 4.11594,-2.99341 2.99344,-4.11594 1.87087,-1.49672 -0.37418,-120.29801 h -13.47038 l -12.34784,8.04481 -4.30306,7.29646 0.37418,6.92228 3.5547,2.61924 -9.91571,8.04482 -4.49014,8.2319 -11.97366,4.11595 -6.5481,5.61265 -2.99341,7.67064 1.68378,8.04482 3.1805,2.99342 0.74838,4.30302 -2.05799,2.24507 -4.11596,1.12255 -5.05137,2.24507 -4.11597,9.35442 2.43216,11.97367 4.67722,1.12254 16.08961,11.5995 15.90254,14.03164 9.54154,17.77342 0.93543,5.0514 z');
}