.hole5 .zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    pointer-events: all;
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

.zone-label-container {
    position: absolute;
    top: 20px;  
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 1000;
    display: none;
}

.zone-name-display {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    display: none;
    z-index: 1000;
    pointer-events: none;
}

/* Hover effects for different zones */
.hole5 #short-fairway:hover,
.hole5 #mid-fairway:hover,
.hole5 #long-fairway:hover {
    background-color: rgba(0, 255, 0, 0.4);
}

.hole5 #short-right-rough:hover,
.hole5 #short-left-rough:hover,
.hole5 #mid-right-rough:hover,
.hole5 #mid-left-rough:hover,
.hole5 #long-right-rough:hover,
.hole5 #long-left-rough:hover,
.hole5 #short-rough:hover {
    background-color: rgba(255, 255, 0, 0.3);
}

.hole5 #green:hover {
    background-color: rgba(84, 240, 64, 0.4);
}

.hole5 #short-left:hover,
.hole5 #short-right:hover,
.hole5 #long-left:hover,
.hole5 #long-right:hover,
.hole5 #fairway-bunker:hover {
    background-color: rgba(8, 44, 3, 0.3);
}

.hole5 #teebox:hover {
    background-color: rgba(139, 69, 19, 0.2);
}

.hole5 #long-right-trees:hover,
.hole5 #mid-right-trees:hover,
.hole5 #mid-left-trees:hover,
.hole5 #long-long-right-trees:hover,
.hole5 #long-long-left-trees:hover {
    background-color: rgba(2, 37, 2, 0.2);
}

.hole5 #long-left-outer-rough:hover,
.hole5 #short-left-outer-rough:hover,
.hole5 #short-right-outer-rough:hover {
    background-color: rgba(14, 5, 0, 0.2);
}

/* Hole 5 */

/* Teebox */
.hole5 #teebox {
    clip-path: path('m 254.81477,993.81503 -34.79849,8.23187 -154.161066,-0.7483 -5.238483,-4.49015 11.599498,-25.06988 5.986838,-18.70888 17.212157,-9.35442 14.218736,-6.36101 25.81824,1.12252 h 26.94077 l 33.30178,1.49673 17.21216,-3.74179 5.23848,-20.20557 4.11596,-26.94078 3.36759,-14.59291 8.98026,-6.73518 16.4638,-1.87089 11.22532,3.74176 7.85773,5.61266 -5.23849,26.19243 -2.99341,16.08963 2.61924,23.19898 -1.12254,15.71546 -5.61266,20.20557');    
}

/* Fairway */
.hole5 #short-fairway {
    clip-path: path('M 285.12313,533.95109 H 182.59855 l -1.87089,20.95391 5.98684,11.5995 3.74177,18.3347 -7.48355,42.28203 7.48355,44.9013 -1.87089,13.47039 -3.74177,13.09618 -5.61266,9.35445 -5.23848,6.73518 v 7.85773 l 4.8643,5.23849 7.48355,5.98683 6.36102,12.34784 0.74835,9.35445 -1.87089,10.1028 1.12254,5.61266 6.73519,3.74176 9.35443,1.12252 17.96051,-2.24504 14.21874,-1.8709 1.49671,-5.98683 -2.61924,-7.48355 -1.49671,-5.98684 3.74178,-8.2319 8.60607,-8.98025 6.36102,-10.47697 9.35444,-11.59949 10.85115,-13.09622 4.49011,-8.60607 3.36759,-13.09622 2.24507,-17.58632 -0.74835,-14.21876 -4.49014,-13.84456 -7.48352,-9.7286 -8.60611,-10.47697 -3.04273,-4.27144 -2.81126,-4.86843 -2.38527,-7.13424 0.38498,-5.99012 2.44798,-5.06374 6.65746,-6.76923 6.3879,-5.76228 6.86483,-7.87787 4.67015,-9.67393 1.03155,-16.30165');    
}

.hole5 #mid-fairway {
    clip-path: path('m 201.68159,278.38795 -67.7261,0.74835 -0.3409,5.29079 v 5.02708 l 2.11666,6.08542 4.7625,6.87917 7.67292,9.26041 7.14375,12.17084 5.29167,10.84792 3.43958,11.1125 -0.52917,6.35 -1.85208,9.78958 -1.32292,9.78958 v 10.05417 l 1.5875,8.46667 3.43959,9.78958 0.52916,2.91042 0.26459,4.23333 3.70416,9.78958 4.23334,9.525 5.02708,10.84792 3.70417,12.43542 4.23333,12.96458 2.64583,11.37709 1.32292,8.73125 -1.85208,10.05416 -1.85209,12.43542 -1.5875,13.22917 -1.05833,9.78958 -1.85208,6.87917 102.65833,-1.05834 -0.52916,-8.46666 -1.5875,-16.13959 -1.32292,-15.08125 -2.64583,-22.225 -2.91042,-20.90208 -3.175,-18.52084 -3.175,-17.72708 -3.96875,-19.84375 -4.49792,-16.13958 -4.7625,-16.13959 -3.96875,-14.02291 -5.82083,-10.31875 -7.9375,-8.99584 -10.05417,-8.20208 -9.525,-7.40834 -5.48118,-5.08346 -4.86431,-6.08039 -3.55468,-6.54812 -2.33861,-6.26745 -1.40317,-5.42557');    
}

.hole5 #long-fairway {
    clip-path: path('m 201.68159,278.94921 0.93545,-6.36101 2.05797,-5.61266 5.42557,-8.2319 4.30304,-6.17393 4.11595,-5.98684 2.43215,-5.61266 0.74836,-5.42557 -1.87089,-10.10279 -12.72203,-49.5785 -4.67721,-10.66405 -4.30304,-2.24506 -10.85115,-5.23849 -8.41899,-5.23848 -6.73519,-8.2319 -4.11595,-7.48355 -3.92886,-8.2319 -3.18051,-8.60608 -3.3676,-8.60608 -2.05797,-5.23848 -8.41899,3.92886 -9.72861,0.18709 -7.48355,-4.86431 -8.2319,0.18709 -10.47697,-0.93544 -10.85114,-5.79975 -2.432153,-2.245064 -2.619242,7.857724 -2.99342,8.60608 -3.741772,6.92228 -4.30304,8.04481 -2.61924,8.98026 -1.683798,6.5481 0.561266,5.79975 3.367595,4.11595 10.851143,12.34786 10.289881,10.85114 6.73519,7.10937 4.86431,4.8643 5.42557,5.61266 4.30304,5.42558 3.55468,6.36101 0.74835,5.05139 -0.37417,5.42558 -1.49671,6.17392 2.24506,4.11595 2.99342,7.10937 2.05798,7.10937 1.30962,7.48355 v 9.35443 l -0.74836,7.85772 -1.12253,6.73521 -1.49671,7.67064');    
}

/* Right Rough */
.hole5 #short-right-rough {
    clip-path: path('m 257.43402,590.07768 h 97.28612 l 1.49669,41.15951 1.8709,29.93419 0.74834,18.33468 -14.21873,28.43749 -14.21874,32.92761 -7.48355,16.46381 -23.57316,36.29519 h -12.72204 l 1.4967,-2.61924 -6.73518,-8.98025 -16.83798,-8.6061 -24.32153,-1.12252 1.49671,-6.73518 -4.49013,-14.21876 3.74177,-8.60608 8.98026,-7.85773 7.10937,-11.97366 16.4638,-20.57975 2.99341,-3.36761 4.11597,-7.85771 2.99341,-11.59951 2.99342,-17.21216 -0.56126,-15.52837 -4.86431,-14.03164 -21.88938,-28.99873 -2.05797,-7.85773');
}

.hole5 #mid-right-rough {
    clip-path: path('m 353.97176,591.2002 5.98684,-23.94733 1.12254,-34.7985 -0.74834,-48.26887 -2.99342,-27.68915 -11.59952,-12.72201 -29.55999,-7.10938 -14.96711,-10.47695 -5.61266,-20.57977 6.73521,-19.08304 -1.49672,-15.71546 -13.84456,-18.33467 -8.23191,-10.1028 2.61925,-11.97367 16.08963,-5.61265 15.34125,-3.3676 -2.99341,-13.09621 -10.10277,-14.59293 -7.48356,-10.47695 -9.72862,0.37417 -11.97367,-9.72862 -41.90786,1.12255 -27.31495,1.87087 v 9.72862 l 4.11596,11.22532 4.11595,7.10938 4.49012,5.61266 8.60608,6.73518 11.97368,9.72862 4.8643,4.86429 6.7352,7.48355 6.73519,11.97367 10.47696,37.79192 2.99343,10.85115 5.98684,33.30178 3.74176,20.57977 5.23849,40.78531 1.87089,18.70887 1.87087,22.07646 v 4.49014 l -0.37417,9.7286 -0.74835,5.98683 -4.11597,8.2319 -6.361,7.85773 -6.36101,5.98683 -7.48355,6.73521 -3.3676,7.48356');
}

.hole5 #long-right-rough {
    clip-path: path('m 201.4945,278.76212 0.74836,-6.17392 2.43215,-6.92229 12.72203,-17.96051 3.36759,-7.48354 0.37418,-5.42557 -8.79316,-36.4823 -5.61267,-22.45064 -4.49012,-10.28987 -24.32153,-13.09621 -8.85258,-11.45435 -6.87916,-16.13958 -7.67292,-18.52084 14.81667,-15.874998 15.34583,-8.73125 17.72709,-0.529167 10.05416,12.700001 20.6375,12.964584 7.67292,9.525 5.02708,19.05 8.46667,19.84375 -4.23333,12.96458 -3.175,8.46667 1.05833,12.17083 8.20208,6.35 v 13.75834 l 3.70417,0.26458 -1.32292,6.61459 -5.29166,6.35 0.52916,10.58333 5.82084,11.37708 2.91041,10.05417 7.67292,1.85208 -3.175,8.73125 4.7625,9.78959');
}

/* Left Rough */
.hole5 #short-left-rough {
    clip-path: path('m 192.32716,763.3218 -81.57066,0.37417 16.83798,-23.19901 4.49012,-7.8577 5.61266,-15.34128 5.61267,-8.23191 2.24506,-13.84456 -1.49671,-20.20557 -0.74835,-17.58635 -3.74178,-32.55341 -3.36759,-30.30836 -2.61925,-13.47039 57.24914,4.86429 -7.10937,40.03699 7.85772,46.39799 -1.87088,13.09622 -3.74178,14.21873 -5.61266,8.98025 -5.61266,6.36101 v 7.48355 l 5.61266,5.23849 6.73519,4.86431 6.7352,13.84456 1.12253,7.8577');
}

.hole5 #mid-left-rough {
    clip-path: path('m 191.55834,587.11043 -3.96875,-20.90208 -6.08542,-11.64167 2.38125,-20.37292 2.11667,-6.08541 6.08541,-46.0375 -5.02708,-22.48959 -7.14375,-23.54792 -12.96458,-29.89791 -0.52917,-6.35 -3.96875,-10.31875 -1.32292,-7.40834 v -11.90625 l 3.70417,-25.4 -3.70417,-11.37708 -12.43541,-22.75417 -12.17084,-15.61042 -2.11666,-6.35 0.52916,-9.525 -33.16126,1.4976 -49.765587,2.24507 1.496708,20.95391 9.354434,20.95395 12.347853,5.98683 11.225319,-10.85115 13.470385,3.36759 7.857728,11.22532 4.8643,11.59949 -10.85114,8.23191 -6.735192,7.10938 3.367595,11.97366 9.354437,7.10938 13.47038,10.47698 3.74177,10.85114 1.87089,12.72201 5.23848,31.43092 0.37418,43.03038 -0.37418,34.42433 -0.74835,30.68254 2.99342,28.81164');
}

.hole5 #long-left-rough {
    clip-path: path('m 134.40834,279.66459 -83.079172,3.70417 -0.529167,-74.08334 12.435417,-2.38125 7.9375,-2.38125 10.583334,-6.87917 1.852083,-10.31875 -3.439583,-8.46666 -8.466667,-5.55625 -8.73125,1.85208 -8.466667,-3.70417 -7.672917,-11.37708 -2.116667,-20.90208 3.175001,-23.01875 2.116666,-26.193754 3.96875,-15.345834 4.7625,-10.31875 31.485418,12.435417 0.529167,5.027083 3.175,9.789584 5.027083,6.614583 -6.614583,16.668751 -7.408334,12.96458 -4.497917,15.08125 1.058334,6.08542 30.956251,34.39583 8.20208,8.46667 6.61459,7.67292 3.43958,6.35 1.05833,6.08542 -0.79375,5.29166 -1.85208,5.29167 5.55625,10.58333 2.91042,11.37709 1.32291,7.14375 -0.79375,10.84791');
}

.hole5 #short-rough {
    clip-path: path('m 191.95298,762.94762 -80.07395,0.74835 -10.85115,17.58633 -6.361011,14.21873 1.122532,12.72204 10.102789,5.98684 11.22532,2.61924 14.21874,4.49014 9.35443,7.85772 5.61266,11.22532 3.74178,14.21874 -5.98684,15.71546 -16.4638,18.33467 -8.60608,15.34128 -4.86431,15.71543 -5.61266,18.70887 29.93419,0.74835 23.94735,0.3742 34.05014,1.12252 17.58633,-4.11593 6.36102,-25.44408 5.98684,-36.2952 10.10278,-6.36101 14.21874,-1.8709 10.85115,3.7418 7.48356,6.361 2.99341,-16.83798 3.71203,-17.01001 5.61149,-18.1877 -4.60542,-10.54044 5.07123,-12.16033 7.75807,-10.64252 -7.90301,-9.99527 -16.48347,-8.15646 -23.96206,-1.85101 -31.82651,4.61101 -9.17226,-1.11614 -7.37149,-3.22206');
}

/* Green */
.hole5 #green {
    clip-path: path('m 154.72233,86.24788 3.92887,-3.928864 2.99341,-5.051394 1.87089,-5.051393 0.56127,-5.238483 1.30962,-5.612662 2.99342,-4.677214 2.24506,-3.928865 1.12253,-5.799748 -1.49671,-4.303038 -3.55468,-2.057977 -6.5481,-1.870887 h -8.419 l -6.73519,1.122531 -5.98683,2.806333 -3.55469,2.806329 -4.86431,5.238483 -4.30303,4.864304 -3.74178,5.051396 -3.92886,4.115951 -1.49671,4.677217 1.49671,6.548102 1.12253,4.677217 2.24507,4.30304 3.74177,2.245064 5.23848,2.245064 6.17393,1.496711 6.17393,-0.374179 6.36101,-1.496709');
}

/* Trouble Areas */
.hole5 #short-left {
    clip-path: path('m 134.14258,90.176741 -4.49013,8.980255 0.37418,6.735194 -7.85773,0.18709 -11.78658,-1.30962 -10.476968,-5.612664 -5.986839,-6.361015 -4.115948,-11.412408 0.561266,-10.289876 1.122532,-9.728613 1.870884,-11.412408 4.49013,-8.606079 28.998743,14.780004 -3.18051,4.677217 -4.30304,3.741775 -1.49671,4.490127 2.05798,8.418992 0.56127,3.554685 2.24506,3.928861');
}

.hole5 #long-left {
    clip-path: path('m 126.60313,56.22396 -28.839586,-14.552084 3.307296,-5.953125 6.2177,-7.540625 3.175,-5.55625 5.15938,-5.159376 3.96875,4.101042 6.87917,3.307292 9.92187,0.396875 9.39271,0.264583 7.40833,1.455209 12.30313,3.307291 -2.77813,9.392709 -2.64583,-0.529167 -8.59896,-0.132291 -6.21771,1.058333 -6.08541,2.778125 -3.175,2.778125');
}

.hole5 #short-right {
    clip-path: path('m 133.58131,90.363831 -4.30304,8.793165 0.56127,7.109374 6.92228,3.92886 9.72861,0.18709 8.2319,-2.43216 8.23191,-8.418985 6.92228,-7.857726 8.79316,-4.115951 5.98684,-5.051393 1.6838,-7.10937 -0.56127,-7.483547 -11.5995,-0.561266 -10.66405,-1.122532 -0.37418,5.051394 -4.11595,10.102789 -3.74177,3.928862 -5.61266,3.367598 -6.36101,1.496708 -5.79975,0.561266 -2.99342,-1.870887');
}

.hole5 #long-right {
    clip-path: path('m 163.5125,66.410418 7.80521,1.058334 14.2875,0.79375 -0.39687,-7.9375 4.89479,-10.451042 8.46667,-6.746876 3.96875,-4.894791 -2.77813,-5.291667 -4.89479,-5.027084 -5.68854,-3.439583 -5.29167,1.5875 -8.06979,3.307292 -5.02708,1.322916 -6.35,-1.058333 -2.11667,10.186459 4.23333,1.058333 3.175,1.852083 1.5875,4.497917 -1.19062,5.423959 -5.15938,8.73125');
}

/* Trees */
.hole5 #long-right-trees {
    clip-path: path('m 401.10834,274.10834 1.5875,-139.17084 -66.14583,-19.57916 -35.98334,-2.11667 -21.16666,-3.70417 -5.82084,5.82084 -31.22083,17.4625 11.64167,23.8125 -7.9375,19.57916 1.05833,14.2875 6.87917,5.29167 0.52916,13.75834 3.70417,0.52916 -1.05833,5.82084 -5.82084,6.87916 2.11667,11.1125 5.82083,11.64167 1.5875,10.58333 6.35,1.05834 -2.11666,8.46666 6.35,12.17084 13.22916,7.40833 h 6.87917 l 6.35,1.5875');
}

.hole5 #mid-right-trees {
    clip-path: path('m 404.81251,663.57502 -2.64583,-391.05418 -111.12501,12.17083 17.4625,24.34167 3.175,10.05417 -31.22083,11.1125 -2.64583,13.75833 21.69583,26.45834 1.05833,14.81666 -6.35,22.225 6.87917,21.69584 14.81667,9.525 27.51667,6.35 12.7,11.64166 2.64583,23.81251 0.52917,75.14166 -0.52917,12.17084 -6.87917,23.8125 5.82084,78.31667');
}

.hole5 #mid-left-trees {
    clip-path: path('m 138.1125,718.60835 7.40834,-10.58333 1.05833,-13.75834 L 144.4625,653.52085 133.35,552.97918 v -111.125 l -7.40833,-41.275 -4.23333,-12.17084 -21.69584,-16.93333 -3.174998,-9.525 17.991668,-16.40417 -15.345834,-25.4 -15.345834,-1.5875 -8.466667,10.58333 -10.583333,-4.7625 -46.037502,7.40834 11.641667,108.47917 23.812501,32.27917 16.404167,46.0375 -0.529167,19.57916 -4.233333,16.93334 -11.641667,38.62916 1.5875,33.86667 6.35,31.75 4.233334,15.34584 -1.5875,46.56666');
}

.hole5 #long-long-right-trees {
    clip-path: path('m 245.08616,132.83296 28.43748,-15.71545 6.361,-5.98684 16.83801,2.99342 40.03696,2.24507 37.04357,10.85114 L 344.99151,87.931677 314.68315,59.868376 281.00719,34.050138 251.073,17.960513 212.53273,-1.8708867 l -57.99749,0.3741773 -0.74835,29.9341874 9.72861,2.245064 2.61924,-0.374176 6.36102,1.122531 16.4638,-6.361015 5.61266,3.741773 4.49013,4.864306 2.24506,4.490128 -10.47696,9.728613 -7.10937,11.973674 1.12253,9.354434 0.37418,14.218737 16.08962,-1.496708 10.10279,12.347853 19.45722,12.722028 8.98026,9.72861');
}

.hole5 #long-long-left-trees {
    clip-path: path('m 154.90942,27.314946 2.61924,-29.9341875 -110.008137,0.7483548 -1.870888,8.6060789 -23.424634,45.9168928 36.247917,14.022917 0.529167,-1.5875 32.014584,12.435417 3.175,-26.987501 4.497917,-8.995834 3.175004,-5.820833 6.61458,-8.202084 2.38125,-4.497916 5.29167,-5.027084 3.70416,5.027084 7.14375,2.645833 4.7625,-0.264583 6.35,0.529166 h 7.40834');
}

/* Outer Rough */
.hole5 #long-left-outer-rough {
    clip-path: path('m 65.616668,324.90834 -47.095834,7.9375 -6.35,-66.675 V 130.70417 l 8.466667,-79.904169 39.158334,15.345834 -8.466667,22.225001 -3.175,35.454164 -2.116667,14.81667 2.645834,21.69583 7.9375,10.58334 6.879167,2.11666 9.525,-0.52916 11.641667,10.58333 0.529166,10.58333 -5.820833,10.05417 -25.929167,7.40834 -0.529167,73.55416 2.645833,19.57917');
}

.hole5 #short-left-outer-rough {
    clip-path: path('m 138.64167,717.02085 -75.670835,1.5875 1.058333,33.86667 -23.283334,97.89583 -20.108333,58.20834 -6.350001,26.9875 1.058334,18.52083 6.35,19.05 16.404167,14.2875 24.341667,12.69998 12.170834,-26.98748 4.233333,-19.05 32.279165,-15.875 9.525,-33.86666 7.9375,-15.875 18.52084,-17.4625 4.7625,-17.46251 -10.05417,-25.92916 -8.46667,-7.40834 -20.10833,-5.82083 -6.35,-2.11667 -9.525001,-5.29166 -1.5875,-12.17084 17.991671,-31.75 16.93333,-23.28333');
}

.hole5 #short-right-outer-rough {
    clip-path: path('m 263.04668,1003.1695 37.79191,-32.92763 29.56001,-38.91444 19.45723,-45.64965 33.67595,-75.58381 2.24507,-6.36104 10.85114,-75.20964 5.23849,-32.55343 4.86429,-33.67596 -49.01409,5.51445 v 11.64167 l -14.81667,27.51666 -22.225,52.38751 -21.69584,32.27916 -13.22916,2.64584 -11.1125,20.10833 5.82083,11.1125 -11.1125,41.275 -0.52917,11.1125 -8.38924,40.71787 2.24507,17.96053 -0.37418,19.83139 -6.36101,24.69571 -2.61925,15.34125');
}

/* Bunker */
.hole5 #fairway-bunker {
    clip-path: path('m 125.14792,120.65 -3.43958,-4.7625 -5.82084,-2.38125 -7.40833,-0.79375 -7.14375,2.11667 -2.645834,3.70417 v 7.14375 l -2.38125,3.70416 -3.704167,3.70417 -2.645833,3.96875 -0.529167,5.02708 1.5875,6.08542 3.96875,6.35 5.291671,3.70417 8.46666,1.85208 10.05417,0.26458 8.20208,-1.05833 2.91042,-2.38125 -0.52917,-3.175 -2.64583,-2.64583 -2.91042,-2.38125 -2.64583,-2.64584 0.26458,-6.61458 1.5875,-5.82083 2.38125,-6.61459 0.52917,-3.96875 z')
}