.hole9 .zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    pointer-events: all;
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

.zone-label-container {
    position: absolute;
    top: 20px;  
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 1000;
    display: none;
}

.zone-name-display {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    display: none;
    z-index: 1000;
    pointer-events: none;
}

/* Hover effects for different zones */
.hole9 #green:hover {
    background-color: rgba(84, 240, 64, 0.4);
}

.hole9 #shortright:hover,
.hole9 #shortleft:hover,
.hole9 #longleft:hover,
.hole9 #long:hover,
.hole9 #longright:hover {
    background-color: rgba(0, 255, 0, 0.2);
}

.hole9 #leftrough:hover,
.hole9 #shortrightrough:hover {
    background-color: rgba(255, 255, 0, 0.3);
}

.hole9 #rightrees:hover,
.hole9 #longtrees:hover,
.hole9 #leftrees:hover {
    background-color: rgba(2, 37, 2, 0.2);
}

.hole9 #waterhazard:hover {
    background-color: rgba(0, 191, 255, 0.4);
}

.hole9 #tee:hover {
    background-color: rgba(139, 69, 19, 0.2);
}

.hole9 #longrightouter:hover,
.hole9 #shortrightouter:hover {
    background-color: rgba(14, 5, 0, 0.2);
}

/* Green zone */
.hole9 #green {
    clip-path: path('m 169.50234,139.19397 h 17.21216 l 17.58633,0.74836 14.9671,-1.87089 15.34127,-1.12253 h 15.34127 l 15.71544,3.3676 13.84456,9.72861 7.85773,10.47696 4.86431,11.22532 2.99342,16.08963 0.74834,13.84456 -1.49669,13.84456 -4.11596,10.85115 -7.48353,9.35443 -10.47697,3.74177 -18.70888,3.74178 -27.68912,2.24506 -37.41774,2.24506 -25.81823,1.12254 -22.07647,-1.12254 -13.0962,-2.24506 -10.85115,-7.10937 -6.17392,-7.67064 -5.61266,-11.59949 -1.6838,-10.28988 0.56126,-13.84456 3.55469,-11.78659 4.67722,-8.98025 7.29645,-9.72862 11.41241,-10.28987 8.98026,-6.36102 15.52836,-5.79975 9.35443,-2.43215 z');
}

/* Short right zone */
.hole9 #shortright {
    clip-path: path('m 196.85,246.59167 -0.52916,25.92917 57.15,13.49375 7.9375,3.175 12.43542,6.87917 7.40833,1.85208 h 8.46667 l 1.85208,2.91042 h 8.99583 l 14.11648,-0.74102 17.58632,-12.34787 13.47039,-22.07646 7.21432,-38.12424 -2.64584,-12.43541 2.11667,-11.64167 -1.05833,-9.78959 -5.29167,-20.90208 -52.91667,6.35 1.85208,8.99583 0.26459,9.78959 0.52916,4.7625 -1.32291,6.87917 -0.26459,5.55625 -4.49791,11.1125 -7.40834,9.525 -10.84791,3.96875 -18.52084,3.43958 z');
}

/* Short left zone */
.hole9 #shortleft {
    clip-path: path('m 103.64713,195.32058 -33.675965,0.37417 -2.993419,19.45723 -15.341272,11.59949 -9.354434,8.23191 -4.115951,16.08962 1.122531,20.95394 6.361015,20.57974 8.231902,7.48356 16.463804,12.72201 10.851143,4.49014 6.380602,-14.08988 7.672916,-11.64167 8.202088,-6.87917 4.23333,-2.64583 6.61458,-6.08542 6.08542,-3.70416 13.22917,1.05833 h 15.08125 l 15.08125,-0.79375 14.2875,-1.32292 8.20208,-0.52916 10.84792,1.85208 0.13229,-25.79688 -20.76979,1.32292 -14.68438,0.39688 -20.90208,-1.19063 -12.83229,-2.11667 -10.98021,-6.87916 -6.21771,-7.40834 -5.55625,-11.64166 -2.11667,-10.58334 z');
}

/* Long left zone */
.hole9 #longleft {
    clip-path: path('m 156.03196,141.43904 -13.09621,-10.85115 -4.11595,-6.73519 -6.36102,-11.22532 -10.10279,-8.2319 -9.72861,-4.864305 -28.811654,4.115955 -12.347853,4.8643 -11.973674,10.47697 -18.334691,22.07646 -8.418989,8.79317 -4.49013,5.42557 5.425572,7.48355 6.735194,7.48354 4.490127,10.47697 12.53494,-1.12253 h 10.476966 l 2.245064,16.27671 33.863048,-0.18709 2.80633,-9.9157 5.23849,-10.66405 7.29645,-10.10279 8.98026,-8.60608 11.97368,-8.41899 16.27671,-5.23848 z');
}

/* Long zone */
.hole9 #long {
    clip-path: path('m 112.44792,100.0125 9.26042,-12.964581 18.25625,-18.256251 17.72708,-13.229167 19.57917,-5.820833 17.19791,-3.175 21.96042,1.5875 23.01875,5.55625 20.37292,8.73125 15.875,6.085417 12.17083,6.35 -2.11666,14.022917 -7.67292,16.404168 -12.7,35.71875 -14.81667,-3.43958 h -17.19791 l -16.93334,1.32291 -12.43541,1.85209 -38.89376,-0.52917 -8.88096,1.95822 -13.65747,-11.41241 -10.47697,-18.1476 -9.9157,-8.04481 z');
}

/* Long right zone */
.hole9 #longright {
    clip-path: path('m 346.33959,173.0375 7.67292,-16.13958 11.1125,-21.43125 -1.05833,-16.40417 -4.23334,-14.55208 -16.66875,-10.583334 -27.78125,-9.525001 -17.72708,-4.7625 -10.58334,-4.7625 -1.85208,13.493751 -7.40833,16.404164 -6.87917,18.78542 -5.82083,18.25625 13.75833,8.46667 7.67292,10.05416 4.7625,10.84792 2.11666,9.26042 z');
}

/* Water hazard zone */
.hole9 #waterhazard {
    clip-path: path('m 186.00209,270.40417 -27.51667,2.11667 -17.4625,0.52917 -12.7,-0.52917 -8.20208,-0.79375 -6.87917,4.23333 -6.08542,5.82084 -3.175,2.38125 -9.524998,7.67291 -7.408333,11.90625 -7.408334,16.93334 -3.96875,13.75833 -3.96875,19.31459 -1.058333,5.29166 3.439583,5.55625 0.79375,4.49792 -1.852083,2.64583 -5.55625,2.38125 -1.852084,3.70417 2.910417,6.87917 6.35,4.7625 8.73125,4.7625 9.525001,2.11666 10.583334,1.5875 8.99583,2.38125 7.40834,6.87917 8.99583,9.78958 11.37708,8.99584 15.875,8.20208 18.25625,3.175 25.66459,-0.26458 30.42708,-1.05834 23.8125,-6.87916 19.05,-16.13959 11.90625,-21.16666 6.61459,-25.66459 2.91041,-41.80417 -1.85208,-24.34166 -3.43958,-3.175 -8.73125,0.79375 -7.0897,-1.86907 -12.53493,-7.29644 -7.85773,-2.80633 -56.87495,-13.47039 z');
}

/* Tee zone */
.hole9 #tee {
    clip-path: path('m 402.16668,680.50835 -20.10834,93.6625 -27.51666,90.48751 -32.80834,70.90833 -26.9875,37.57083 -29.10417,28.04588 -190.500001,-0.5292 -77.2583357,-0.5292 0.5291667,-351.36665 144.99167,7.9375 10.58333,-14.2875 26.9875,-7.9375 14.81667,3.70417 10.58334,5.29166 7.40833,10.05417 4.7625,9.525 z');
}

/* Left rough zone */
.hole9 #leftrough {
    clip-path: path('m 38.166089,252.19553 -38.91444369,17.96052 -0.74835471,381.66088 145.9291694,5.23849 10.47696,-13.47039 26.19242,-6.73518 -1.49671,-199.81072 -17.58634,-1.49669 -20.95393,-9.72863 -12.34785,-10.10277 -15.34127,-16.4638 -17.586339,-3.36759 -11.225319,-1.8709 -12.347853,-7.48355 -3.741775,-2.99342 -1.496708,-5.61266 1.870887,-4.11594 5.61266,-1.87089 2.245063,-3.74179 -1.870887,-3.36759 -3.367596,-7.10936 10.476966,-41.53368 -11.225321,-3.74179 -24.321527,-19.8314 -6.361015,-22.07646 z');
}

/* Short right rough zone */
.hole9 #shortrightrough {
    clip-path: path('m 181.10184,635.7273 12.72203,2.99345 10.85114,5.61265 7.85773,9.35443 4.49012,11.22532 69.22282,5.61266 -7.48356,-59.86839 -20.57975,-25.44405 -26.19241,-19.45722 -17.21216,-5.23849 -11.22532,-9.35442 -4.86431,-11.59949 0.74836,-16.83798 4.8643,-20.2056 6.73519,-20.20556 0.74836,-17.21216 -2.24506,-13.09621 -12.34786,-5.23848 -17.96051,-4.11597 z');
}

/* Right trees zone */
.hole9 #rightrees {
    clip-path: path('m 291.57084,299.50834 22.225,-1.05833 21.69584,19.57916 30.1625,30.16251 6.35,22.225 -0.52917,55.03333 -8.99583,27.51667 -12.7,40.21667 -14.2875,64.55833 -27.51667,59.79584 -29.10417,-4.7625 -21.16667,-26.98751 -23.8125,-17.4625 -19.57916,-6.87916 -12.17084,-8.46667 -4.23333,-12.7 -0.52917,-16.93333 6.35,-25.4 5.82084,-11.1125 1.05833,-8.46667 v -12.7 l -2.64583,-12.7 -13.22917,-5.82084 -16.40417,-4.23333 0.52917,-7.9375 48.68333,-0.52917 28.04584,-6.87916 16.40416,-15.34584 12.17084,-20.10833 6.87916,-25.4 2.64584,-44.45 z');
}

/* Long trees zone */
.hole9 #longtrees {
    clip-path: path('m 360.70697,104.76966 41.90786,-30.682544 0.74835,-86.809146 -258.18237,11.2253206 -83.067371,40.4111534 17.960513,68.100276 32.927608,-6.73519 16.4638,-17.960514 17.96051,-17.960513 15.71545,-10.476966 26.19242,-4.490127 18.70887,-0.748356 31.43089,6.735194 33.67596,14.218738 20.20557,9.728613 22.45064,6.735191 25.44408,9.728611 z');
}

/* Left trees zone */
.hole9 #leftrees {
    clip-path: path('m 0.37417736,270.90439 39.66279864,-18.33468 2.993419,-17.21216 25.818238,-20.57975 2.993417,-20.20558 -3.367596,-16.4638 -23.573172,1.49671 -4.115951,-10.10279 -4.864306,-5.61266 -5.612659,-8.60608 31.056718,-36.66938 10.851145,-9.35443 9.72861,-4.11596 L 63.235971,38.540268 -4.4901282,86.434967 V 274.27199 Z');
}

/* Long right outer rough zone */
.hole9 #longrightouter {
    clip-path: path('m 371.47501,381.00001 38.62917,2.64583 -5.29167,-316.441672 -47.09583,37.570832 5.29166,14.81667 1.05834,16.40417 -19.05,36.5125 4.7625,21.69583 2.11666,8.46667 -2.64583,12.7 2.64583,12.17083 -6.35,37.57084 -13.75833,23.28333 -18.52084,13.22917 24.34167,20.10833 18.52084,19.05 8.99583,8.46667 4.23333,15.875 z');
}

/* Short right outer rough zone */
.hole9 #shortrightouter {
    clip-path: path('m 285.49733,670.15163 118.61422,11.59949 -2.24507,-300.46441 -31.80509,-1.12252 v 46.02382 l -22.45063,70.71951 -8.98025,44.15292 -4.11597,17.21215 -26.56657,58.74587 -29.93419,-4.86432 z');
}