.hole4 .zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    pointer-events: all;
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

.zone-label-container {
    position: absolute;
    top: 20px;  
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 1000;
    display: none;
}

.zone-name-display {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    display: none;
    z-index: 1000;
    pointer-events: none;
}

/* Hover effects for different zones */
.hole4 #short-fairway:hover,
.hole4 #mid-fairway:hover,
.hole4 #long-fairway:hover {
    background-color: rgba(0, 255, 0, 0.4);
}

.hole4 #short-right-rough:hover,
.hole4 #short-left-rough:hover,
.hole4 #mid-right-rough:hover,
.hole4 #mid-left-rough:hover,
.hole4 #long-right-rough:hover,
.hole4 #long-left-rough:hover,
.hole4 #short-rough:hover {
    background-color: rgba(255, 255, 0, 0.3);
}

.hole4 #green:hover {
    background-color: rgba(84, 240, 64, 0.4);
}

.hole4 #short-left:hover,
.hole4 #short-right:hover,
.hole4 #long-left:hover,
.hole4 #long:hover {
    background-color: rgba(8, 44, 3, 0.3);
}

.hole4 #lake:hover {
    background-color: rgba(0, 0, 255, 0.2);
}

.hole4 #teebox:hover {
    background-color: rgba(139, 69, 19, 0.2);
}

.hole4 #long-right-trees:hover,
.hole4 #mid-right-trees:hover,
.hole4 #short-left-trees:hover {
    background-color: rgba(2, 37, 2, 0.2);
}

/* Hole 4 */

/* Teebox */
.hole4 #teebox {
    clip-path: path('m 147.61296,975.85453 10.10279,-4.86431 9.35444,-6.73518 11.41241,-14.03168 7.29645,-14.21873 4.67722,-12.72202 3.74177,-18.89596 1.49671,-21.14102 -0.37417,-31.80506 -2.61924,-18.52179 -4.67722,-20.39266 -2.99342,-12.90912 -5.23848,-15.34129 -18.89596,6.73521 -21.14102,4.86431 -11.41241,-0.93546 -8.2319,-5.79974 -7.29646,-1.12253 -6.17392,0.56127 -17.025075,14.40582 -18.895957,1.87089 1.309621,13.47039 1.309622,17.58633 2.993419,34.23721 0.935442,11.97369 -3.554685,9.16734 1.870887,8.04482 -4.30304,13.2833 8.231902,30.86962 19.64431,16.46381 14.592914,8.04481 14.59292,5.42557 13.65747,2.61925');    
}

/* Fairway */
.hole4 #short-fairway {
    clip-path: path('m 148.26778,410.56609 0.18708,5.0514 -1.49671,11.59949 -4.95785,18.3347 -2.43215,6.26747 -3.27405,8.51252 -1.59026,6.26748 -1.21607,7.57708 0.18709,10.1028 0.8419,9.91571 2.52569,11.03823 2.71279,9.7286 1.59025,7.57709 0.18709,6.36103 -0.8419,6.54809 -2.05797,4.86431 -4.11595,7.29647 -4.30304,5.5191 -3.64823,3.74177 -4.95785,2.61924 -4.77076,0.84191 -6.92229,-0.37418 -8.69962,-2.3386 -7.39,-3.64823 -5.519116,-4.30305 -3.180506,-3.92885 -0.935445,-4.39658 -2.15152,-3.27406 -2.80633,-4.02241 -1.403165,-3.74177 -2.15152,-11.31887 -2.245064,-10.75759 -1.683798,-10.9447 -1.028988,-8.51252 -2.245064,-13.18977 -1.870887,-8.2319 -1.683798,-7.10936 -1.683798,-7.85773 -2.899873,-15.43481 -1.964431,-14.49938 -1.028988,-10.94467');    
}

.hole4 #mid-fairway {
    clip-path: path('m 148.43126,410.56719 -91.023323,1.36913 -0.548293,-9.78501 0.111321,-11.25056 0.972786,-9.76845 1.322917,-8.20208 1.455209,-12.03854 6.35,-49.08021 2.513541,-15.47813 1.190625,-6.87917 0.396875,-14.94895 1.058334,-14.28751 0.661458,-6.08541 3.175,-8.33438 4.497917,-6.74687 6.085417,-5.29167 6.746875,-4.63021 8.466671,-5.02708 7.40833,-4.10104 57.94375,51.32917 -5.42396,5.02708 -5.42396,7.40833 -3.175,5.82084 -3.30729,7.27604 -3.04271,8.33437 -2.91041,8.99584 -2.11667,8.20208 -1.71979,8.46667 -1.05833,9.65729 -0.79375,7.40833 0.66145,8.99584 1.45521,8.73125 5.05945,22.85363 2.14469,11.41972');    
}

.hole4 #long-fairway {
    clip-path: path('m 269.08126,191.95521 -6.87917,-0.13229 -4.63021,1.45521 -0.52917,1.45521 -10.9802,5.42396 -8.33438,6.61458 -4.23333,7.01146 -6.35,13.22917 -4.10104,3.96875 -40.48126,26.45833 -16.13958,13.49375 -57.53731,-50.16871 12.16076,-6.82873 7.57709,-7.57709 5.23849,-7.20292 4.0224,-7.10937 1.77734,-5.89329 1.96444,-3.83532 4.30304,-4.11595 4.77076,-2.15152 7.95127,-1.21607 9.44797,0.93544 7.67064,1.30962 8.51253,2.33861 4.67722,1.12253 3.92886,-1.21608 7.29646,-3.08696 42.93685,-22.82482 2.24507,-1.02899 7.20291,7.48355 4.02241,3.27405 1.21607,1.21608 4.95785,2.71279 0.46772,11.13177 2.89988,9.9157');    
}

/* Right Rough */
.hole4 #short-right-rough {
    clip-path: path('m 158.75,543.1896 9.26042,-12.43542 2.38125,-6.87917 -3.43958,-12.96458 -6.61459,-7.9375 1.85209,-15.34583 3.70416,-13.49375 6.08542,-6.61459 9.78958,-5.02708 10.05417,-6.61459 c 0,0 3.175,-6.08541 3.43958,-7.40833 0.26459,-1.32292 -2.38125,-15.08125 -2.38125,-15.08125 l -6.35,-16.13958 -6.08541,-16.40417 -5.29167,-18.52083 h -16.13958 l -15.34584,0.26458 3.96875,20.90208 0.52917,13.22917 -1.32292,10.84792 -5.55625,18.52083 -6.35,16.40417 -1.85208,11.37708 0.79375,19.57917 2.91042,13.75833 3.43958,13.22917 0.52917,9.525 -1.05834,5.55625 -6.35,12.96458');
}

.hole4 #mid-right-rough {
    clip-path: path('m 174.625,383.11668 2.38125,-17.72709 9.78959,-17.4625 10.84791,-13.49375 6.61459,-6.35 6.08542,-12.17083 3.96875,-12.43542 3.43958,-15.61042 2.64583,-11.37708 -16.93333,-8.46667 -21.96042,-10.58333 -17.99167,16.13958 -9.525,12.43542 -9.26041,19.84375 -3.70417,17.99167 -3.96875,23.28333 1.32292,12.17084 5.29166,24.87083');
}

.hole4 #long-right-rough {
    clip-path: path('m 220.13334,276.3573 4.10104,-13.36146 14.55208,-27.51667 10.71563,-17.06562 10.31875,-10.45104 14.15521,-2.77813 7.40833,-0.52917 -13.09687,-13.89062 -6.08542,0.52916 -5.15938,1.7198 -0.26458,1.32291 -10.98021,5.55625 -8.59896,6.35 -3.96875,7.01146 -6.48229,13.49375 -4.23333,3.83646 -41.275,27.38438');
}

/* Left Rough */
.hole4 #short-left-rough {
    clip-path: path('m 85.686614,547.04728 -17.586336,-7.48353 -11.973677,0.37417 -28.437478,-4.86431 -27.31495,-8.60608 -2.2450661,-138.82 -0.3741773,-26.19243 v -10.85115 l 39.2886214,9.72863 22.45064,6.73518 -1.496708,13.09621 -0.748356,12.72201 0.374179,15.34129 0.374177,8.60607 2.245064,17.58633 8.231902,39.66281 4.864306,33.67596 2.993417,10.47697 1.870887,12.72201 2.245064,4.49014 3.367598,4.86431');
}

.hole4 #mid-left-rough {
    clip-path: path('m 60.325002,368.03543 7.9375,-61.11876 2.910416,-17.19791 1.322917,-24.34167 1.322917,-10.84792 2.910417,-8.99583 4.7625,-6.08542 10.583333,-8.46666 L 109.5375,220.39792 84.402085,202.40626 72.231252,192.88125 47.095835,190.76459 23.018751,190.5 -1.5875,191.02917 -0.79375002,352.16043');
}

.hole4 #long-left-rough {
    clip-path: path('m 109.27292,220.92709 11.90625,-6.35 7.40833,-7.14375 5.42396,-7.40833 4.63021,-7.80521 1.45521,-5.82084 2.11667,-3.96875 3.83645,-3.83646 5.02709,-2.38125 7.40833,-1.05833 10.31875,1.05833 7.54063,1.45521 13.09687,3.30729 9.65729,-3.83645 36.38021,-19.05 10.18646,-5.55625 -2.91042,-2.38125 -2.38125,2.24895 -6.48229,4.49792 -12.03854,6.21771 -10.18646,3.83646 -10.18646,3.04271 -12.7,1.4552 -10.18646,-0.13229 -9.3927,-2.38125 -11.64167,-5.82083 -8.59896,-7.27604 -9.525,-7.40834 -10.71563,-6.74687 -11.37708,-5.68854 -16.40417,-6.08542 -38.232288,-1.98438 -11.509376,-1.4552 -12.303125,-1.98438 -14.419792,-0.39687 -9.789584,1.4552 -9.3927082,2.51355 -6.7468752,4.7625 0.1322917,59.13437 48.1541677,-0.79375 25.532292,2.11667');
}

.hole4 #short-rough {
    clip-path: path('m 0.66145835,525.99168 -1.58750004,0.13229 0.79375002,56.09167 6.87916687,3.175 7.5406248,4.36562 6.614584,4.7625 4.894792,4.10105 4.233333,6.35 0.529167,2.64583 4.7625,-3.96875 4.894792,-0.26458 4.101041,1.71979 4.233334,3.175 1.5875,3.175 3.836458,5.95312 1.455209,7.27605 -0.79375,5.15937 -3.561252,5.3254 -2.80633,3.18051 2.61924,1.6838 4.303041,4.30305 3.741774,5.79975 2.057975,7.67062 -1.496709,5.98686 4.490128,3.36759 2.61924,3.74176 2.057977,7.67064 -1.683798,5.23849 -2.619243,3.55467 -4.490127,2.61925 2.057974,0.74834 5.799751,0.3742 4.677215,1.30961 3.741774,4.30305 2.993419,4.11594 0.748356,3.92885 -0.748356,5.23849 -2.993419,6.36103 -2.245063,4.6772 1.496708,8.79319 -3.741772,8.79316 -0.748356,7.10936 1.683798,7.48355 -2.432153,7.85773 -0.30825,9.12537 1.058333,9.26042 -0.79375,7.40833 0.529167,7.40834 0.264583,10.84791 18.785417,-1.85208 8.73125,-7.40833 8.731248,-7.14375 6.08542,-0.52917 7.40833,1.05833 7.67292,6.08542 11.37708,1.05833 21.16667,-5.02708 19.57917,-6.35 -15.61042,-42.8625 6.87917,-18.52084 17.4625,-28.83958 6.61458,-13.49375 5.02709,-22.48958 2.38125,-18.78542 2.11666,-36.5125 -10.84792,-0.79375 -15.08125,3.43958 -11.90625,2.38125 -12.43541,-3.175 -7.14375,-8.20208 -0.79375,-14.02292 -2.91042,-11.1125 1.5875,-14.55208 7.40833,-8.20209 5.55625,-6.08541 -25.92916,4.49791 -6.87917,8.20209 -5.29167,3.175 -9.525,0.26458 -8.46666,-2.38125 -7.672921,-3.70417 -6.085417,-4.23333 -4.233333,-3.96875 -16.933334,-6.87917 -11.641667,1.32292 -28.839584,-5.55625');
}

/* Green */
.hole4 #green {
    clip-path: path('m 284.74896,151.916 8.60607,5.79975 6.36104,1.12253 4.67719,-2.05797 2.80633,-4.67722 1.68381,-6.5481 0.74835,-11.03823 2.80633,-13.09621 7.85773,-19.64431 3.36759,-9.354435 1.12255,-8.231902 V 73.900027 l -2.24507,-7.483547 -5.23849,-5.425572 -7.85773,-2.245064 -6.361,0.561266 -6.54812,3.928861 -3.74177,6.361015 -0.74835,8.980258 1.68379,9.72861 0.74837,9.167344 -1.49672,7.670632 -4.49011,6.54811 -5.61266,3.92886 -4.86431,7.29646 -1.8709,8.98025 1.12255,8.98026 2.80633,6.17393');
}

/* Trouble Areas */
.hole4 #short-left {
    clip-path: path('m 282.22327,148.17423 -13.65747,8.79317 -6.17394,10.28987 -5.05139,-2.89987 -7.29646,-6.45456 -4.77076,-4.8643 -2.43215,-2.61925 2.89987,-2.15151 4.02241,-5.23849 3.92886,-6.64165 2.71279,-6.36101 4.20949,-10.66406 2.89988,-11.03823 2.43215,-11.038229 1.94408,-7.856942 2.77813,-14.155209 2.51354,-12.170833 1.19062,-5.291667 h 5.15938 l 7.67292,3.704167 5.15937,3.836458 1.71979,2.910417 -0.92604,1.5875 -0.66146,8.334375 2.51354,19.314584 -1.71979,8.069789 -4.7625,6.74688 -5.55625,3.70416 -4.89479,7.27605 -1.5875,8.46666 1.32292,9.12813');
}

.hole4 #long-left {
    clip-path: path('m 293.8198,68.328648 -1.65365,-2.778126 -5.15937,-3.704166 -7.60677,-3.902605 -4.96094,0.06615 2.24896,-10.583333 1.98437,-7.14375 2.64584,-7.011459 3.43958,-3.704167 1.38906,-3.770312 2.38125,-4.7625 2.11667,-3.108855 2.11667,-2.976562 3.83645,-3.307292 5.42396,-3.3072918 7.40834,-2.3812501 9.92187,-2.1166667 14.55209,1.1906251 12.83229,2.6458334 13.22916,4.4979171 -3.56171,15.144112 -10.47697,-0.374176 -6.17392,2.80633 -4.49011,6.361014 -1.68381,6.735192 -17.13744,18.672321 -7.01145,-2.381251 -6.08542,0.396876 -6.35,3.836458');
}

.hole4 #short-right {
    clip-path: path('m 281.19428,148.36132 -13.09621,8.41899 -5.98684,10.28988 0.74836,11.03823 2.99341,10.10279 5.23848,6.73519 7.48356,8.98025 6.54809,1.30963 11.78661,-1.49671 8.98025,-1.30962 7.10935,-4.86431 3.36762,-6.92228 2.80633,-11.03823 2.43215,-9.9157 2.05796,-9.72861 5.42557,-7.67064 5.98683,-7.67064 5.0514,-7.29645 -8.2319,0.18708 -9.54151,-4.67721 -4.30305,-4.30304 -4.30303,-9.16735 -1.49672,-0.74835 -0.93543,4.49013 -2.43216,11.41241 v 6.73519 l -0.74835,4.86431 -0.74837,3.55468 -0.74835,2.43215 -2.80633,4.30304 -4.30302,1.6838 -4.86431,-0.93544 -7.48356,-3.92887 -4.11594,-4.11595');
}

.hole4 #long {
    clip-path: path('m 339.59272,137.71563 11.1125,-2.91042 15.47812,-1.98437 3.57188,-0.66146 5.95312,-17.59479 6.21771,-23.151046 3.04271,-21.960417 -0.26458,-17.197917 -3.70417,-16.007292 -4.63021,-10.980209 -5.82083,-7.011459 -5.82084,-4.365625 -5.15937,-2.513541 -3.43958,15.742708 -10.58334,-0.661458 -6.48229,2.910417 -4.63021,7.14375 -1.32291,6.217708 -16.80105,18.653126 5.68854,5.159375 2.24896,7.14375 0.13229,10.186459 -1.05833,8.334375 -10.45104,27.252086 5.02708,9.525 4.49792,4.49792 9.65729,4.7625');
}

/* Water Hazards */
.hole4 #lake {
    clip-path: path('m 300.96355,9.3927086 5.02708,-10.31875029 -124.61875,0.39687501 -2.11667,21.82812568 -6.48229,16.66875 -6.87917,12.170834 -3.175,3.571875 -9.3927,6.614584 -7.14375,4.365625 -8.86355,4.101041 -7.14375,2.116667 h -7.67291 L 106.75938,70.246877 89.164586,72.495835 78.845835,71.702085 67.33646,68.791668 59.795835,65.352085 54.768751,57.679168 47.889585,51.858335 41.275001,52.916668 30.162501,55.562501 19.05,61.383335 l -8.466666,5.027083 -7.1437506,5.55625 -4.23333342,3.704167 -0.52916668,59.002085 6.6145835,-5.82083 16.4041672,-3.96875 17.4625,0.26458 22.489584,3.70417 8.995834,0.26458 30.162498,1.32292 15.08125,5.82083 14.2875,7.14375 9.26042,5.82083 15.08125,11.90625 3.175,3.175 11.37708,5.55625 8.85258,2.07199 11.78659,0.18709 10.85114,-1.49671 21.14102,-6.5481 12.16076,-6.54811 9.35444,-6.5481 3.92886,-2.99342 3.36759,-4.67721 4.30304,-6.92229 4.11596,-10.66405 2.99341,-7.85773 5.79975,-25.818231 7.48356,-34.611407 2.80633,-11.786587 3.74176,-12.34785 4.11596,-4.303041 2.80633,-7.109369 4.30303,-6.548104 6.36103,-4.303039');
}

/* Trees */
.hole4 #short-left-trees {
    clip-path: path('m 27.127858,747.41926 -5.804846,3.58224 -5.898123,4.26573 -2.884497,10.29873 2.705241,7.87788 4.847365,3.89532 1.861437,3.93306 -5.815361,2.48882 -1.93803,5.79454 -2.252031,7.34812 4.039546,9.18595 5.598072,6.7922 11.215637,1.76715 5.922207,7.23173 5.914561,1.68217 -6.29212,3.74253 -1.946208,4.11543 0.533607,7.48338 3.800321,3.55839 -6.077197,7.48449 1.076706,6.51838 4.566778,5.46742 -4.240968,4.80424 -0.361377,4.73546 1.402036,5.00478 4.103389,4.50051 -3.784706,1.44671 0.0058,6.69601 11.708274,17.63608 6.340284,7.71834 6.836323,0.71649 10.46752,-2.94716 3.928861,-13.47038 -2.245063,-7.85773 4.115951,-9.35443 -6.922281,-77.45473 -0.748356,-17.9605 1.122532,-7.85773 -1.683798,-8.04481 0.561266,-9.16734 2.99342,-8.60608 -2.245064,-6.7352 0.561266,-6.92227 4.303038,-9.72862 -1.683798,-8.04482 5.238483,-11.59949 0.187089,-6.5481 -0.748355,-2.80633 -6.735191,-8.60607 -11.225322,-1.8709 4.115951,-2.43215 2.432154,-4.11594 1.870887,-5.79975 -3.180509,-7.67064 -2.432153,-3.92888 -3.928861,-2.05795 0.935442,-6.9223 -2.057974,-7.48355 -3.928862,-5.61266 -6.173928,-5.61266 5.986839,-7.85773 1.309621,-7.48352 -2.619243,-8.04482 -6.361014,-8.60608 -5.799749,-3.1805 h -7.670636 l -5.986836,4.86429 -6.361016,5.23848 -1.496709,8.2319 v 7.85773 l 1.496709,2.80633 -3.554685,4.49014 -0.561266,5.23849 1.870887,3.74176 2.432153,3.55468 -3.367596,2.43215 -4.677217,3.74177 -0.748355,6.36103 2.432153,6.17392 2.993419,3.55468 0.374177,1.87089 -5.051394,5.42557 -1.870887,4.11594 0.374178,4.49014 1.30962,2.61924 -3.367596,7.48356 1.870887,6.17392 3.928862,4.86431 2.993419,1.49669 2.057975,8.23191 4.30304,4.67722 1.49671,1.4967 -5.612661,6.36103 -0.374177,5.98683 4.11595,5.79975 2.80633,3.1805');
}

.hole4 #mid-right-trees {
    clip-path: path('m 205.84584,321.73334 32.01458,15.61042 -17.99166,28.83958 -6.35,30.1625 30.1625,80.96251 -28.04584,70.64375 -10.05416,56.88542 -10.31876,-0.79375 -29.10416,6.35 -11.90625,-4.23334 -7.9375,-10.05416 -0.26459,-12.70001 -2.64583,-11.64166 1.85208,-16.13959 22.225,-25.13541 1.85209,-6.61459 -2.91042,-12.17083 -7.9375,-8.99583 6.61458,-29.63334 6.08542,-6.87916 19.57917,-10.31876 3.43958,-6.61458 -1.32292,-14.2875 -18.78541,-53.44583 2.64583,-17.72709 10.31875,-17.72708 12.17084,-14.81667 5.02708,-3.96875');
}

.hole4 #long-right-trees {
    clip-path: path('m 236.80209,337.60834 3.175,-8.20208 20.37292,-36.5125 45.24375,-36.5125 28.83958,-46.56667 14.81667,-26.9875 21.43125,-52.3875 -32.54375,7.14375 -16.40417,23.54791 -6.08542,29.36875 -2.91041,6.61459 -7.14375,4.49792 -19.57917,3.175 -8.46667,-0.52917 -17.99166,2.91042 -10.05417,10.58333 -2.11667,1.5875 -15.875,27.51667 -8.20208,15.34583 -5.02708,16.13958 -3.96875,22.225 -9.78959,23.54792');
}