.hole7 .zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    pointer-events: all;
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

.zone-label-container {
    position: absolute;
    top: 20px;  
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 1000;
    display: none;
}

.zone-name-display {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    display: none;
    z-index: 1000;
    pointer-events: none;
}

/* Hover effects for different zones */
.hole7 #short-fairway:hover,
.hole7 #mid-fairway:hover,
.hole7 #long-fairway:hover {
    background-color: rgba(0, 255, 0, 0.4);
}

.hole7 #short-right-rough:hover,
.hole7 #short-left-rough:hover,
.hole7 #mid-right-rough:hover,
.hole7 #mid-left-rough:hover,
.hole7 #long-right-rough:hover,
.hole7 #long-left-rough:hover,
.hole7 #short-rough:hover {
    background-color: rgba(255, 255, 0, 0.3);
}

.hole7 #green:hover {
    background-color: rgba(84, 240, 64, 0.4);
}

.hole7 #short-left:hover,
.hole7 #short-right:hover,
.hole7 #long-left:hover,
.hole7 #long-right:hover {
    background-color: rgba(8, 44, 3, 0.3);
}

.hole7 #teebox:hover {
    background-color: rgba(139, 69, 19, 0.2);
}

.hole7 #long-left-trees:hover,
.hole7 #short-left-trees:hover,
.hole7 #mid-left-trees:hover,
.hole7 #right-trees:hover {
    background-color: rgba(2, 37, 2, 0.2);
}

.hole7 #mid-right-outer-rough:hover,
.hole7 #long-right-outer-rough:hover {
    background-color: rgba(14, 5, 0, 0.2);
}

/* Hole 7 */

/* Teebox */
.hole7 #teebox {
    clip-path: path('m 302.70948,729.64582 60.99089,12.34786 0.3742,18.70886 -1.12254,13.84458 -2e-5,14.21873 -2.61922,28.0633 -5.61266,49.01724 -4.49014,48.64305 -7.85772,45.27546 -17.58634,25.81823 -47.14635,28.81167 -105.89218,7.8577 -44.6444,-12.6245 -18.23425,-16.94627 -15.324412,-44.89051 -17.846058,-53.12437 -9.194592,-52.20777 -4.50552,-40.22177 -3.322035,-48.78448 52.680157,24.26921 -2.0965,-34.23166 1.87088,-51.26228 43.40457,8.2319 73.33876,11.22532');    
}

/* Fairway */
.hole7 #short-fairway {
    clip-path: path('m 188.21121,421.3237 -86.43497,1.4967 -0.74836,12.72204 1.6838,6.73518 5.42557,10.47697 4.30304,8.04481 1.12254,6.5481 0.37417,4.67722 11.22532,25.44406 2.24507,7.48355 0.18709,6.92229 2.43215,14.03165 0.37418,11.22532 -1.49671,7.10936 -3.3676,9.54153 -1.6838,7.29644 1.49671,8.04482 3.55469,8.41899 7.10937,9.91571 6.5481,4.86431 7.29646,2.80633 8.60608,0.74835 40.22406,-5.0514 17.21216,-19.45722 -11.78659,-45.08836 3.74178,-20.57977 0.56126,-12.16076 -0.93544,-5.05139 -3.3676,-7.85773 -3.55468,-10.85115 -7.67064,-27.50203');    
}

.hole7 #mid-fairway {
    clip-path: path('m 188.21121,421.69788 0.93544,-0.18709 -0.74836,-4.49014 1.12254,-8.2319 4.8643,-15.15417 12.72203,-30.68254 -1.49671,-6.73521 -16.65089,-42.84329 -1.6838,-5.0514 1.49671,-19.27013 2.43215,-13.47039 4.49013,-13.2833 3.55469,-6.36101 1.87088,-10.66406 0.18709,-12.34785 -0.93544,-11.5995 -1.6838,-17.02507 -78.95142,-4.67721 -1.30962,26.3795 -0.93544,3.92886 -6.7352,16.27671 -4.30303,12.34786 -0.56127,4.11595 0.74836,9.72862 1.12253,21.141 v 6.92229 l -0.56127,5.61266 -1.87089,4.30305 -4.67721,4.6772 -5.425575,5.42557 -5.799749,8.60608 -3.554685,7.85773 -2.245064,8.2319 -0.935442,6.92229 1.683797,6.5481 14.780004,31.80509 5.051394,12.72201 0.93544,3.74179 -0.74835,7.67061 -2.05798,8.79317');    
}

.hole7 #long-fairway {
    clip-path: path('m 119.73675,200.55906 78.95142,4.49013 1.6838,-6.17393 5.23848,-7.10937 8.98026,-7.85772 13.47038,-8.79317 6.36102,-5.79975 4.30304,-6.17393 0.18709,-4.8643 -2.80633,-5.23848 -5.98684,-8.04482 -2.43215,-2.61924 -2.99342,-7.85772 -0.74836,-5.0514 1.49671,-3.36759 4.11595,-5.79975 -40.97242,-21.5152 -16.65089,-2.80633 -3.36759,8.79317 -3.3676,5.98683 -5.61266,11.5995 -5.23849,11.78659 -3.74177,6.73519 -1.12253,1.6838 -6.92228,4.11595 -8.04481,5.42557 -5.79975,4.86431 -4.67722,5.98684 -1.49671,3.74177 -0.93544,9.9157');    
}

/* Right Rough */
.hole7 #short-right-rough {
    clip-path: path('m 199.06235,590.45185 114.49828,5.98684 -0.37418,-33.30178 -10.85114,1.49672 -10.47697,-4.86431 -17.96053,-13.47039 -14.21873,-8.60608 -12.72203,-4.49014 -12.72203,-8.60607 -2.24506,-9.7286 5.61266,-10.85114 8.60607,-6.73521 -3.74177,-2.61924 -13.84456,-0.37418 -10.47697,-6.361 -5.23848,-11.5995 -2.61924,-17.21218 2.99342,-14.5929 8.98026,-7.48356 6.73519,-7.8577 -10.47697,-5.98686 -4.86431,-7.48353 -27.31494,5.23849 13.84456,50.13976 6.73519,18.70887 0.37418,11.22532 -0.74835,8.98025 -2.99342,17.9605 11.97367,43.77875');
}

.hole7 #mid-right-rough {
    clip-path: path('m 188.38334,420.68751 26.9875,-3.175 -3.175,-12.7 10.58333,-13.22917 17.4625,-2.64583 11.64167,10.58333 10.58333,-1.5875 9.525,-6.35 -7.40833,-7.40833 -4.23333,-14.2875 8.99583,-12.17083 19.05,-3.175 h 20.10833 l 2.6243,-32.74915 5.23849,-25.06988 0.74834,-13.2833 -0.37417,-24.50862 1.30961,-11.97368 -29.37291,-5.98684 -15.15419,-9.16734 -76.33218,-28.62457 3.3676,28.0633 -0.37418,17.21216 -1.87089,7.48355 -4.11595,7.48354 -4.8643,14.59293 -1.87089,17.58632 -1.12253,13.47039 19.08305,49.76558 1.12253,4.11597 -17.58634,44.15293');
}

.hole7 #long-right-rough {
    clip-path: path('m 296.33334,148.43125 18.25625,21.69584 5.82083,17.99166 1.85209,10.58334 -2.38125,37.04167 -1.5875,12.17083 -29.89792,-6.35 -14.2875,-8.73125 -22.75417,-7.9375 -53.44583,-20.37292 2.11667,-6.35 5.02708,-6.61458 8.20208,-7.9375 15.08125,-9.26042 5.82084,-6.35 3.70416,-5.29167 0.52917,-4.7625 -2.91042,-5.02708 -8.20208,-10.58333 -4.23333,-13.49375 6.35,-9.26042 17.72708,7.14375 16.66875,19.31458 8.73125,3.70417 7.9375,1.85208 8.73125,-0.26458');
}

/* Left Rough */
.hole7 #short-left-rough {
    clip-path: path('m 151.07709,595.04793 -53.181254,3.70417 -2.38125,-6.35 2.116666,-10.31875 -3.704166,-4.7625 0.264583,-10.84792 -3.175,-3.70417 -4.497917,-4.7625 4.497917,-7.9375 0.264583,-7.40833 -4.497916,-5.55625 1.5875,-7.14375 0.529166,-3.43958 -3.439583,-5.82084 -5.291667,-4.7625 -4.7625,-2.38125 v -6.35 l -5.027084,-4.7625 -3.175,-1.05833 0.79375,-8.20208 -2.645833,-4.23334 -2.910417,-2.91041 7.14375,-4.49792 3.175,-6.87917 1.852084,-8.46666 -2.645834,-6.35001 -5.820833,-5.82083 -3.96875,-1.5875 h -3.704167 l 0.529167,-6.08542 -1.852084,-3.96875 5.820834,-4.23333 3.439583,-5.82083 5.027084,1.85208 5.820833,0.52917 3.704167,-2.91042 3.704167,-4.7625 0.529166,-8.99583 17.727085,3.70416 -1.32292,12.43542 1.5875,7.9375 10.05417,18.78542 1.32292,11.1125 13.49375,30.69167 v 7.40833 l 2.38125,15.34583 0.52916,13.22917 -1.32291,5.55625 -3.43959,9.78958 -1.85208,6.61459 1.85208,9.26041 2.88494,7.25604 7.10937,10.19633 6.64164,4.77078');
}

.hole7 #mid-left-rough {
    clip-path: path('m 102.15042,422.8204 -17.586338,-4.11594 -5.238483,-7.48356 -7.857726,-0.37417 -5.612659,3.74176 -8.231902,-5.98683 -1.496711,-7.85773 -6.361015,-6.361 -12.34785,-16.83797 -28.286992,-5.79278 1.88837,-38.67361 1.590187,-29.21531 19.433452,5.95374 15.47777,-2.24323 7.10937,-9.35443 4.864306,-7.85772 -0.374179,-8.98025 2.993419,-6.73518 8.231902,-11.59952 11.599498,2.61924 7.10937,-5.98683 4.490128,-12.34785 -8.231902,-10.10279 -11.225319,-1.49671 -6.735194,2.24506 -5.612659,-2.99341 11.973674,-19.45723 12.72203,-1.87089 9.728613,-19.08304 24.32153,4.86431 -1.49671,29.56001 -7.85773,19.45722 -4.11595,10.10279 1.49671,48.26887 -3.3676,5.23849 -8.231898,7.48355 -7.483546,9.7286 -3.367596,8.60607 -2.619243,12.34787 1.496711,8.60607 21.328112,46.02383');
}

.hole7 #long-left-rough {
    clip-path: path('m 121.17917,200.02501 -25.664584,-4.76251 -2.116667,-10.58333 -8.995834,-8.20208 -15.08125,-2.64584 -9.789583,-10.84791 3.439583,-28.575 10.847917,-8.20209 7.14375,-7.9375 8.995834,3.96875 6.35,1.05834 8.731254,-3.70417 4.49791,12.43542 9.26042,4.7625 10.58333,2.64583 9.26042,-5.02708 5.02708,-8.46667 3.43959,-13.22917 -9.525,-11.64166 -12.17084,-4.233338 -11.1125,2.38125 -1.32291,-7.14375 9.525,-5.55625 5.29166,-10.31875 1.85209,-3.175 43.12708,23.283334 -3.175,8.731254 -4.49792,6.87916 -14.81666,30.95625 -15.875,10.31875 -5.29167,4.49792 -5.02708,6.08542 -0.79375,3.175');
}

.hole7 #short-rough {
    clip-path: path('m 313.18645,596.06451 1.87087,49.76559 -11.97366,84.18992 -78.95143,-18.3347 -113.00156,-17.58633 -3.74177,-38.91447 -10.102789,-57.99748 53.133179,-2.61922 9.72861,1.12252 39.6628,-5.98683');
}

/* Green */
.hole7 #green {
    clip-path: path('m 256.31148,64.171416 20.95395,-8.418991 7.10935,-3.741772 3.18051,-2.619243 0.56126,-5.238483 -1.68379,-5.612659 -3.55467,-4.49013 -2.99345,-2.619241 -16.46379,-1.496708 -9.72861,-0.187089 -8.60608,0.748355 -7.29646,2.245064 -7.85772,3.928861 -2.99342,3.554685 -2.61924,7.109371 -1.87089,4.115948 -4.30304,5.425572 -4.8643,7.109371 -4.67722,5.238483 -6.5481,4.30304 -2.61924,3.367596 -2.61925,5.238483 2.43216,4.303038 3.18051,2.619242 2.61924,2.432154 6.5481,1.870884 6.36102,0.18709 8.41899,-1.309622 5.42557,-1.496708 4.67721,-5.051393 3.55469,-4.864307 3.55468,-5.425572 3.55469,-5.238483 3.1805,-3.367596');
}

/* Trouble Areas */
.hole7 #short-left {
    clip-path: path('m 222.77917,51.064585 -28.83958,-10.583334 -6.08542,5.820833 -9.26042,3.704167 -7.14375,0.264584 -3.175,2.116666 -0.26458,3.96875 -7.40833,5.291667 -5.29167,1.852084 -5.07821,4.787365 -4.11595,6.548102 -8.419,2.993419 20.39267,11.599498 14.40583,7.10937 14.96709,3.180506 10.10279,-2.432151 9.16734,-5.051396 0.37418,-0.561266 -1.87088,-0.561265 -5.23849,-4.490128 -2.80633,-4.677217 5.23849,-8.231902 6.73519,-4.490127');
}

.hole7 #long-left {
    clip-path: path('m 258.36563,30.162501 -4.63021,-0.264584 -8.73125,0.926042 -7.14375,2.248959 -7.67291,3.836458 -2.91042,3.307292 -4.49792,11.509375 -28.83958,-10.715625 3.57187,-5.291667 1.45521,-7.805209 6.21771,3.042709 6.87917,2.38125 6.35,-1.058334 4.89479,-2.38125 2.77812,-4.497916 4.8948,-8.334376 1.4552,-7.6729164 -4.10104,-8.3343752 -1.5875,-1.71979175 36.64479,0.26458334');
}

.hole7 #short-right {
    clip-path: path('m 188.21121,99.531175 41.71171,21.647995 16.93334,6.35 16.66875,19.05 8.20208,3.70417 8.46667,1.85208 8.73125,-0.79375 8.20208,-3.175 3.96875,-4.7625 3.175,-7.40833 -3.70417,-4.23334 -3.175,-3.43958 -0.52916,-5.02708 3.70416,-3.70417 3.175,-3.175 -0.26458,-3.43958 -3.96875,-3.175 -6.08542,-18.520838 0.79375,-8.73125 1.85209,-4.497917 2.11666,-5.291667 -6.08541,-5.027083 -8.99584,-2.910417 -12.43541,1.5875 -6.08542,1.322917 -14.55208,-1.5875 -3.57188,3.96875 -10.05417,15.08125 -4.89479,5.291667 -13.09687,2.778125 -7.01146,-0.396875 -5.42396,-1.322916 -8.59896,5.55625');
}

.hole7 #long-right {
    clip-path: path('m 250.56042,66.410418 14.02292,1.5875 5.95313,-1.322916 12.7,-1.5875 8.73125,3.042708 5.69036,4.647285 12.16076,-4.490128 12.53495,-5.238483 2.24507,-3.741774 5.79974,-5.61266 6.73519,-9.541523 2.24506,-11.599498 -4.30305,-10.102788 -8.98025,-11.599498 -14.03164,-11.41240901 -49.20432,-0.18708868 -4.67722,30.68254369 21.3281,1.683798 6.73521,7.109368 1.49669,4.864306 -0.37417,5.238483 -3.1805,3.180509 -7.29647,3.367595');
}

/* Trees */
.hole7 #long-left-trees {
    clip-path: path('m 60.242552,163.14132 3.180509,-28.43748 10.851142,-8.04481 6.922281,-7.85772 8.793168,3.92886 6.361014,1.12253 8.231904,-3.74177 4.49013,12.34785 8.98025,4.49013 11.22532,2.80633 9.72862,-4.67722 5.61265,-9.16734 3.18051,-13.2833 -10.28988,-12.34785 -12.16076,-4.11595 -10.28988,2.61924 -1.68379,-6.361015 9.72861,-5.425572 6.73519,-13.283296 8.60608,4.303041 7.67064,-2.619243 4.11595,-6.548102 5.42557,-5.238483 5.79975,-1.870887 7.10937,-5.238483 0.18708,-3.928861 2.80633,-2.057977 7.67064,-0.18709 8.79317,-3.741772 6.5481,-5.799749 3.55469,-5.051393 1.12253,-7.10937 5.61266,2.806329 7.29646,2.245064 6.5481,-0.935442 5.23848,-2.619243 4.49013,-8.044813 3.55469,-5.425571 1.12253,-7.2964583 L 227.68692,-1.3096207 132.64587,0 86.06079,25.256971 31.617987,96.724845 26.005326,162.01879');
}

.hole7 #mid-left-trees {
    clip-path: path('m 12.72203,304.95455 19.083044,5.61266 16.089628,-2.24507 12.722029,-17.58635 -0.748355,-9.7286 10.851142,-16.83798 11.225321,1.87087 8.606079,-4.86429 3.741774,-13.47039 -7.857725,-11.22532 -13.096206,-1.4967 -5.612662,2.24506 -4.864304,-2.24506 11.22154,-18.81879 13.229167,-1.85208 9.260417,-19.31459 -2.645833,-10.31875 -9.260417,-8.99583 -14.552084,-2.64584 -9.789583,-10.31875 -34.131251,-1.5875 -7.937501,79.90417 -7.408333,4.7625 -2.6458335,9.525 7.9375005,7.14375');
}

.hole7 #short-left-trees {
    clip-path: path('m 112.18334,778.40419 -53.445839,-24.34167 -10.583333,-75.67084 -13.229167,-71.4375 3.175,-33.3375 c 0,0 -8.466667,-52.3875 -8.466667,-54.50417 0,-2.11666 2.116667,-13.22916 2.116667,-13.22916 l -16.933334,-59.26667 -4.7625,-42.33334 -0.5291668,-33.86666 27.5166678,6.35 17.4625,21.16666 3.704167,3.70417 1.5875,5.82083 6.35,5.29167 5.820833,-3.175 8.995834,1.05833 5.291667,9.525 -0.941734,7.90054 -8.231902,7.85773 -6.735192,-1.49672 -2.619242,-0.37418 -3.367596,4.86432 -5.986836,3.74176 2.245064,3.74179 -1.122532,5.23849 7.109368,1.12252 6.735194,7.10938 2.61924,7.10935 -5.238483,16.08963 -6.361015,2.61925 4.864307,6.361 -1.122532,8.60608 8.606078,5.61268 -0.374176,6.36101 10.102787,7.85773 4.115951,6.73518 -2.245064,10.1028 3.741775,5.23848 v 8.23191 l -4.115952,6.361 -0.374179,0.74835 7.857726,8.60608 -0.374179,10.47697 3.741775,5.61266 -2.245064,9.72862 2.245064,5.61266 10.10279,64.35849 3.36759,31.80509 -2.24506,42.65621');
}

.hole7 #right-trees {
    clip-path: path('m 308.32214,353.97176 7.10936,134.70385 23.57318,1.8709 13.09621,54.6299 -39.28864,18.70884 -11.22532,1.49672 -10.85114,-5.23848 -16.4638,-11.97367 -15.34126,-9.72862 -14.21874,-4.49011 -11.97368,-9.35445 -2.24506,-11.22532 5.98683,-10.47697 8.23191,-5.23849 -1.87089,-1.87087 -14.59292,-0.37417 -11.22532,-6.36103 -5.61266,-12.72202 -1.49671,-19.08304 2.24507,-14.59294 9.72861,-5.98683 5.98683,-7.48353 -10.85114,-5.61266 -4.49013,-7.48355 -1.12253,-11.9737 11.5995,-14.59291 17.58633,-1.49669 11.22533,10.47694 10.10278,-1.87087 8.60608,-5.23848 -7.10937,-6.73521 -4.11595,-14.96708 9.35443,-13.09621 19.08304,-3.74177');
}

/* Outer Rough */
.hole7 #mid-right-outer-rough {
    clip-path: path('m 307.97501,354.27709 6.5051,135.10862 24.297,2.24932 11.95459,53.87809 -38.67789,17.70684 0.53927,32.63403 2.41809,50.33804 -13.17518,83.48624 61.72348,13.2779 1.07505,-198.1331 14.46801,-143.73943 -1.5421,-95.2253 -3.175,-101.33542 1.05833,-52.12292 -80.16875,-4.23333 18.78541,22.225 5.82084,17.99167 1.85208,11.1125 -4.23333,47.625 -1.32292,11.1125 0.52917,24.60625 -1.05834,13.75833 -5.55625,25.92917');
}

.hole7 #long-right-outer-rough {
    clip-path: path('m 296.86251,148.69584 79.375,4.7625 -1.5875,-74.083338 1.5875,-46.566668 -5.02708,-7.408333 -27.78125,-19.5791675 -18.25626,-8.4666669 -15.61041,1.0583334 16.13958,12.7 8.73125,11.641667 4.49792,10.318751 -1.85208,10.847916 -6.08542,8.995834 -7.67292,6.614584 -1.5875,3.175 -24.60625,10.054166 -4.23333,10.847917 v 8.466667 l 6.08541,18.785418 3.96875,2.38125 v 2.91042 l -6.35,6.61458 0.26459,5.82083 6.87916,7.67292 -2.91041,7.14375');
}