.hole6 .zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    pointer-events: all;
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

.zone-label-container {
    position: absolute;
    top: 20px;  
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 1000;
    display: none;
}

.zone-name-display {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    display: none;
    z-index: 1000;
    pointer-events: none;
}

/* Hover effects for different zones */
.hole6 #short-right-rough:hover,
.hole6 #short-left-rough:hover,
.hole6 #mid-right-rough:hover,
.hole6 #mid-left-rough:hover {
    background-color: rgba(255, 255, 0, 0.3);
}

.hole6 #green:hover {
    background-color: rgba(84, 240, 64, 0.4);
}

.hole6 #short-left:hover,
.hole6 #short-right:hover,
.hole6 #long-left:hover,
.hole6 #long-right:hover,
.hole6 #bunker:hover {
    background-color: rgba(8, 44, 3, 0.3);
}

.hole6 #teebox:hover {
    background-color: rgba(139, 69, 19, 0.2);
}

.hole6 #right-trees:hover,
.hole6 #long-trees:hover {
    background-color: rgba(2, 37, 2, 0.2);
}

.hole6 #long-left-outer-rough:hover,
.hole6 #short-left-outer-rough:hover,
.hole6 #short-right-outer-rough:hover {
    background-color: rgba(14, 5, 0, 0.2);
}

.hole6 #bunker:hover {
    background-color: rgba(255, 222, 173, 0.4);
}

/* Hole 6 */

/* Teebox */
.hole6 #teebox {
    clip-path: path('m 288.92501,1001.7125 16.93333,-144.46248 -30.69167,-128.5875 v -100.0125 l -50.27083,-2.11667 -30.69167,-4.23333 -82.02083,-2.11667 -5.82084,91.54583 2.64584,82.02084 6.35,61.38333 14.2875,49.74167 36.5125,98.42498');    
}

/* Green */
.hole6 #green {
    clip-path: path('m 235.21459,202.93542 8.46667,-5.55625 6.61458,-5.82083 2.91042,-6.35 0.26458,-8.20209 -3.70417,-7.9375 -4.49791,-3.96875 -6.61459,-5.02708 -6.35,-4.23333 -8.99583,-4.49792 -10.05417,-5.82083 -7.14375,-6.35 -7.9375,-8.73125 -7.67292,-10.31875 -8.46666,-9.78959 -10.05417,-7.14375 -12.43542,-2.38125 -10.05416,2.11667 -8.20209,5.82083 -5.55625,7.9375 -2.38125,8.99584 0.79375,12.43541 2.38125,12.7 2.64584,10.05417 4.49791,9.26042 4.49792,8.73125 5.02708,9.78958 4.7625,7.9375 5.02709,5.02709 7.9375,3.96875 10.84791,3.96875 9.78959,3.175 5.55625,0.79375 7.9375,-1.05834 12.7,-2.91041 11.1125,-3.70417');
}

/* Trouble Areas */
.hole6 #short-right {
    clip-path: path('m 189.44167,211.66667 -13.49375,25.13542 5.82083,4.23333 3.70417,6.08542 1.32292,8.73125 -1.32292,8.46667 -4.23333,5.82083 -5.55625,2.11667 -0.52917,16.66875 26.52742,28.00321 12.34785,11.97366 21.32811,8.98025 28.0633,1.8709 7.48354,-11.97367 -1.87086,-28.43747 -0.74838,-23.57318 0.37418,-15.71545 5.61266,-11.97368 13.09621,-7.48355 13.84456,-12.72203 13.84456,-18.70886 7.48356,-16.46381 4.49013,-16.4638 -5.98686,-15.34127 -14.21873,-19.45722 -11.59949,-12.72203 -54.25572,33.30178 7.48355,4.49013 4.8643,9.35443 -0.37417,8.98026 -3.3676,7.10937 -6.73519,6.73519 -12.34785,6.36102 -13.09621,4.8643 -15.71545,3.3676 h -5.98684');
}

.hole6 #long-right {
    clip-path: path('m 240.59603,162.39297 54.6299,-33.30178 -10.1028,-12.72203 -12.72201,-12.34786 -20.20559,-17.212154 -11.22532,-8.980258 -18.33469,-6.361015 -19.45722,-2.61924 -18.70887,-1.870887 -17.21216,-1.870887 -17.96051,-1.496709 -20.20557,-1.870887 -8.23191,-0.374179 21.70229,46.023816 7.48355,-4.11595 9.35443,-2.24507 11.22532,2.61925 10.47697,7.10936 8.2319,8.60608 8.98025,11.22532 9.35444,11.5995 7.48355,5.23848 10.85114,6.7352 8.2319,4.11595');
}

.hole6 #short-left {
    clip-path: path('m 189.70625,211.13751 -13.22916,26.19375 -8.20209,-4.23334 -9.78958,-2.38125 -9.26042,-0.79375 -10.84791,3.70417 -7.9375,5.02708 -4.7625,6.61459 -3.175,8.73125 -0.52917,4.49791 5.29167,7.40834 5.55625,5.29166 5.55625,3.43959 10.31875,1.85208 10.84791,-0.26458 8.46667,-2.11667 9.26042,-2.38125 -1.5875,17.72708 -16.66875,7.14375 -29.63334,5.55625 -30.956248,-11.37708 -19.579167,-14.81667 -18.520833,-33.07291 -11.377084,-23.01875 -5.820834,-17.19792 1.322917,-27.25209 -0.264583,-18.78541 95.514582,3.175 13.49375,28.31041 5.02709,7.67292 4.49791,5.55625');
}

.hole6 #long-left {
    clip-path: path('m 139.56815,160.14791 -5.23848,-22.63774 -0.37418,-11.78658 2.24507,-9.35443 5.79974,-8.04482 2.24507,-0.74835 -23.199,-46.959259 -59.868373,-7.10937 -3.367596,6.173925 -3.928864,9.354434 -3.928861,12.909119 -3.180506,16.837981 -1.496711,14.96709 -0.935443,18.52178 v 24.8828');
}

/* Bunker */
.hole6 #bunker {
    clip-path: path('m 148.17423,276.70414 11.5995,-0.37417 17.58633,-4.11594 4.49013,-2.05798 4.11595,-5.98684 1.30962,-8.41899 -1.68379,-9.35444 -3.3676,-5.79975 -5.42557,-3.74177 -8.41899,-4.30304 -9.35444,-2.24506 -10.10278,-0.74836 -11.03824,3.74178 -7.48354,5.05139 -5.23849,6.54811 -3.36759,9.35443 -0.37418,4.8643 5.42557,7.10939 5.42557,5.23846 5.79975,3.5547');
}

/* Trees */
.hole6 #long-trees {
    clip-path: path('m 150.41929,64.358503 69.97117,7.857726 11.22532,-4.115951 13.09621,3.741772 9.35443,-7.483547 25.44405,-9.72861 9.35445,-33.301784 L 180.35348,-2.2450641 102.89877,-1.4967094 83.067371,10.102788 123.10435,51.636474');
}

.hole6 #right-trees {
    clip-path: path('m 302.68334,548.21668 5.29167,-5.82083 38.62917,-37.57084 7.9375,-21.16666 14.81666,-70.90834 3.70417,-22.75417 32.80833,-46.56666 -0.52916,-96.83751 -38.62917,-1.05833 -13.75833,17.4625 -15.875,5.29167 -4.23334,6.87916 -3.175,10.05417 8.99584,11.64167 -11.64167,14.81666 5.82083,10.05417 2.11667,12.7 -5.29167,15.875 -14.81667,13.22917 -0.52916,29.10417 -11.64167,8.99583 -10.05417,25.4 -16.93333,10.05417 -3.70417,15.875 8.46667,13.75833 -8.46667,10.05417 -1.5875,16.93333 -9.525,3.70417 -5.29166,11.64167 4.23333,15.34583 12.7,13.22917 14.2875,10.05416');
}

/* Right Rough */
.hole6 #short-right-rough {
    clip-path: path('m 175.68334,289.45417 20.10833,333.90418 25.4,3.70417 54.50417,3.70416 -1.05833,-13.75833 29.63333,-70.90834 -17.4625,0.52917 -12.7,-10.05417 -13.75833,-15.34583 -2.64584,-13.75833 5.29167,-8.99584 8.46667,-5.29166 2.11666,-15.875 8.46667,-10.58334 -8.46667,-14.2875 4.23334,-15.34583 13.75833,-7.40834 6.35,-10.05416 6.35,-16.93334 11.64167,-11.1125 0.52916,-28.04583 13.75834,-13.75833 6.35,-15.34584 -2.64583,-12.17083 -5.29167,-10.58334 11.1125,-14.2875 -8.99584,-13.22916 3.17501,-9.525 5.29166,-5.82084 -71.4375,-3.70416 2.11667,62.70625 -6.61459,11.1125 -27.25208,-1.5875 -21.16667,-8.46667');
}

.hole6 #mid-right-rough {
    clip-path: path('m 219.6421,71.84205 11.5995,-4.115951 12.72203,3.367598 9.72861,-7.483547 15.34129,-5.986838 8.98025,-2.619243 3.74176,-13.470382 5.98683,-20.579755 15.71546,6.735191 16.4638,10.851145 20.57975,18.334688 17.21217,20.953932 16.08961,21.328108 11.22534,20.205574 8.2319,14.9671 8.98025,18.70887 -1.12254,96.53775 -33.30179,-4.11595 -14.21873,18.33469 -16.4638,6.36102 -69.97116,-4.86431 v -5.98684 l 5.98683,-11.97367 14.21874,-7.10937 13.09621,-12.72203 13.09622,-18.33469 8.60607,-17.21216 4.49011,-16.08963 -6.361,-15.34127 L 305.7029,140.69068 293.72921,128.71701 283.62643,115.6208 270.53022,103.64713 239.4735,78.203064');
}

/* Left Rough */
.hole6 #short-left-rough {
    clip-path: path('m 196.44311,623.00529 -84.18991,-1.12255 7.48355,-58.74583 8.2319,-44.90128 3.3676,-27.31495 -0.37418,-14.96708 -6.73519,-30.30837 -8.98026,-65.10687 -30.682538,-42.65623 -32.927608,-26.56657 -18.708868,-25.44406 -8.056772,-12.29233 -4.233333,-23.8125 50.270834,9.525 8.995834,16.93334 19.05,14.2875 30.162501,10.58333 31.22083,-5.82083 17.4625,-7.9375');
}

.hole6 #mid-left-rough {
    clip-path: path('M 153.03854,64.732682 123.10435,50.139765 84.938258,7.4835469 50.888118,22.450641 19.831399,53.133184 17.212158,75.958001 9.3544337,165.01221 l 12.7220293,86.43497 50.139766,8.2319 -22.450643,-40.41115 -5.986835,-17.58634 1.870884,-24.32153 -0.374176,-47.8947 2.619243,-35.172668 6.735191,-25.069882 6.735191,-14.967094');
}

/* Outer Rough */
.hole6 #long-left-outer-rough {
    clip-path: path('M 153.03854,64.732682 123.10435,50.139765 84.938258,7.4835469 50.888118,22.450641 19.831399,53.133184 17.212158,75.958001 9.3544337,165.01221 l 12.7220293,86.43497 50.139766,8.2319 -22.450643,-40.41115 -5.986835,-17.58634 1.870884,-24.32153 -0.374176,-47.8947 2.619243,-35.172668 6.735191,-25.069882 6.735191,-14.967094');
}

.hole6 #short-left-outer-rough {
    clip-path: path('m 196.44311,623.00529 -84.18991,-1.12255 7.48355,-58.74583 8.2319,-44.90128 3.3676,-27.31495 -0.37418,-14.96708 -6.73519,-30.30837 -8.98026,-65.10687 -30.682538,-42.65623 -32.927608,-26.56657 -18.708868,-25.44406 -8.056772,-12.29233 -4.233333,-23.8125 50.270834,9.525 8.995834,16.93334 19.05,14.2875 30.162501,10.58333 31.22083,-5.82083 17.4625,-7.9375');
}

.hole6 #short-right-outer-rough {
    clip-path: path('m 175.68334,289.45417 20.10833,333.90418 25.4,3.70417 54.50417,3.70416 -1.05833,-13.75833 29.63333,-70.90834 -17.4625,0.52917 -12.7,-10.05417 -13.75833,-15.34583 -2.64584,-13.75833 5.29167,-8.99584 8.46667,-5.29166 2.11666,-15.875 8.46667,-10.58334 -8.46667,-14.2875 4.23334,-15.34583 13.75833,-7.40834 6.35,-10.05416 6.35,-16.93334 11.64167,-11.1125 0.52916,-28.04583 13.75834,-13.75833 6.35,-15.34584 -2.64583,-12.17083 -5.29167,-10.58334 11.1125,-14.2875 -8.99584,-13.22916 3.17501,-9.525 5.29166,-5.82084 -71.4375,-3.70416 2.11667,62.70625 -6.61459,11.1125 -27.25208,-1.5875 -21.16667,-8.46667');
}